[2016-04-15 11:49] JockLawrie opened #1 "FYI - AccessControl.jl"
Hi there,

Found this project by looking at the (few) stars of SecureSessions.jl.
Thought you might be interested in [AccessControl.jl](https://github.com/JockLawrie/AccessControl.jl).

It is very much a work-in-progress, just thought I'd mention it, particularly if it overlaps with your project.
Feedback welcome, though I'm trying to keep it low-level at this stage to enable framework authors to

[2016-04-21 11:46] essenciary commented on #1
Thanks @JockLawrie - I've added AccessControl.jl to my list of cool packages I can use! I'm super happy every time I can use something already built as I'm still working alone on this and it's a lot to cover!

At this point I'm taking steps towards the MVP, which is the feature set for rapidly building high performance APIs. Hoping that this will generate enough enthusiasm and momentum to get more

[2016-04-21 13:43] datnamer commented on #1
Any early benchmarks compared to say django?

[2016-04-21 22:58] JockLawrie commented on #1
Hi Adrian,

Regarding your questions:
1. Token-based authentication. AccessControl.jl enables this in 2 ways: client-side sessions and server-side sessions. In client-side sessions the session token, as well as any other session information, is contained in the session cookie. In server-side sessions, the session token is stored in the session cookie, and any further session information is stored

[2016-04-21 23:01] JockLawrie commented on #1
...regarding benchmarks, no not at this stage. Currently I'm focusing on features, then security, then speed.

That said, I ran a simple hello world app i Julia and in Flask (Python) and Julia performed better. Not bad for no serious investment in performance optimization. This is a simple case however and doesn't reflect real world usage of course.

[2016-04-21 23:10] JockLawrie opened #2 "ConnectionPools.jl"
Another FYI: [ConnectionPools.jl](https://github.com/JockLawrie/ConnectionPools.jl) may or may not help too. Working example is in the README, as well as in `test/runtests.jl`.

Currently it supports only Redis, but I'd be happy to add support for ODBC/SqLite/Postgres if that would help jinnie.

[2016-04-22 00:44] JockLawrie opened #3 "EscapeString.jl"
...yet another FYI:

[EscapeString](https://github.com/JockLawrie/EscapeString.jl) may or may not be helpful. AccessControl.jl uses it to escape HTML in order to prevent XSS attacks. The package is tiny at this stage, but provides a simple unified interface for escaping strings, handy for web app security. The plan is to build it out as required.

[2016-04-22 12:42] randyzwitch commented on #1
Just want to jump in and say that I'm looking forward to seeing how this package evolves! I'm running juliabloggers.com on WordPress, I've love to switch it over to be served by Julia as proof that the language is maturing

[2016-04-22 13:49] essenciary commented on #1
@datnamer No benchmarks yet. For now I'm focusing on features, for promoting developer happiness and productivity. I expect Julia itself, being compiled, will provide good enough performance. Also, I've been coding relatively carefully, linting often, using types, memoization, etc.

Once that's done, either a 0.x release or even the whole v1 will be all about performance. The usual suspects for re

[2016-04-22 14:18] essenciary commented on #1
@randyzwitch I'm happy to hear it. Might take a while though, depending on how you want to approach it.

The issue is that a feature rich view layer is a huge undertaking - something that I don't feel I can solve on my own. Templates parsing and rendering, asset pipeline (minification, concatenation, versioning of assets) and caching are core. Then adding support for things like HAML, SCSS, etc.

[2016-04-22 16:36] datnamer commented on #1
Makes sense. What about Escher for the view layer? Its supposed to cover most or all of html, css etc

[2016-04-22 20:17] essenciary commented on #1
Yeah, could be a way to go about it. Though Escher seems to be a complete solution on it's own. Some sort of MVVM architecture - if you add some DBI, one could whip up a CRUD scaffold. Sure, there's more to it; validation comes to mind, for example.

One of the things I'd like to do at some point is to extract the various components into separate packages - the ORM would be a first candidate for t

[2016-04-22 20:50] datnamer commented on #1
Separating out the ORM sounds like a good idea.

Have you seen this: https://github.com/shashi/Relational.jl

Also this: https://github.com/JuliaDB

[2016-05-13 14:49] essenciary commented on #3
@JockLawrie Ah, that's nice! I'll check it out, cheers!

[2016-06-19 19:50] #3 closed

[2016-06-19 19:50] #2 closed

[2016-07-09 09:24] EricForgy opened #9 "Dependence on PostgreSQL"
PostgreSQL is not in METADATA and from the README seems like it never will be unless someone else takes the reigns. But I notice it is a dependency to run

[code]

I need to run

[code]

before genie.jl in v0.5 will run.

Not too serious, but just FYI :+1:

[2016-07-09 09:30] EricForgy opened #10 "using Genie"
At some point, we should aim to be able to do the following:

[code]

Unless I'm confused, the shortest distance to be able to run Genie is:

[code]

Also see #9

[2016-07-09 20:19] essenciary commented on #9
In order to start a Genie interactive session through the Julia REPL, just type:
`
$> julia -L genie.jl --color=yes -q
`

Then
[code]

[2016-07-09 20:19] #9 closed

[2016-07-09 20:20] essenciary commented on #10
Per the README

In order to start a Genie interactive session through the Julia REPL, just type:
$> julia -L genie.jl --color=yes -q

Then
[code]

[2016-07-09 20:20] #10 closed

[2016-07-09 20:23] essenciary commented on #10
But normally the workflow is more in the lines of a Rails app:
1. setup a new app
2. generate your MVC files (generators already available, try `./genie -h`)
3. setup your routes
4. (start server and ) serve

[2016-07-10 00:32] EricForgy commented on #10
But this isn't a Rails app. I never run anything from the command line. Not even your initial one line script to launch the REPL and run genie.jl. I just click on the Julia REPL and expect to be able to get to work. That is what other Julia developers would expect too. It shouldn't be too difficult to rearrange a few things so that from a fresh REPL, you just type

[code]

and it just works withou

[2016-07-10 06:06] sirinath opened #11 "Escher interoperability"
Can you have ability to interop with http://escher-jl.org/ and re use pages writen for it.

[2016-07-15 10:11] essenciary commented on #11
I would like to look into this at some point. I can see 2 ways to go about this. One, use Escher as the view layer, but I don't know if that's easily doable as it comes with it's own server. Depends on how straightforward it would be to decouple it from the server component. Two, which is probably the way to go, use Genie components with Escher, like for example the ORM. Once the framework will re

[2016-07-15 10:11] #11 closed

[2016-07-15 10:13] #1 closed

[2016-07-15 10:46] sirinath commented on #11
Also maybe the two projects can collaborate at some point share the functionality.

[2016-07-15 12:59] tcopestake opened #13 "POST data"
'lo.

I'd be interested in adding support for POST data if you don't already have it covered.

I already have some code written for getting POST and file data from my CGI module (see https://github.com/Jaylle/CGI.jl/blob/master/CGI.jl#L365 for example) - so I'd most likely use/modify that.

As for the interface, is there any preference for how this should be accessible and how it should work inter

[2016-07-18 05:51] essenciary commented on #13
@tcopestake Thanks, that would be awesome 👍

Support for POST was the very next on my list (days away). I'm currently adding user authentication and POST is obviously a requirement. If you could contribute it, that would be excellent! Also, if you have already implemented file data support in your codebase and can easily port it over, that would be super.

I like the idea of Input.post / Input.get

[2016-07-18 08:07] EricForgy commented on #13
I submitted a PR to URIParsers.jl ( https://github.com/JuliaWeb/URIParser.jl/pull/32 ) to allow easy processing of POST requests. I use this together with Pages.jl. We can all compare notes :)

[2016-07-18 08:27] essenciary commented on #13
🎅 👍

[2016-07-22 06:30] #13 closed

[2016-07-25 19:27] PallHaraldsson commented on #11
1. I was going to open an issue about separating SearchLight (the ORM) from, but I'm in no rush.

Just a question, it's not only that it could be useful for Escher(?), couldn't it also be useful for non-web GUIs? [I'm kind of ignorant on web-frameworks, seems ORM is they are more-or-less, independent of GUIs/web stack, but maybe not the other way around..?]

2. I'm not sure it's doable.. but could

[2016-08-04 03:10] datnamer opened #16 "CMS"
Any plans for a CMS?

Or would it be possible to integrate with a html CMS myself?

[2016-08-06 15:28] essenciary commented on #16
Kind of - it's still in early development phases and I'm just basically building it from the outside in, picking a project / product and building it, adding the necessary libraries in the process.
The demo project for the current v0.6 is a blogging platform - will use Julia's Markdown for editing articles. Should not be too hard to grow into a full size CMS.

[2016-08-08 15:34] #16 closed

[2016-08-08 16:28] datnamer commented on #16
I don't know HTML, CSS or JS...but if you can figure out a way to use Escher, I'd be happy to help with integration and development of the blog app.

[2016-08-09 15:32] PallHaraldsson opened #17 "LINQ support (FYI, at least..)"
I just noticed: https://github.com/davidanthoff/LINQ.jl/tree/dev

And know of SearchLight ORM here.

I only think I know a bit at a high-level what LINQ is about - an ORM(?).

So there seems to be redundant effort here(?). [And SearchLight was already planned to have it's own package.] I've not looked into the status of LINQ.jl (or SearchLight), but I think it may be the way forward for those who

[2016-08-16 09:16] essenciary commented on #17
Thanks, that looks very interesting. Although my experience with LINQ is very limited, I was exposed to it while dabbling in F#. LINQ and SearchLight are related, but not quite the same.

Quoting from StackOverflow:
LINQ is an abstraction layer for working with data which allows for set based operations, projections, filters, etc on anything that can be enumerated over. It just happens to have pro

[2016-08-16 09:16] #17 closed

[2016-08-22 14:07] essenciary commented on #13
@tcopestake
I've been successfully using Input.post in Genie for a while now - happy to say it works great!

However, I've stumbled into an issue: when POST-ing data, the spaces in the submitted data are replaced by "+". I can easily convert the "+" to " " in my POST processing function, but then the trouble is, it will also replace plus symbols inserted by the user.

It would be awesome if the li

[2016-09-22 20:03] JeffreySarnoff opened #18 "DBI is unknown, even when present"
on Windows

![image](https://cloud.githubusercontent.com/assets/1682118/18764114/18e435e0-80de-11e6-9d1c-0d3ff48a8492.png)

[2016-09-23 10:24] essenciary commented on #18
Thanks

Hard to say, I don't do anything funky in there, this is handled by core Julia.

What if you try to do "using DBI"? Does that work?

[2016-09-23 10:56] JeffreySarnoff commented on #18
yes, it does

There seem to be two things --

In that thread is a suggestion to use [DeclarativePackages.jl](https://github.com/rened/DeclarativePackages.jl).

[2016-10-03 05:06] essenciary commented on #18
No, not using PatternDispatch.

DeclarativePackages - yes, planning on switching to it very soon, although mainly for different reasons: being able to lock package version on a project by project basis.

Did you manage to get it working? Or have you encountered similar problems with other packages? I haven't run it on windows since 0.5 came out, just MacOS and Linux, worked fine.

[2016-10-07 19:31] foucist opened #19 "Hydration / dehydration?"
Just a dumb question, but is this the same thing as serializing & deserializing?  Because it seems like a poor name if so.

[2016-10-10 14:31] essenciary commented on #19
In a way. It's persistence to DB and reading from DB plus the corresponding hooks. Any suggestions on how to name it better?

[2016-11-01 18:13] randyzwitch opened #20 "Minimal working example?"
I've been following this project for some time, and found I have some spare VMs to mess around on! Do you have a minimum working example available so I can check this package out?

I'm only lightly familiar with Flask, having built an app or two. So really, just something for Genie that defines a page, maybe a database export I can import...just something to get me started would be fantastic.

[2016-11-08 21:29] essenciary commented on #20
@randyzwitch The project is still under heavy development, with things changing and breaking often. For each major set of features (grouped under a minor version) I build a test app. The test app grows in parallel with the framework.

The important parts from a framework user's perspective are in /app and /config

In the v0.5 branch, in /app you can find the stable test app running here:
http://ge

[2016-11-09 17:50] #19 closed

[2016-11-10 01:13] randyzwitch commented on #20
Thanks! I'm aware of the status, and have built quite a few packages myself. I really just wanted to see what you're up to, and maybe contribute if I can (my long-term goal would be to move juliabloggers.com to a Julia web stack to show off)

[2017-01-12 00:00] datnamer commented on #20
@essenciary I have a  production need for a MVC framework and was wondering if it can work in it's current state?

My primary requirements are getting it up and running without too much fiddling, a CMS for non programmers and very very minimal front end coding in CSS, HTML and JS (generating that from julia models would be better). Can it do that now, or will it be able to at some point? Or is the

[2017-01-17 21:31] essenciary commented on #20
@datnamer Actually I've built something in this line as a demo/test app. It's got a password protected admin that allows editing articles using a markdown editor. On the front the app generates html for various types of pages: home, categories [lists of articles] and article page. It uses a bootstrap theme that you can replace / tweak.

If you want to give it a try I can setup a demo for you - if

[2017-01-17 23:58] datnamer commented on #20
@essenciary Thanks. That sounds amazing, but It turns out we need just more of a single page business card type of thing so we went with one of the drag and drop GUI website builders for time efficiency.

[2017-01-26 13:25] konstantinmamontov opened #21 "No YAML package for Genie-0.7.0 with Julia-0.5.0"
Hi, i tried to use Genie with Julia-0.5.0 on Windows8

Genie.jl-0.7.0>julia -L genie.jl --color=yes -q

Starting Genie in >> DEV << mode using 1 worker(s)

ERROR: LoadError: LoadError: LoadError: LoadError: ArgumentError: Module YAML no
t found in current path.
Run `Pkg.add("YAML")` to install the YAML package.

julia> Pkg.add("YAML")
ERROR: unknown package https://github.com/JuliaDB/DBI.jl requir

[2017-03-21 17:37] datnamer opened #22 "Extending the ORM to neo4j"
How much work would that be?

It has a different querying language and is not a relational dn, but a graph db.

Edit: Maybe I don't need a graph db? I have entities that are related to multiple categories and to each other.

Can this be modelled currently or since tbe relationships will be many to many and there is no multiple inheritance , i would need to add code?

Maybe model composition instea

[2017-04-01 15:17] essenciary commented on #22
My experience with graph DBs is very limited so I can't say with any degree of certainty.

For a RDBMS the implementation should be pretty straightforward. SearchLight uses something like the bridge pattern in a structure similar to:
[1. SearchLight Developer API] > [2. DB specific SearchLight adapter] > [3. low level Julia DB library]
1 - exposes the querying API to the developer - normally it sh

[2017-04-04 23:04] o314 opened #23 "[RFI] License"
Under which license is Genie.jl distributed ?

I haven't found any precise information for now.

Thanks
Oli

[2017-04-17 15:01] essenciary commented on #23
Oli, as this is still work in progress i haven't thought much about it. I'm thinking similar to Julia should be fine, so MIT. I'll add the license file.

[2017-04-20 20:54] o314 commented on #23
Hi.
It's not so much a problem it's a work in progress - not so many 1.0 package on the linux distro side.
However for my part, the license is crucial to know if i will use / collaborate with a project.

MIT license is good to foster collaboration. GPL kills even the smallest effort of test refactoring and seems dead today https://www.theregister.co.uk/2013/04/18/github_licensing_study/

Julia nee

[2017-05-09 14:19] essenciary commented on #23
Now licensed as MIT :)

[2017-05-09 14:19] #23 closed

[2017-05-09 17:47] datnamer commented on #20
hi @essenciary !  im looking at genie again for another app.

how are the views looking these days? will i need to do alot of html / JS?

if not,  how best to get started developing?  thanks

[2017-06-06 12:59] essenciary commented on #21
Hi, sorry - just seen this 😱

Probably too late now, but you can try the latest version, it's made good progress in terms of package setup, requirements, etc. If you have time, give it a try and let me know how it goes.
http://genieframework.com/

[2017-06-06 12:59] #21 closed

[2017-06-06 13:00] #22 closed

[2017-06-06 13:24] #18 closed

[2017-06-22 00:31] hpoit opened #24 "Errors during new app creation in 0.6"
Hi Adrian! I would appreciate your help!
https://gist.github.com/hpoit/6a036f8f562c9f7abb95aeb3124e788b

[Version changes](https://github.com/JuliaLang/julia/blob/master/NEWS.md#julia-v060-release-notes) have been happening at the speed of light, I'm busy just keeping up with them.

[2017-06-22 20:31] wr125 commented on #24
Please note the following error below (using windows 10, 64bit, Julia and juno installed and working fine).

(Note: same issue using juno's console and Julia's native terminal)

Pkg.build("Gumbo")

INFO: Building Gumbo
INFO: Attempting to Create directory C:\JuliaPro-0.5.2.2\pkgs-0.5.2.2\v0.5\Gumbo\deps\downloads
INFO: Directory C:\JuliaPro-0.5.2.2\pkgs-0.5.2.2\v0.5\Gumbo\deps\downloads already cr

[2017-06-22 21:36] wr125 commented on #24
Update: looks like we an issue with both (master) files.

- DocStringExtensions           0.3.3
 - Documenter                    0.11.1
 - Flax                          0.0.0-             **master**
 (unregistered)
 - Genie                         0.0.0-            **master**
 (unregistered)
 - Lumberjack                    2.1.0
 - Memoize                       0.1.0
 - Millboard

[2017-06-23 17:53] wr125 commented on #24
New update: tried the following attempts but still unable to resolve.

julia> Genie.REPL.new_app("demo_app")

2017-06-23T17:49:32.85 - info: Done! New app created at C:\JuliaPro-0.5.2.2\demo_app

2017-06-23T17:49:33.082 - info: Looking for dependencies

2017-06-23T17:49:33.082 - info: Checking for Flax rendering engine support

2017-06-23T17:49:33.082 - info: Finished adding dependencies

2017-06-

[2017-06-23 18:19] quinnj opened #25 "Switch to HTTP.Server"
Hey @essenciary, really enjoyed your JuliaCon talk. Over the last little while, I've been working on overhauling some of the fundamental webstack packages, including HttpCommon, HttpParser, HttpServer, URIParser, and Requests.jl. I've consolidated the packages (for now) into a single [HTTP.jl](https://github.com/JuliaWeb/HTTP.jl) package that is meant to be a full replacement for the previous pack

[2017-06-23 20:35] hpoit commented on #24
Hi @wr125, could you open a new issue, as your issue is not the same as mine? I would appreciate it. Cheers.

[2017-06-23 22:35] essenciary commented on #24
@hpoit I haven't yet released a version of Genie for Julia 0.6 - the master is still on 0.5.

Looking at stacktrace it looks like an error in one of the dependency packages, `AbstractTrees` - used in `Gumbo` - which is in turn used by Genie. So deep down the dependency stack.

You can try `using Gumbo` and open a new issue directly with the maintainer of the package, he's very helpful.

Now that 0

[2017-06-23 22:43] essenciary commented on #24
@wr125 It seems that in the beginning there were different problems with the dependencies.

For the more recent issue, indeed, there is a problem with loading the app on windows. The app was successfully created, but loading it doesn't work. I'll release a patch in the next few days.

Until then you can just do this:
1. if you're in Juno just restart the Julia server
2. `cd()` into the Genie app's

[2017-06-23 22:59] essenciary commented on #25
@quinnj That's excellent news, thanks so much for your effort! Yeah, absolutely, I'll do the switch, thanks for the heads up!

Any PRs are greatly appreciated! :)

---

PS - looking forward to the updates in handling NULLs, I really liked the direction it's going, great talk!

I personally find the handling of NULLs a bit clumsy - having to check for them and manually unwrap them really breaks the

[2017-06-24 00:07] hpoit commented on #24
Thanks Adrian, I got it to work in 0.5.2, I should be good for now. Cheers.

[2017-06-24 02:34] essenciary commented on #24
@hpoit Glead to hear it 👍

[2017-06-24 10:42] wr125 commented on #24
Latest update:

Step 1
(Juno: console)

Pkg.update()
INFO: Updating METADATA...
INFO: Updating Genie master...
INFO: Updating SQLite master...
INFO: Updating Flax master...
INFO: Computing changes...
INFO: No packages to install, update or remove

Step 2
(Juno: console)
Still within App (directory)
using Genie
./genie.jl s
syntax: "./" is not a unary operator
genie.jl s
syntax: extra token "s" aft

[2017-06-24 11:51] wr125 commented on #24
Correct me if i'm wrong but the loading.jl file is trying to retrieve a direct file path that is not stated (undefined)! If so, where would the string "C://....." be placed? Also, looks like the initial install of Julia's terminal directory is stored "C://JuliaPro-0.5./" where the web development environment boots from "C:\Users\UserName\AppData\Local\JuliaPro-0.5.2.2" and so here is where we get

[2017-06-24 12:15] wr125 commented on #24
Ubuntu!!!

[2017-06-25 04:52] jpfairbanks opened #26 "Registering on MetaData"
Hi @essenciary, I really enjoyed your JuliaCon talk and I am so excited to start writing Genie Apps!

Is there something that prevents this package from being registered on MetaData? The current docs indicate that `Pkg.clone` is the method for getting this package.

[2017-06-25 18:11] essenciary commented on #24
@wr125 The workflow in the documentation is 100% *nix based - so macos and linux only. That would not work for windows, I need to update it.

However, I have good news - I just finished adding support for windows for creating and starting Genie apps.

1 - please try again creating a new app, it should just work. Please let me know if that's not the case, I tested on Win 10, all good

2 - once you

[2017-06-25 18:26] essenciary commented on #26
Thanks @jpfairbanks I'm glad you liked it!

Just the lack of a user-friendly installer, as SearchLight requires an unofficial package, PostgreSQL.jl.

I'm not sure what to do about PostgreSQL.jl, it's not getting any love in the Julia community, so it's possible that support for PostgreSQL will disappear altogether in v0.6 if nobody upgrades the package.

That being said, after over a year of focu

[2017-06-25 19:25] essenciary commented on #24
@wr125 I've added extra instructions to run on Windows on the repo's README page

[2017-06-25 19:25] #24 closed

[2017-06-25 19:35] essenciary commented on #20
@datnamer I've added 2 new demos from my Genie presentation at JuliaCon 2017
https://github.com/essenciary/genie-demo-hello-world
https://github.com/essenciary/genie-demo-tweet-stats

Also, I've uploaded the slides, it's better if you take a look at these first, they introduce the demos (look into v1.1)
https://github.com/essenciary/JuliaCon-2017-Slides

[2017-06-25 19:35] #20 closed

[2017-06-26 18:50] jpfairbanks commented on #26
Can you use ODBC.jl instead of Postgres? According to @quinnj, [ODBC](https://github.com/JuliaDB/ODBC.jl/) is stable and ready for production ;)

I see that Searchlight require MySQL.jl. Do you intend that Genie require all possible database packages in order to install genie? That seems fragile.

Registration should come sooner rather than later, because then people can start using and contributi

[2017-07-03 13:22] DRVTiny opened #28 "Warnings on 0.6.0"
On Julia 0.6.0 i've got a lot of warnings when "using Genie":
[code]
Are you plan to completely switch to 0.6.0 in a near future? I will be very appreciate if you start new "temporary" git branch for 0.6.0 containing Genie code with fixed/modern Julia syntax.
I'm totally newcomer to Julia, so i'm not sure that i can fix all of this warnings correctly myself :(

[2017-07-03 17:10] essenciary commented on #28
My plan is to setup a v0.5 branch before switching the master to v0.6, in case anybody will want to stay on v0.5.

I'm working on a v0.6 branch already but I'm blocked by some key dependencies that are broken on v0.6. So it's not only these warnings, the framework won't actually work (starting servers, rendering views, etc).

[2017-07-03 17:10] #28 closed

[2017-08-26 18:58] linuslagerhjelm opened #29 "ErrorException in example application"
Hi, was thinking about trying out this framework which seems super cool. However, when I try to get started using the instructions in the README file i end up with the following error when going to localhost:8000

[code]
And I can not see anything but the 500 - error page in the browser 😞

[2017-08-26 20:05] linuslagerhjelm commented on #29
This seems to be a problem that was introduced in Julia 0.6 as the [release notes](https://github.com/JuliaLang/julia/blob/master/NEWS.md) specifically says that it removed .data field on strings:

[2017-09-26 05:24] anymate98 opened #30 "fix src/Genie.jl"
This error occurred in Solus Linux, julia v0.6
[code]
The problem was in `src/Genie.jl`

in line 8,
[code]
`configuration.jl` should be changed to `Configuation.jl` since the file name in the `src` folder is the capitalized one...

I fixed this and it ran well!

[2017-09-29 21:20] essenciary commented on #30
Thanks, actually the fix was the other way around, the file name should've been renamed to "configuration.jl". Because my file system is case insensitive, I didn't realize that git didn't pick the file rename.

I did it to avoid that Julia automatically includes the module. Might not be necessary as I'm also explicitly including it. But there were problems when also including SearchLight which has

[2017-09-29 21:25] essenciary commented on #30
I've configured my git to become case sensitive and committed the change (though it doesn't show on Github...).

[2017-09-29 21:25] #30 closed

[2017-09-29 21:26] essenciary commented on #29
@linuslagerhjelm Sorry, it took a bit but now Genie is fully compatible with Julia v0.6

[2017-09-29 21:26] #29 closed

[2017-09-29 21:34] essenciary commented on #26
@jpfairbanks Thanks. I've worked a lot lately on refactoring and removing coupling between Genie and SearchLight and tweaked the requirements.

SearchLight now has support for PostgreSQL, MySQL and SQLite and I'm also planning on adding support for ODBC.

Genie doesn't require SearchLight anymore, so we can have web apps without the ORM. Also, SearchLight doesn't depend on Genie anymore, so we can

[2017-11-27 09:20] jonathanBieler commented on #19
I also had some issues understanding what these names are about, reading this it seems to be a common problem.

https://stackoverflow.com/a/4929478

Maybe `fill` and `empty` (with ! ?) would be more Julian.

[2017-12-23 19:55] GearsAD opened #31 "Authentication layer example"
Hi,

I'd like to use OAuth 2.0-type authentication as part of an API. I can't seem to find an example of how to implement this using the existing auth layer. Is there an example, if not could I help write one?

Thanks! Great library by the way.

[2017-12-24 15:21] essenciary commented on #31
Genie doesn't have built in support for OAuth authentication - it offers only basic user / pass local authentication backed by DB storage.

An OAuth 2 workflow takes place mostly on the side of the authenticating service and that dictates the implementation. In general, you only need to setup the callback URLs and the corresponding code to process the payload (authorization code and access token).

[2017-12-24 15:21] #31 closed

[2018-02-06 12:30] GearsAD commented on #31
Thanks. We're looking at using AWS Cognito with its federated logins. Still reading up on all of it, if we get it running smoothly we'll definitely try to get a PR in.

[2018-02-26 15:59] dehann commented on #26
+1 for registering Genie.jl on METADATA. Thanks for the awesome package!

[2018-02-26 16:19] essenciary commented on #26
@dehann sorry, I did not register it just yet. I did register my first package it's true, but it's more of a test package for a Julia book that I'm working on.

But Genie will be next, now that I've learned the ropes :)

[2018-03-03 20:11] GearsAD opened #32 "Updated signatures for route.jl"
Hi,

We just pulled latest master branch and we see that the route definitions have changes (can't use a route(string,string...) route after recent commits. We compared the versions and those signatures have been removed. https://github.com/essenciary/Genie.jl/compare/c0cd59b...f92789e

Looking for best way forward - is there another pattern that we should follow for route definitions? The example

[2018-03-07 15:39] essenciary commented on #32
@GearsAD Indeed I've recently updated the code to simplify routing. Now `route` only accepts `(String, Function)` or `(Function, String)`. They support two usage patterns:
[code]

These methods are here to stay. I believe that this approach is much more Julian, as both `first-class functions` and `do blocks` are idiomatic Julia. The removed methods were doing the same, but with unnecessary complex

[2018-03-07 15:39] #32 closed

[2018-03-13 15:46] berzley commented on #22
@datnamer Did you ever venture down this path or possibly with another graph DB?

[2018-03-13 20:10] datnamer commented on #22
@berzley  nope. Ended up not needing to do so.

[2018-03-19 18:32] mbeltagy opened #33 "Errors when trying to start Genie"
I just installed Genie by

[code]

When try start it, I get

[code]
I am using

[code]

[2018-03-20 15:53] grandtiger commented on #33
I ran into the same problem, on both Windows and Linux. A fix would be great. Thanks!

[2018-03-20 15:57] mbeltagy commented on #33
It is a single line fix.  See the pull request.  Hopefully,  it gets merged.

[2018-03-21 07:17] #33 closed

[2018-03-21 07:17] essenciary commented on #33
Thanks - I can't reproduce the error but I see no problem setting the default. Merged, thanks for your contribution!

[2018-03-21 07:19] mbeltagy commented on #33
Perhaps we need to set up testing and travis integration. I would be happy to help.

[2018-03-21 09:41] essenciary commented on #33
Yes, definitely! The framework is quite rich now in terms of features, so I'm putting more of my time into consolidation of other areas. Top priorities are:
* user documentation - I'm working on a series of guides and tutorials for using Genie
* code documentation - planning on going over the docstrings, updating and rebuilding docs
* tests - adding extensive tests for the framework
* setting up C

[2018-03-26 14:03] berzley opened #35 "DB Initialization Removed"
e5595725d6684fde3315a801b249d2e04a33d8cc  Removed `Genie.REPL.db_init()` and is still referenced in documentation.

Best I can tell this function is still needed for initializing schema_migrations.
Alternatively a user could just run `SearchLight.create_migrations_table(App.config.db_migrations_table_name)` directly.

[2018-03-30 15:01] berzley opened #36 "UndefinedVarError Registering Channel/WebSocket"
Creating a channel and registering a new websocket catches a critical error.

ex. Route
[code]
ex. JS call
[code]

When accessed, a critical error is caught near [AppServer.jl:75](https://github.com/essenciary/Genie.jl/blob/713eaa191876b4b374d6c11a72ea07979a3a0a1c/src/AppServer.jl#L75)

Tracing back, it looks to be an an UndefinedVarError in [Route.jl:540](https://github.com/essenciary/Genie.jl/bl

[2018-04-02 19:06] essenciary commented on #35
The documentation is out of sync -- I've made a lot of changes lately. I'll get to that soon as I'm planning a revamp of the docs as well plus automatic regeneration via CI.

That being said, the removal of `db_init` is part of a cleanup and disentangling process: the idea is to separate Genie (used for handling web requests and responses) from SearchLight (the ORM). Thus, `db_init` is now part of

[2018-04-02 19:10] #36 closed

[2018-04-23 07:16] essenciary commented on #32
Can you provide more details, please? What is the route and what is the error that you're getting?

[2018-04-23 14:43] GearsAD commented on #32
Sure, using the boilerplate applications generated by last year, if I don't explictly include the controllers in the routes file, it doesn't find the controller (in the case below - AuthController). My workaround is to just include them, which works but doesn't feel right.

I was thinking of two potential workarounds, but wanted to ask about it first. Workarounds:
- Explicitly include all my contr

[2018-04-23 16:41] essenciary commented on #32
OK, I understand.

Try this:
1 - rename `/app/resources/auth/controller.jl` to `/app/resources/auth/AuthController.jl`
2 - replace `include("../app/resources/auth/controller.jl")` with `using AuthController`

This should be all.

[2018-04-23 16:48] essenciary commented on #32
As a side note, an "auth" is not really a resource in the REST meaning of the word. So depending on the functionality that you have in `AuthController` it might be more natural to set up an `Auth` library (module) and place it in `/lib`. All modules in `/lib` are also automatically loaded by Genie and available in `routes.jl`. (However, if your `AuthController` needs to orchestrate interactions be

[2018-04-24 13:53] GearsAD commented on #32
Gotcha - that pattern works - thanks!

Yes, it was a custom auth endpoint originally, but it's vestigial at the moment (just my test endpoint).

[2018-04-24 13:56] essenciary commented on #32
Excellent! 😀

[2018-05-02 13:46] giadasp opened #41 "genieframework.com doesn't work"
I tried to visit you site but the page doesn't work, it's blank.

[2018-06-17 20:32] datnamer opened #43 "Integration with new Interact family?"
One of the things which excite me most about Julia is solving the web  two language problem. This won't go away completely until compilation to WASM is improved, but there are really meaningful steps in the new Interact work  by @piever: https://discourse.julialang.org/t/ann-interactbase-a-redesign-of-interact-to-create-and-style-web-apps-in-julia/11471/2

Have you thought about integration with G

[2018-06-22 10:03] piever commented on #43
On the technical side, Interact* is based on WebIO to actually render and serve the widgets, so the integration would have to be Genie / WebIO (the only library Interact* uses is knockoutjs to sync observables to widget values). To render WebIO nodes in the browser, normally one can use Mux.jl, which has support defined [here](https://github.com/JuliaGizmos/WebIO.jl/blob/master/src/providers/mux.j

[2018-06-22 10:12] essenciary commented on #43
Yes, I've been thinking about the idea. And I've also had something similar in mind for many months now. I'm working on something similar, but I'm not sure I'd go this way (with WebIO and Julia Gizmos). My focus at the moment is on building something very similar to Ploty's Dash. I have most of the pieces lined up in Genie's MVC stack already.

[2018-06-22 10:52] essenciary commented on #43
Not at all, I just have a different vision, that's all.

I want to wrap web components into Julia modules and provide a protocol for communication over websockets. Thus I'm thinking Polymer 2, probably with a dash of React on the front. This plays nicely with Genie's narrative (the existing MVC stack and assets [JS, CSS, HTML] management strategy via Webpack).

The downside is that it won't displa

[2018-06-22 20:52] essenciary commented on #25
Working on the HTTP.jl stack now

[2018-06-22 20:52] #25 closed

[2018-06-25 19:52] datnamer commented on #43
As a web naive end user, the overhead would be significantly lower for me if the web packages coalesced around common components as proposed here by @piever.

Unless there are significant technical or philosophical challenges, I  see only benefits from the maintenance, code reuse  and community/ innovation perspectives if interact/webio et al is used.

[2018-06-26 01:30] joshlemer opened #44 "Link on main website broken."
In the top right, the link to "Discover Julia Packages" points here: http://genieframework.com/packages which returns a 502 error.

[2018-06-26 01:32] joshlemer commented on #44
also I noticed that www.genieframework.com isn't working

[2018-06-26 06:42] essenciary commented on #43
@piever Thanks for the details, I'll take a look. Just as heads up, there's also been a lot of progress with HTTP.jl -- which provides the web server, web sockets integration and a few auth schemes. Dataset upload should be straightforward.

"Some way to prevent the app from making major damage on the server" can be quite tricky, I thought about it myself. I'm thinking something heavily inspired b

[2018-08-06 19:58] ChobeChuca opened #45 "Module distributed no found in current path"
julia> using Genie
WARNING: requiring "Dates" in module "SearchLight" did not define a correspondin
g module.
ERROR: LoadError: LoadError: ArgumentError: Module Distributed not found in curr
ent path.
Run `Pkg.add("Distributed")` to install the Distributed package.
Stacktrace:
 [1] _require(::Symbol) at .\loading.jl:435
 [2] require(::Symbol) at .\loading.jl:405
 [3] include_from_node1(::String) a

[2018-08-06 20:25] essenciary commented on #45
Sorry, working hard to update Genie for Julia 0.7/1.0 - I didn't have the time to update the docs, but it's no longer compatible with Julia v0.6. This error is caused by the new package dependencies in v0.7

[2018-08-06 20:25] #45 closed

[2018-08-13 03:38] drinkmorewaters opened #46 "Add package for 1.0 needs updating on front page and website."
Pre 1.0:

Pkg.clone("https://github.com/essenciary/Genie.jl")

Post 1.0:

Julia> ]

(v1.0) pkg> add https://github.com/essenciary/Genie.jl

[2018-08-13 12:03] drinkmorewaters opened #47 "Nothing shows up after running server"
Julia 1.0 OSX

`julia> HTTP.listen() do request::HTTP.Request
          @show request
          @show request.method
          @show HTTP.header(request, "Content-Type")
          @show HTTP.payload(request)
          try
              return HTTP.Response("Hello")
          catch e
              return HTTP.Response(404, "Error: $e")
          end
       end
[ Info: Listening on: Sockets.InetAddr

[2018-08-13 12:05] drinkmorewaters commented on #47
Wrong thread my bad!

[2018-08-13 12:05] #47 closed

[2018-08-13 12:07] drinkmorewaters opened #48 "Error when running using Geni"
Error when running "using Genie"

Julia 1.0 OSX

`julia> using Genie
[ Info: Precompiling Genie [f2e6c872-b7ec-5699-ac8c-130193b63b97]
ERROR: LoadError: LoadError: ArgumentError: Package Genie does not have YAML in its dependencies:
- If you have Genie checked out for development and have
  added YAML as a dependency but haven't updated your primary
  environment's manifest file, try `Pkg.resolve(

[2018-08-13 12:17] drinkmorewaters commented on #48
Doesn't work on 0.7 either. So not sure. Tried "Pkg.resolve()" nothing was updated.

[2018-08-13 12:26] essenciary commented on #48
@drinkmorewaters Give it a few more days, I'm working on it. v0.7/v1.0 was a massive rewrite and the Pkg situation is still in limbo. I'm working on sorting it out these days, I'm almost there.

[2018-08-13 12:27] drinkmorewaters commented on #48
No rush, thanks for the hard work.

[2018-08-13 12:38] essenciary commented on #48
Cheers! I'll update you on this issue.

[2018-08-23 09:03] Negaihoshi opened #49 "Can't install genie"
I use Julia v1.0
I follow guide, but it's not working now.

<img width="1279" alt="2018-08-23 5 02 11" src="https://user-images.githubusercontent.com/1733006/44515998-7d59c180-a6f6-11e8-917c-e73119dca3cb.png">

[2018-08-28 10:18] essenciary commented on #43
Yes, it's tricky, but Polymer and web components have come a long way. Polymer is now at v3 and there is much better support for web components.

It's not that I'm a fan of it -- but Predix-UI looks like a low hanging fruit: a large collection of powerful UI elements, distributed under permissive licensing and with an architecture which lends itself to backend integration with the current Genie st

[2018-08-30 09:13] msmmi opened #51 "error using Genie julia (1.0.0)"
when i type using Genie shows error here is error trace : -

WARNING: could not import Base.reload into Util
ERROR: LoadError: LoadError: MethodError: no method matching parse(::String)
Closest candidates are:
  parse(::Type{LibGit2.GitCredential}, ::AbstractString) at /home/mksmmi/julia/usr/share/julia/stdlib/v1.0/LibGit2/src/gitcredential.jl:71
  parse(::Type{LibGit2.GitCredentialHelper}, ::Abst

[2018-08-30 09:38] essenciary commented on #51
Thanks - update and try now.
However, it's probably too early to run on v1.0 -- might be safer to stay on 0.7 until all the dependencies are updated.

[2018-08-30 09:38] #51 closed

[2018-09-11 14:50] showsaitoh commented on #49
I have same problem. I'm waiting for Support 1.0 too...

[2018-09-11 18:51] michi-zuri commented on #49
Just did a clean install of 0.7 and managed to get a Genie server running. But when I visit https://killian.uber.space I only get `Error 404: /` in the browser and the following is the output of my terminal session. I have a .htaccess file in place that forwards incoming traffic to port 63407 (and on Uberspace v7 all traffic to port 80 is automagically redirected to port 443)

[code]

[code]

[2018-09-11 23:52] showsaitoh opened #53 "Can't start Genie interactive mode"
An installing of Genie was succeeded first time today.
But Genie console don't automatically start when I created new app.
If I run Genie server by myself (click .bat or , run bin/server) I get errors.

I'm using
Windows 10, Powershell
Julia v1.0
Genie (up to date)

[code]

[2018-09-12 02:13] acangiano commented on #49
Clean install on 1.0 and I get the following when visiting `localhost:8000/hello`:

[code]

[2018-09-12 07:06] essenciary commented on #53
Thanks - yes, it no longer automatically loads the app, felt too hacky.
I'll update the docs to reflect the change.

So why can't it open the file C:\users\wall-e\juliatest\genie.jl ?
Is the file there? Are you using PowerShell?

[2018-09-12 10:47] essenciary commented on #49
@acangiano Fixed -- can you please update and try again?

[2018-09-12 14:36] acangiano commented on #49
Thank you for your prompt update @essenciary. Unfortunately, I get a segfault upon creation of a new app:

[code]

[2018-09-12 16:29] swenremake opened #54 "Warning: Replacing docs for `Genie.REPL.secret_token :: Tuple{}` in module `Genie.REPL"
can not enter interactive session
julia = Version 1.0.0
window 10

`julia> Genie.REPL.new_app("your_cool_new_app")
[2018-09-12 11:54:37|info]: Done! New app created at C:\Users\swen\desktop\julia\your_cool_new_app
[2018-09-12 11:54:38|info]: Changing active directory to your_cool_new_app
[2018-09-12 11:54:38|info]: Installing app dependencies
  Updating registry at `C:\Users\swen\.julia\registries

[2018-09-12 16:34] essenciary commented on #54
What do you have in that file at line 39? Is the file identical to the one at https://github.com/essenciary/Genie.jl/blob/master/files/new_app/genie.jl ?

If not, please do a `pkg> up` to get the latest Genie master.

[2018-09-12 20:26] aalexandersson commented on #49
I now get

[code]

[2018-09-12 21:46] swenremake commented on #54
ha thanks I this did a clean install
now i am getting

`ERROR: LoadError: Base.Meta.ParseError("invalid escape sequence")
Stacktrace:

 [1] #parse#1(::Bool, ::Bool, ::Bool, ::Function, ::String, ::Int64) at .\meta.jl:129
 [2] #parse at .\none:0 [inlined]
 [3] #parse#4(::Bool, ::Bool, ::Function, ::String) at .\meta.jl:164
 [4] parse(::String) at .\meta.jl:164
 [5] top-level scope at none:0
 [6] in

[2018-09-12 22:34] essenciary commented on #54
Can you check now? I pushed a lot of updates (plus new README)

[2018-09-12 22:34] essenciary commented on #53
Can you check now? I pushed a lot of updates (plus new README)

[2018-09-12 22:35] essenciary commented on #49
Sorry, I've been pushing a lot of updates all day long.

Can you check now? I pushed a lot of updates (plus new README)

[2018-09-12 22:35] essenciary commented on #48
Can you check now? I pushed a lot of updates (plus new README)

[2018-09-12 22:57] acangiano commented on #49
@essenciary Thank you for being so on the ball. I was able to run the hello world example, launching the server from the julia's REPL. However, if I try to start the server via script I still get a segfault:

[code]

[2018-09-12 23:05] swenremake commented on #54
thank you so much

[2018-09-12 23:05] #54 closed

[2018-09-13 01:19] drinkmorewaters commented on #48
using Genie
[ Info: Precompiling Genie [c43c736e-a2d1-11e8-161f-af95117fbd1e]
ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "Asia/Makassar"
Stacktrace:
 [1] (::getfield(TimeZones, Symbol("##1#3")){SubString{String}})() at /Users/dell/.julia/packages/TimeZones/wytr8/src/TimeZones.jl:70
 [2] get!(::getfield(TimeZones, Symbol("##1#3")){SubString{String}}, ::Dict{AbstractStr

[2018-09-13 05:47] showsaitoh commented on #53
I updated :smile:
Then I tried again but I have another error messages..

![genietest](https://user-images.githubusercontent.com/42506898/45469151-490c7a80-b763-11e8-846a-cfcf2fd5e8d8.gif)
[code]

[2018-09-13 07:18] essenciary commented on #53
@showsaitoh That's odd... Are you on the latest #master? Can you try a `pkg> up`?

[2018-09-13 08:31] essenciary commented on #48
@drinkmorewaters Looks like an error in TimeZones.jl -- Unknown time zone "Asia/Makassar"
I suggest opening an issue with https://github.com/JuliaTime/TimeZones.jl

[2018-09-13 08:34] essenciary commented on #48
Hmm, strange, it's not a problem in TimeZones...
[code]

Must be Memento.jl related. I'll take a closer look.

[2018-09-13 08:38] tillmannschatz commented on #49
I get the same fault as @aalexandersson

## My steps:
Install: **worked**
[code]

[Hello world example](https://github.com/essenciary/Genie.jl#using-genie-in-an-interactive-environment-jupyterijulia-repl-etc): **worked**

[Creating an app](https://github.com/essenciary/Genie.jl#creating-a-genie-app-project): **failed**

[code]

[2018-09-13 08:47] essenciary commented on #49
@acangiano Oh, that nasty segfault -- I've been struggling it all day.
Can you do an update please, it should work now (please confirm that Genie does get updated to the latest master).

[code]

[2018-09-13 08:49] essenciary commented on #49
@tillmannschatz Can you please do an update to the latest version and try again (that's an "old" error)? I'll test now on Windows, maybe it has to do specifically with that.

Also please check the latest README -- SearchLight is no longer a dependency so you can remove that.

[2018-09-13 09:01] tillmannschatz commented on #49
@essenciary just removed Searchlight
`(v1.0) pkg> rm SearchLight`
 and updated Genie
`(v1.0) pkg> up Genie`
However it still gave me the same error.

[2018-09-13 10:12] essenciary commented on #49
@tillmannschatz looks like a Windows specific Julia bug. Followed up here: https://discourse.julialang.org/t/file-system-paths-in-meta-parse-end-up-in-error-on-windows/14903

[2018-09-13 10:32] tillmannschatz commented on #49
@essenciary with a9ad68050c20bd80975622241238af91109d0f32 it's working now. Thanks a lot!

[2018-09-13 10:45] showsaitoh commented on #53
I tried
`pkg> up Genie` and `pkg> up SearchLight` but I got same errors :disappointed_relieved:

And I tried install Julia & Genie to WSL ! Then I succeeded launch Genie :satisfied:

I don't know why Genie isn't working on Windows main system,
but my Ubuntu sub system on Windows went fine!

Thank you for your kindly support anyway !!
I hope to Genie grew up to serious full-stacky web framework lik

[2018-09-13 10:56] essenciary commented on #53
@showsaitoh You're welcome
I actually figured it out -- it's a problem on Windows only. I'm fixing it now.

[2018-09-13 10:57] essenciary commented on #49
Yey! And you!

[2018-09-13 11:15] essenciary commented on #53
@showsaitoh If you update to the latest #master it will work on Windows as well.

[2018-09-13 11:15] #53 closed

[2018-09-13 12:04] essenciary commented on #48
Stumbled into something similar when testing on Ubuntu -- TimeZones.jl failed to download its database. I'm going to try again - might be related to that.

[2018-09-13 12:42] showsaitoh commented on #53
Finally working on Windows! thanks a lot :satisfied:

[2018-09-13 13:46] aalexandersson commented on #49
I had the same problem on Windows 7 but http://localhost:8000/hello is working for me too now. Thank you!!

[2018-09-13 16:09] acangiano commented on #49
Awesome job @essenciary. That fixed the problem for me.

[2018-09-13 16:14] acangiano opened #55 "Error when trying to run the server in PROD mode"
Genie is now working fine in DEV mode with Julia 1.0. However, if I try to run it in production mode I receive an error. This is with the untouched default app.

[code]

[2018-09-13 16:49] aalexandersson opened #56 "Error "404 Not Found" when starting existing web app"
I can create a new web app and see it in the browser. But I cannot start an existing web app it seems.

The local web server is running according to Julia:
[code]

But when I go to http://localhost:8000/ I get two errors:

1. In the browser, I get error
"404 Not Found
Oh dear, no page here!
Sorry, we can not find /"

2. In Julia, I get the session error below:
[code]

I am using Windows 7.

[2018-09-14 09:02] essenciary commented on #49
Awesome, great to hear it!

[2018-09-14 09:10] essenciary commented on #56
A Genie app is a distinct project which uses Genie but is not part of Genie.

You need to execute `bin/repl.bat` or `bin/server.bat` in the terminal, while in the app's dir. Or in a Julia REPL, also in the app's folder, run `include("genie.jl")` -- this will bootstrap the app.
Check out the updated README at https://github.com/essenciary/Genie.jl#loading-an-app

P.S. -- it might be a good idea to

[2018-09-14 09:11] essenciary commented on #55
I'll check it out -- to be honest, the focus was on making it work on v1.0 so far, for dev purposes.

[2018-09-14 09:12] essenciary commented on #53
Excellent, great to hear it!

[2018-09-14 12:40] aalexandersson commented on #56
Ok, I tried but still localhost does not show output in the browser (after refresh). Maybe I did something wrong? It's very possible (but not intended)! First, here is more detailed version info:

[code]

How should I execute the bat files? If in Windows I double-click `bin/repl.bat` I get this output (no error)

![image](https://user-images.githubusercontent.com/20467610/45549924-6b4fd800-b7f7-11

[2018-09-14 13:30] aalexandersson commented on #56
I fixed it, There seems to be one missing step in the instructions, because it is not obvious to a beginner like myself: You need to start the web server once Genie is up if you want to see the app in the browser.

[code]

[2018-09-14 15:44] essenciary commented on #56
@aalexandersson That's right - once you include "genie.jl" that load's the app's environment -- but then the server needs to be started.

You're right, it's not clear. I'll put more details in the doc. Also, I'll see maybe Genie can automatically start the app if `using Genie` in an app's folder. Finally, the fact that bin/server.bat doesn't work looks like a bug, I'll check it out.

[2018-09-15 07:47] essenciary commented on #56
@aalexandersson Is this better?
https://github.com/essenciary/Genie.jl#loading-an-app

[2018-09-15 07:47] #56 closed

[2018-09-15 07:49] essenciary commented on #48
@drinkmorewaters Lmk if you can successfully build TimeZones.jl -- there might be something wrong there

[2018-09-15 08:03] essenciary commented on #48
I can't reproduce the issue on the latest version of Windows 10

[2018-09-15 08:03] #48 closed

[2018-09-15 08:04] essenciary commented on #46
Done, thanks!

[2018-09-15 08:04] #46 closed

[2018-09-15 08:07] essenciary commented on #55
@acangiano The default production environment file was not updated -- please go in your app to `config/env/prod.jl` and replace `"error"` with `:error` as in
[code]

[2018-09-15 08:07] #55 closed

[2018-09-15 13:55] aalexandersson commented on #56
Thank you, the wording is much clearer now. I don't know why `bin/server.bat` resulted in an error (I don't have access yet to Julia in the weekends) but I will keep testing your package. It is very promising!

[2018-09-15 23:52] acangiano commented on #55
Thank you @essenciary.

[2018-09-22 15:42] lanrebr opened #57 "Readme enhancements"
url:  https://github.com/essenciary/Genie.jl

**Location**: Working with resources/Adding views/Rendering views
**Missing**: explain that the html! method comes from the Renderer class\
**Example**: Add "using Genie.Renderer" at the top of the definition of the billgatesbooks function

**Location**: Generate the Controller
**Missing**: explain that the user should test the BooksController.billgate

[2018-09-22 16:39] essenciary commented on #57
Sounds good, thanks, will add (or feel free to make the changes yourself and make a pull request, if you're so inclined).

[2018-09-24 06:32] essenciary commented on #57
Done, thanks!

[2018-09-24 06:32] #57 closed

[2018-09-25 15:11] d4tocchini opened #58 "Precompile / sysimg / binary"
@essenciary, have you tried (or know about) precompiling a Genie project into a single executable? Ideally for use in a desktop app, something like https://github.com/NHDaly/ApplicationBuilder.jl

Or, what about building a sysimg?  I got my way through generating a sysimg but so far it hasnt produced any noticeable benefit -- the structure of the project seems to require a little more hoop jumping

[2018-09-26 16:52] abannsunny opened #59 "LoadError: LoadError: InitError: ArgumentError: Unknown time zone "America/Indianapolis" trying to run using Genie"
I saw that this issue is closed but I am still getting the error
https://github.com/essenciary/Genie.jl/issues/48

I am on a corporate network I am not sure if that is why. Thank you!

ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "America/Indianapolis"

Stacktrace:
 [1] (::getfield(TimeZones, Symbol("##1#3")){String})() at %userprofile%\.julia\packages\TimeZones\wytr8\s

[2018-09-26 16:55] essenciary commented on #59
It's a problem in TimeZones.jl which is used by Memento.jl
TimeZones.jl basically can't download the timezones database.

What OS are you running on?

[2018-09-26 16:57] abannsunny commented on #59
I am on Windows 10
![image](https://user-images.githubusercontent.com/27024161/46095887-aa811000-c18b-11e8-8860-44a50151035f.png)

[2018-09-26 16:58] essenciary commented on #59
Try
`pkg> add TimeZones`
See if that works (and if now, how it fails).

[2018-09-26 16:59] abannsunny commented on #59
(v1.0) pkg> add TimeZones
 Resolving package versions...
  Updating `C:\Users\asunny\.julia\environments\v1.0\Project.toml`
 [no changes]
  Updating `C:\Users\asunny\.julia\environments\v1.0\Manifest.toml`
 [no changes]

[2018-09-26 17:03] essenciary commented on #59
Can you use it?
`pkg> using TimeZones`

Line 70 is
`isfile(tz_path) || throw(ArgumentError("Unknown time zone \"$str\""))`

[2018-09-26 17:03] abannsunny commented on #59
I can try on my PC at home which is running the latest version of windows 10. and update if that helps! thank you for the quick reply!

[2018-09-26 17:06] abannsunny commented on #59
that seems to work fine.
![image](https://user-images.githubusercontent.com/27024161/46096369-013b1980-c18d-11e8-981a-e86aeb5267eb.png)

[2018-09-26 17:11] essenciary commented on #59
Hmmm... very weird...

Can you also try
`julia> TimeZone("America/Indianapolis")`
and
`pkg> up`

And maybe
`pkg> add Memento` and
`julia> using Memento`

[2018-09-26 17:12] EricForgy commented on #59
[code]

[2018-09-26 18:16] omus commented on #59
I'll note this is issue is fully [a TimeZones.jl issue](https://github.com/JuliaTime/TimeZones.jl/issues/154). The `America/Indianapolis` is part of the backwards compatible time zone list and more modern equivalent is `America/Indiana/Indianapolis`.

As a quick fix you can change your system time zone which will result in this issue being addressed for you. A more long term fix is to have the `lo

[2018-09-27 01:00] abannsunny commented on #59
Thank you!
I changed the timezone to eastern time us canada and it worked!

[2018-09-27 17:56] #59 closed

[2018-09-27 19:54] abannsunny opened #60 "Post request with payload: Example"
Hi,

I very recently started working with Genie. Really excited to try it out!

I searched for an example in the docs to handle a post request with request payload and I couldn't  find any. Could you please share an example on how to handle a post request and handle it in a controller?

Also how to start the app in production mode?

Thank you,
Abann

[2018-09-28 07:11] essenciary commented on #60
@abannsunny
Sure -- I'll add some info about these to the readme, I'll try to do this today. I'll update here when done.

[2018-09-28 13:08] abannsunny commented on #60
Thank you!

[2018-09-29 15:23] theobouwman opened #61 "Julia Version"
Which version of julia should I use?

[2018-10-01 07:01] #61 closed

[2018-10-01 10:04] CarpeNecopinum opened #62 "Server closes connection unexpectedly"
For some reason, the "Hello World"-kinda example won't work for me:
[code]
in juno will tell me the server is running on port 8000, but any browser I point at localhost:8000 will complain that the connection was unexpectedly closed.

Similarly when trying with netcat, the connection is closed after I sent `GET / HTTP/1.1` rather than sending back the "Hi there!".

Using HTTP directly instead like

[2018-10-01 10:28] CarpeNecopinum commented on #62
OS: Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64 GNU/Linux
Julia: Version 1.0.0 (2018-08-08)
Genie Version: cloned from master like half an hour ago

[2018-10-01 14:13] essenciary commented on #62
@CarpeNecopinum Looks like a local issue, I can't reproduce
<img width="1303" alt="debian gnu linux 9 2018-10-01 16-12-36" src="https://user-images.githubusercontent.com/11292378/46293882-e6a1df80-c594-11e8-90ae-6a86ab31e1dd.png">

[2018-10-01 14:13] #62 closed

[2018-10-12 08:47] 564064202 opened #63 "how about the performance"
1. does it use libuv?
2.how about the performance vs nginx or apache?

[2018-10-12 08:53] 564064202 opened #64 "Building EzXML BUG V(1.1)"
Building EzXML ────→ `~/.julia/packages/EzXML/DUxj7/deps/build.log`
┌ Error: Error building `EzXML`:
│ ┌ Warning: platform_key() is deprecated, use platform_key_abi() from now on
│ │   caller = ip:0x0
│ └ @ Core :-1
│ [ Info: Downloading https://github.com/bicycle1885/XML2Builder/releases/download/v1.0.1/XML2Builder.v2.9.7.x86_64-linux-gnu.tar.gz to /root/.julia/packages/EzXML/DUxj7/deps/usr/downl

[2018-10-12 19:18] scls19fr opened #65 "Install - deprecated packages?"
Hello,

I noticed in doc / install:

https://github.com/essenciary/Genie.jl/blame/master/docs/src/index.md#L14

https://github.com/JuliaDB/DBI.jl doesn't seem to be very active and doesn't seem to support Julia 0.7.

[code]

and

https://github.com/essenciary/Genie.jl/blame/master/docs/src/index.md#L16

https://github.com/JuliaDatabases/PostgreSQL.jl is marked as DEPRECATED
maybe using https://git

[2018-10-13 00:08] c42f commented on #63
1. Julia 1.0 uses `libuv` in the runtime to handle async tasks so the performance profile should currently be similar to node. However, when the parallel task runtime arrives (https://github.com/JuliaLang/julia/pull/22631) tasks will be able to run on multiple threads. The concurrent performance profile will then improve to be more similar to `go`.

2. No idea yet, I'm just starting to think about

[2018-10-14 12:50] essenciary commented on #65
That's very old - use the README:
https://github.com/essenciary/Genie.jl

Genie is no longer dependent on any DB package. It's been abstracted away into SearchLight.jl a dedicated ORM. Which indeed, uses LibPQ.

[2018-10-14 12:50] #65 closed

[2018-10-14 12:51] essenciary commented on #64
When exactly did you get that? When installing Genie? Or when building a Genie app?

[2018-10-14 12:58] essenciary commented on #63
2. You can't really compare Genie, which is a web framework, with Nginx or Apache, which are web servers.

Genie does bundle HTTP.jl. So I guess if you want to compare servers, you can just ask the developers of HTTP.jl.

However, the servers are not exclusive. For instance, my approach in production is to use Nginx as a reverse proxy and cache layer for Genie apps using HTTP.jl.

Regarding perfor

[2018-10-14 12:58] #63 closed

[2018-10-14 13:37] scls19fr commented on #65
Why not moving most of README content to doc and remove old doc?

[2018-10-14 15:19] essenciary commented on #65
Lack of time

[2018-10-16 06:10] c42f opened #66 "respond_with_html needs full path"
Hi, I'm trying to follow the step by step guide at

https://geniejl.readthedocs.io/en/latest/guides/Step%20by%20step%20app%20development%20with%20Genie/

When I get to adding the line
[code]

The home page is broken. To get it to work, I needed to replace this line with the full path to `home_page.md`:

[code]

I've followed through the logic from Genie.Renderer to Genie.Flax and I don't see any p

[2018-10-16 07:02] c42f opened #67 "Genie config seems to overuse `eval`"
Just browsing through the code, I can see a lot of use of `eval`, which mostly seems to be used for pulling in configuration from the application. This seems a little fishy to me - generally `eval` should only be used in specialized circumstances, for example if you really need to generate a bunch of function definitions like you're doing inside `Flax`. For other uses, consider a setter function,

[2018-10-16 07:18] essenciary commented on #66
That's old and needs to be updated - can you please follow the instructions in the README for now: https://github.com/essenciary/Genie.jl

[2018-10-16 09:13] c42f commented on #67
Maybe a simple example would be easier to discuss:

[code]
At this point `engine` already exists within foo:
[code]

[2018-10-17 00:15] c42f opened #68 "Prefer `parse` rather than `convert` for string parsing"
Hi again! Sorry for the barrage of issues, I'm now working through the main README instead of the Chirper tutorial.

I just came across the line suggesting to define

It's not (at all) obvious, but this is usually considered outside the scope of what convert should be used for. To quote the [Base documentation](https://docs.julialang.org/en/v1.0/manual/conversion-and-promotion/#Conversion-1):

So

[2018-10-17 03:11] c42f commented on #68
By the way, now that I've finally got Genie going I'm loving the dynamic code reloading for dev work, it's very slick.

[2018-10-17 03:28] EricForgy commented on #68
Dynamic code reloading? Whazzat? 😃 Sounds cool 👍

[2018-10-17 07:12] essenciary commented on #68
@c42f Thanks, that's an interesting point. The `convert` method is called by `Genie.Router` to handle the URI params:
`params.collection[Symbol(param_name)] = convert(param_types[i], matches[param_name])`

What `parse` does it to "parse a string as a number". Although that's what most people will do, some might prefer to do other things, like maybe _convert_ the input directly into a model object.

[2018-10-17 07:22] c42f opened #69 "First impressions"
Hey, I've finished going through the README and playing around. I enjoyed the tutorial!

Firstly, I should say I'm impressed by the scope and effort you've already put into this project and its dependencies. There's a *lot* of work in this and it seems to fit together pretty well.

I did feel that some of the APIs have unexpected surprise choices, from the perspective of someone who's spent a few

[2018-10-17 07:37] c42f commented on #68
I think the documentation for `Base.parse` falls down here, it in fact has many methods, and they all have the pattern of "construct a type from a string":

[code]

What I suggest is defining the following inside Genie:

[code]

Then for custom types, the user can override `Genie.from_uri_param(::Type{UserType}, s)`. My point is that overriding `Base.convert` is "wrong" if the override has differe

[2018-10-17 07:41] c42f commented on #68
@EricForgy the code reloading here is built on top of the excellent Revise.jl

[2018-10-17 08:12] essenciary commented on #69
@c42f Chris, thanks very much for your feedback, much appreciated! I'll try to answer each of them.

Honestly, the reason was exactly that -- the names I wanted to use were taken. And to avoid possible name conflicts with user generated variables. And also because visually the `@` prefix makes these constructs more visible within the view layer. So yeah, it's abusing the macros syntax, but I belie

[2018-10-17 09:14] essenciary commented on #68
Yes, good point, I was only looking at `Base.parse` in the docs - but indeed, there are other methods in other modules.

There's a similar approach in SearchLight, where the types from the DB are converted back to the types of the struct's fields. It's relevant as the methods, if are not tied directly to URI parsing in Genie, could be reused in multiple instances.

In this case something more gene

[2018-10-17 09:21] c42f commented on #68
Improved composability. For example, suppose I want to use a type `Foo` from some other module `A` and that module `A` knows nothing about `parse` and nothing about `Genie`. With the layer of indirection it's super simple: I just define a new method `Genie.from_uri_param(::Type{A.Foo}, s::AbstractString)`.

[2018-10-17 09:58] essenciary commented on #68
OK, I think I need to write some code to see it in action - I'm still not sure why not `Genie.parse(::Type{A.Foo}, s::AbstractString)`

[2018-10-17 10:07] c42f commented on #69
Hum, I was afraid you'd say that. The fact that `@foreach` shares a name with `Base.foreach` is an *excellent* reason to avoid it IMO. The julia ecosystem as a whole has strong conventions that a given name should have the same semantics across packages.

A reasonable desire for `@vars` and `@yield` which are a little special. Not so much for `@foreach`, which is an expression which yields a strin

[2018-10-17 10:09] c42f commented on #68
Sure, you could in principle have `Genie.parse`, as long as you made it distinct from `Base.parse`. But I do think having the same name for different functions (with different method tables) might be confusing there.

[2018-10-17 10:31] essenciary commented on #69
And also because visually the @ prefix makes these constructs more visible within the view layer.
A reasonable desire for @vars and @yield which are a little special. Not so much for @foreach, which is an expression which yields a string which is interpolated into the template. Like any other expression the user might dream up.

In this case, I think I did it in order to avoid having to do `Flax.f

[2018-10-18 22:13] essenciary commented on #60
@abannsunny Sorry for the delay -- work got in the way :)
Here is the promised section: https://github.com/essenciary/Genie.jl#handling-forms
I'll add an extra part about file uploads soon -- but I hope till then, this is enough to get you started.

[2018-10-19 21:51] DavidBernal opened #70 "Example app extremely slow in windows"
I follow the example app steps, and when I load the ```/hello``` route, the request takes 4 seconds. I don't see any errors or fails

Env:
Windows 10
Julia: v1.0.0

[2018-10-20 08:34] essenciary commented on #70
Thanks - every time? Or the first time?

[2018-10-20 10:41] DavidBernal commented on #70
Every time.

[2018-10-20 19:16] DavidBernal commented on #70
I tried in another computer, and takes 500ms. Better but to much anyway. I tested Mux to discard a julia problem and it seems correctly.

[2018-10-23 09:31] essenciary commented on #70
@DavidBernal Thanks for the update - can you please share how you benchmarked so I can replicate?

[2018-10-23 09:31] #66 closed

[2018-10-23 17:22] giadasp opened #71 "Problems with SearchLight"
Dear developers,
It's more than 3 days I'm trying to use your package without any good result since I'm not able to reproduce the examples in the README.

My problems are:
- in the example for JSON, the result web page is the following:
`[{"title":"The Best We Could Do","author":"Thi Bui"},{"title":"Evicted: Poverty and Profit in the American City","author":"Matthew Desmond"},{"title":"Believe Me:

[2018-10-24 08:44] giadasp commented on #71
Thank you for your prompt reply,
I'm using Julia 1.0 and Windows 10.
This mornign I tried to create a `new_app` and  load it, this is what I have -.-"
[code]
I restarted Julia, removed all the packages (SearchLight,WebSockets,HTTP,Genie,SQLite,Flax) and installed them again, I still have this error...
I think that the problem of incompatibilities is given by WebSockets and HTTP and according to wh

[2018-10-24 08:54] giadasp commented on #71
UPDATE: I did it again and now I can at least create the app, I'll try again to do everything and see if I can arrive to the point of the SerachLight example and I'll let you know.

[2018-10-24 09:19] giadasp commented on #71
1. in the JSON section I cannot use the function  `respond`, this is the error I get
`Distributed.RemoteException(1, CapturedException(UndefVarError(:respond), Any[])) in C:\Users\giada\.julia\packages\Genie\jGA6Q\src\AppServer.jl:60`
2. When  try to pass to the SearchLight section and I try to load the app I have this error
[code]
then I restart Julia and now I have again the problem of the inval

[2018-10-24 15:04] essenciary commented on #71
@giadasp
1. most likely you don't have `using Genie.Renderer`. It is `Genie.Renderer` which provides the `respond` method.

2. let me get back to you on this - I'm gonna run a test on Win 10.

[2018-10-24 15:11] giadasp commented on #71
I have it in the controller file.

[2018-10-24 15:17] essenciary commented on #71
Can you please post the comments of the controller file here?

[2018-10-24 15:18] essenciary commented on #71
Also the output of `julia> versioninfo()` and of `pkg> st`. Thanks!

[2018-10-24 15:31] p1scescom opened #73 "Genie.Cookies.set! has 2 kinds of return type"
`Genie.Cookies.set!` has 2 kinds of return type ; Vector{HTTP.Cookies.Cookie},Dict{String,HttpCommon.Cookie}.
A set! function calls other set! function.
But their return type can't convert each other.
So it needs fix.
Which return type is that you want type ?

https://github.com/essenciary/Genie.jl/blob/d088f4676d3cc5db17c26d31f69796384f389b94/src/Cookies.jl#L50
https://github.com/essenciary/Genie

[2018-10-24 15:40] essenciary commented on #73
Hmmm... seems something was lost in translation from `HttpServer` to `HTTP`.

Looks like we could do with only one function:
[code]

[2018-10-24 15:47] essenciary commented on #70
There doesn't seem to be any problem with Genie itself - the response time on my mac is 79ms. I'll try it now in a VM with Win 10, but that will affect the performance as the VM is considerably slower. So I'm not sure how relevant will that be, but let's see.
<img width="846" alt="speed" src="https://user-images.githubusercontent.com/11292378/47443495-b5dc5100-d7b4-11e8-9744-90674baadaac.png">

[2018-10-24 15:54] giadasp commented on #71
`julia> versioninfo()`

[code]

`pkg> st`

[code]

What do you mean for comments?
anyway this is the code of BooksController.jl

[code]

[2018-10-24 16:00] essenciary commented on #70
Yes, very bad on Win 10 in my VM - around 5s! :-O

[2018-10-24 16:38] p1scescom commented on #73
Yes, set! can't set cookies. So now, I write
[code]
when get , I don't use my original get
[code]
Maybe this problem isn't Genie's, cannot some `Set-Cookie` s.
I use a mad method.

[2018-10-24 17:28] essenciary commented on #70
Ah no actually, false alarm. Turned out to be the VM was using up all the resources to perform a windows update. After the update, the response time is around 650ms. So yes, that's a few times slower compared to the mac. I'll see what the profiler has to say.

[2018-10-24 17:31] #73 closed

[2018-10-24 17:38] essenciary commented on #71
Sorry, not "comments", I meant "contents" :)

Ok, so `using Genie.Renderer` should also be placed inside the `API` module, per the sample code in the README.

[code]

[2018-10-24 17:43] essenciary commented on #71
The output from `pkg> st` shows the packages installed at system level. Genie apps manage their own dependencies, using their own Project.toml file. So something is not right there. The idea is that:
1. you `cd` into the app's dir
2. `using Genie`
3. `Genie.REPL.load_app()`
This automatically loads the app's project, including its dependencies.
Here is the output from my console on Win 10, in a ne

[2018-10-24 17:52] essenciary commented on #71
Here is what I did up to this point:
1 - started from scratch in a VM -- I just deleted the .julia folder and wiped off all the packages.
2 - installed latest Julia
So I had a clean Julia setup.

I started a Julia REPL. Then added Genie per the README. Then `using Genie` and `Genie.REPL.new_app(...)`. This creates the new app and its project for managing the dependencies and activates the app's en

[2018-10-24 17:54] essenciary commented on #71
If you still can't sort it out we can chat on Gitter for a few minutes

[2018-10-24 19:58] DavidBernal commented on #70
I'm out until friday so I can't do test now. Anyway, 650ms for a text in local network is a lot.

[2018-10-25 14:43] essenciary commented on #70
Yes, something's off on Windows. HTTP.jl responds fast, so it's something else in the stack which is fast on Mac but slow on Win.

[2018-10-26 15:34] giadasp commented on #71
Sorry, I didn't read your last messages, I'll try and I'll let you know. Thank you very much for your patience!

[2018-10-26 15:57] giadasp commented on #71
I've add all the needed versions of the packages by hand after loaded the app and mow my `pkg> st` is like yours and the app works. I still don't know how it should be the result of api/v1/bgbooks, also with respond is like the one I posted in the first message. Is that correct (again)?

I cannot delete again Julia and reinstalled it because it will take too much time, I need a lot of packages for

[2018-10-26 16:29] essenciary commented on #71
What does this output?
[code]

[2018-10-26 16:32] giadasp commented on #71
The right one:
[code]
One question:
how can I go back to `julia>` if I'm in `genie>` ?

[2018-10-30 03:33] GearsAD opened #77 "Please tag release"
Hi Essenciary,

Could you please tag releases between significant changes? It would make it easier for users to stage the upgrade of their packages that make use of Genie.

Great package by the way, thanks for writing.

[2018-10-30 04:13] jingpengw commented on #77
+1
BTW, this is a duplicate of another issue: https://github.com/essenciary/Genie.jl/issues/26

[2018-10-30 07:09] essenciary commented on #77
Sure! I felt that it was not stable enough in the past - but I think by now it would make sense, given the enhanced version management in Julia v1.

[2018-10-30 14:58] jingpengw opened #78 "can not open the discover packages website"
http://genieframework.com/packages

this is what I get:

[code]

[2018-10-30 21:35] essenciary commented on #78
Thanks - the website is a bit outdated. And the packages app needs a bit more work for now, to support Julia 1.

[2018-11-03 13:41] yshutaro opened #79 "UndefVarError (: DatabaseAdapter) has occurred.(bgbooks)"
Dear developers,

(I am Japanese and I can not use English so much, so I used Google Translate. I am sorry if it was difficult to understand.)

https://github.com/essenciary/Genie.jl
I tried to make an example while looking at it. After completing "Books.seed ()" and fixing "BooksController.jl", the following error occurred.

[code]

I ran the following command.　`DatabaseAdapter not defined` occur

[2018-11-03 13:45] essenciary commented on #79
What do you get when you run:
[code]
and
[code]

[2018-11-03 14:17] yshutaro commented on #79
Thank you for your reply.
The result of the command is as follows.

[code]

It worked until "seed ()".
(I ran it twice by mistake.)

[code]

[2018-11-03 14:50] yshutaro commented on #79
@essenciary
I restarted Genie about 2 times and it has run normally.
I am sorry for using your precious time.

[2018-11-05 07:13] #79 closed

[2018-11-05 08:16] yshutaro opened #80 "[MethodError(convert, (String, nothing)] has occurred.(bgbooks new.jl.html)"
Dear developers,

https://github.com/essenciary/Genie.jl
I tried to make an example while looking at it.

`app / resources / books / views / new.jl.html`
We created up to and accessed the following.
http://localhost:8000/bgbooks/new
Then, `500 Internal Server Error`  occurred.

The following is output in the log.

[code]

The environment is as follows.
[code]

[2018-11-05 13:34] essenciary commented on #80
Can you
`pkg> rm Flax`
I'm not sure why it's there...

Also, please check that `new.jl.html` looks like the one in the sample app here:
https://github.com/essenciary/Genie-Searchlight-example-app

[2018-11-05 14:00] yshutaro commented on #80
@essenciary
Thank you for the quick reply.

I was installing Flax at first looking at "Quick start" on the following page.
https://geniejl.readthedocs.io/en/latest/build/

I will reproduce the environment and see the sample and try again.

[2018-11-05 15:59] essenciary commented on #80
@yshutaro Ah sorry, that's old, I'll try to update that ASAP. Please use the README:
https://github.com/essenciary/Genie.jl

[2018-11-06 05:31] yshutaro commented on #80
@essenciary
Thank you for your response.

I  have re-created the new environment, but the same error occurred.
I will check it a bit more.
About Julia language I am a beginner and still studying, so reading source is also a study.
Genie is similar to Laravel and easy to use! Thank you for making!

[2018-11-06 14:04] yshutaro commented on #80
Although I do not understand the cause, when I erased the "<a>" tag and "<form>" tag, the error ceased to appear. (Although it can not be used as an application)

[code]

[2018-11-06 15:37] yshutaro commented on #80
@essenciary
I am sorry that my explanation was bad.

I redoed the following contents in order from the beginning. However, the same error occurs in the same place. It is the place of new.jl.html.
https://github.com/essenciary/Genie.jl
I tried it in two environments, but the same error occurred. I will report it if I can identify a more detailed error.

[2018-11-06 15:42] essenciary commented on #80
1. Have you removed Flax? That's part of Genie now so the version you have installed separately is old.
2. Is `new.jl.html` like this: https://github.com/essenciary/Genie-Searchlight-example-app/blob/master/app/resources/books/views/new.jl.html

[2018-11-06 15:48] yshutaro commented on #80
1. Yes

Yes. It has been deleted.
The package currently installed is below.

[code]

2. Yes

What I created is below.

[code]

[2018-11-06 16:07] essenciary commented on #80
Can you make a zip with the app, I'll check it out on my mac.

[2018-11-07 02:48] yshutaro commented on #80
(When I received a reply from you,  in Japan, it was midnight so I fell asleep.)
This time, we attached the second environment（My workplace Windows "Bash on windows"）
Since my home environment is a Mac, I think that I will send a file on Mac when I get home.

[your_cool_new_app.zip](https://github.com/essenciary/Genie.jl/files/2555855/your_cool_new_app.zip)

[2018-11-07 08:48] essenciary commented on #80
@yshutaro It looks like you didn't do this part of the tutorial:

"Genie comes with a special file called an initializer, which can automatically load the database configuration and setup SearchLight. Just edit "config/initializers/searchlight.jl" and uncomment the code."

Without it Genie doesn't know how to use SearchLight.

I will update the README, maybe it's not very clear that this part is i

[2018-11-07 13:52] yshutaro commented on #80
@essenciary
Thank you for your detailed answer.
It certainly skipped over the part pointed out.
Fixing `config/initializers/searchlight.jl` resulted in no error and it is displayed!

Thank you very much!!!

I close this issue.

[2018-11-07 13:52] #80 closed

[2018-11-10 03:07] SyntheticMind opened #81 "Problem with the interactive mode."
I read a lot of file. But so far, i can't find anything about the key shortcut. And specially: When you are not in the Julia mode (Julia>) how do you return to it?

[2018-11-10 08:15] essenciary commented on #81
It's not an actual mode yet, just a cursor change to indicate you're in a genie app environment. You don't need to exit it, it is the Julia prompt.

[2018-11-10 08:15] #81 closed

[2018-11-13 01:09] SyntheticMind commented on #81
Let say that i had switch the Pkg mode. How i can to return in Julia mode ?

On Sat, Nov 10, 2018 at 3:15 AM Adrian Salceanu <notifications@github.com>
wrote:

[2018-11-13 11:17] essenciary commented on #81
Pkg mode is not part of Genie, is part of Julia itself. Just press backspace on an empty line in the REPL while in Pkg mode and you'll get back to Julia mode.

[2018-11-14 19:53] Farrukhqazi opened #82 "Issues in following step by step guide"
[Step By Step: Web App Development with Genie and Julia](https://geniejl.readthedocs.io/en/latest/guides/Step%20by%20step%20app%20development%20with%20Genie/#part-1) This link provide information to setup simple application within Genie.

I was able to scaffold the app using Genie but when I tried adding a new route as mentioned in the article, it doesn't seem to be working. I am not sure what see

[2018-11-14 21:47] essenciary commented on #82
That document needs to be updated, is for an older version of Genie and Julia. Please use this:
https://github.com/essenciary/Genie.jl/blob/master/README.md

[2018-11-19 03:29] dimitraVrs opened #83 "SearchLight not defined"
I am getting the following message :   ERROR: UndefVarError: SearchLight not defined, when i run
SearchLight.Configuration.load_db_connection().
I followed the instructions mentioned here https://github.com/essenciary/Genie.jl#setup-the-database-connection to add SearchLight and i am using version 1.0.2 of Julia (also i added Genie according to steps of the page i mentioned).
Any suggestions?
Than

[2018-11-19 22:50] essenciary commented on #83
@dimitraVrs Hmmm... rereading the tutorial it seems like I forgot to add the `julia> using SearchLight` part, to bring the SearchLight package into scope. Can you try running it?

[2018-11-19 22:56] dimitraVrs commented on #83
I tried it, but i get a "SearchLight not found in current path" error..

[2018-11-20 06:50] essenciary commented on #83
Sounds like SearchLight was not installed.
Can you show me the output of: `julia> versioninfo()` and `pkg> st` please.

[2018-11-20 07:01] dimitraVrs commented on #83
The output is:
julia> versioninfo()
Julia Version 1.0.2
Commit d789231e99 (2018-11-08 20:11 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Core(TM) i7-4510U CPU @ 2.00GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-6.0.0 (ORCJIT, haswell)

(v1.0) pkg> st
    Status `~/.julia/environments/v1.0/Project.toml`
  [c43c736e] Genie v0.1.0 #master (https://github.com/essenci

[2018-11-20 17:22] essenciary commented on #83
OK - so as you can see in `pkg> st` there is no SearchLight installed. Also, it's not running in the project's pkg environment.

Seems like you need to go back to this section of the README:

[2018-11-20 18:55] dimitraVrs commented on #83
I 've done this before, but there are still errors. One of them is "ERROR: LoadError: CodecZlib.jl is not installed properly"...

[2018-11-20 18:57] essenciary commented on #83
Can you paste the full error? Looks like some dependency of some package needed by SearchLight fails on your OS.

[2018-11-20 19:10] dimitraVrs commented on #83
I got this after julia> using SearchLight command. The errors are " ERROR: LoadError: CodecZlib.jl is not installed properly, run Pkg.build("CodecZlib") and restart Julia.",
"ERROR: LoadError: LoadError: Failed to precompile CodecZlib [944b1d66-785c-5afd-91f1-9de20f533193] to /home/dimitra/.julia/compiled/v1.0/CodecZlib/1TI30.ji.",
"ERROR: LoadError: Failed to precompile DataFrames [a93c6f00-e57d-

[2018-11-20 19:14] dimitraVrs commented on #83
Also, recommendations following errors, don't make things better..

[2018-11-21 01:59] dimitraVrs commented on #83
I tested if things work on ubuntu 16.04.5 (the other operating system is ubuntu 18.04).. This time using SearchLight doesn't give an error, but SearchLight.Configuration.load_db_connection() gives the following error: "ERROR: While scanning a simple key at line 5, column 2: could not find expected ':' at line 6, column  2".

[2018-11-21 15:17] essenciary commented on #83
OK, so the first looks like a problem in the CodecZlib.jl package.

As for the latest, it sounds like the install was successful - might be a parsing error when loading the DB config.

Does your file look like this one?
https://github.com/essenciary/Genie-Searchlight-example-app/blob/master/config/database.yml

[2018-11-22 01:34] dimitraVrs commented on #83
You are right, i didn't gave value to env variable.
But, once again i have the problems i had before...
I have no idea what went wrong and what to do....

[2018-11-22 01:51] dimitraVrs commented on #83
EDIT:
I tried to install SearchLight again, the installation was successful and fortunatelly the database was created.
Is there any chance that I have to install SearchLight everytime I need to use it?

[2018-11-23 13:54] essenciary commented on #83
Happy to hear it.
No, there's no chance for that, it's not how package installation works in Julia.

[2018-11-23 13:54] #83 closed

[2018-11-23 18:19] dehann commented on #77
+1

[2018-11-23 23:15] GearsAD opened #84 "Content-Type header on a GET throws exception"
When any request contains a "Content-Type" = "application/x-www-form-urlencoded" header, Genie throws an exception looks to interpret it as a POST request:
[code]

This can be reproduced with the echo example:
[code]

If I send this, the exception is thrown:
[code]

Sorry for the slightly obscure bug, but this seems to happen with any AWS-signed requests that I make because AWS-signed requests alw

[2018-11-24 01:53] GearsAD commented on #84
I pulled latest of Genie and it disappeared - all good!

[2018-11-24 01:53] #84 closed

[2018-11-24 19:38] essenciary commented on #77
Working on it :)

[2018-11-27 06:10] GearsAD opened #85 "Default startup only accepts localhost connections, also need to configuration option for host."
The default startup only accepts connections from 127.0.0.1, could you revert it to the original behavior where it listened on 0.0.0.0 so that all connections are accepted?

[2018-12-15 19:26] dimitraVrs opened #87 "Error "404 Not Found""
I followed next steps and got an error.
The steps are:
I created a page with a form (I followed the instructions in https://github.com/essenciary/Genie.jl/blob/master/README.md#handling-forms), then i loaded my app, started the server and visited http://localhost:8000/bgbooks/new .
But i got error "404 Not Found"  at that point.
It would be really helpfull if you gave me suggestions about fixing t

[2018-12-16 18:41] alexeypetrushin opened #88 "Interesting approach writing interactive web apps without JS, kinda server-side React"
Hi, just want to let you know guys about an interesting approach for writing interactive web apps without JS. It seems like it could be done in Julia too.

Checkout the demos. All done without JS

![](https://i.imgur.com/KycXyTx.gif)

The demos and the framework itself done in Phoenix Framework, but it should be also applicable to Julia too. The full article https://dockyard.com/blog/2018/12/12/ph

[2018-12-16 19:03] dimitraVrs commented on #87
genie> Dict{Symbol,Genie.Router.Route} with 1 entry:
  :get => Route("GET", "/", ##3#4(), Dict{Symbol,Any}(), Function[], Function[])

That's what i got after Router.named_routes().. Are routes properly defined?

[2018-12-17 13:15] essenciary commented on #87
No, they don't look good. There's no routing between "bgbooks/new" and a handler function. Have you added these to `config/routes.jl`?
[code]

And the output of `Router.named_routes` should include them:
[code]

[2018-12-18 15:10] dimitraVrs commented on #87
Ok, routes are now properly defined. Still, i cannot see the page, it takes a long time to load..

[2018-12-18 16:35] essenciary commented on #88
Ooooh, nice, thanks for the tip! Although, if I understand correctly, it's not that the apps can be built "without JS" but "without _writing_ JS" (JS is auto-generated).

[2018-12-18 16:36] essenciary commented on #87
Yeee, you're welcome!

[2018-12-18 16:36] #87 closed

[2018-12-18 16:37] EricForgy commented on #88
You might also find this interesting

https://nextjournal.com/sdanisch/executing-julia-in-the-browser

[2018-12-18 18:02] Seanny123 opened #89 "Unable to run inside Docker"
I was trying to deploy a REST service via a Docker container on AWS. I was trying to use Genie for this purpose, but I couldn't get it working on my machine, despite using identical instructions for a Flask server. See the Dockerfile and instructions in [this folder](https://github.com/Seanny123/dockerfiles/tree/master/julia-genie).

To be clear, this is no longer a priority for me, given my co-wo

[2018-12-18 18:07] essenciary commented on #89
@Seanny123 Thanks for reporting this - I'll take a look, I'm curious myself.

[2018-12-18 21:40] essenciary commented on #88
Nice!

Being able to translate Julia to JS would enable some very nice applications. In my Ruby days, I had a lot of fun with Opal (https://opalrb.com). And the same for F#.

I'm more of a WebAssembly skeptic. The demand is driven by a category of programmers which don't want to be bothered with HTML/JS/CSS, without taking into account that WebAssembly as well will raise the same UIs questions. Bl

[2018-12-19 01:21] alexeypetrushin commented on #88
Nope. No need to autogenerate JS. The only thing that matter for Browser is HTML. On the Server the HTML is generated by Julia (or Elixir in Phoenix), then some event happens, and new HTML generated on the Server again by Julia. The Julia Server compares the previous and new HTMLs and finds the DIFF, and then sends a command to Browser how to apply that DIFF to the DOM. There will be some minimal

[2018-12-19 14:24] tweenietomatoes commented on #88
It's my dream to write zero-js web apps(pages whatever)!
I don't know why i'm allergic to browser side scripting but i hate it and my brain
is kind of refusing to do/learn/plan any kind of browser scripting!
However, companies want to cut infrastructure expenses so maybe one day there will be almost
no server side scripting maybe even no rest? But HTML is OK i love it.

Thanks for that, someone su

[2018-12-20 08:19] alexeypetrushin commented on #88
This approach is not about avoiding JS. It's about avoiding working with distributed system and related complexities. It would work just as well with the Node.JS server where app would be written in JS on the Server.

[2018-12-23 00:01] GearsAD opened #90 "Heavy requests with logging causes Timezone issue"
Whenever I give the webserver a heavy load, it fails after a while with a Timezone exception:

[code]

It looks like this is happening because this is called each log(): https://github.com/essenciary/Genie.jl/blob/master/src/Loggers.jl#L41

I've changed out my calls from `log("message", :info)` to `@info "message` to work around this, but wanted to document the issue in case anyone else sees it.

[2018-12-23 08:54] essenciary commented on #90
@GearsAD Thanks - I need to look at a different logging package, I think. Memento is the 3rd one I tried and it doesn't work well with Genie.

Can you please detail what "heavy load" means so I can try to replicate the issue? I think it's time to look at revamping logging.

The reasoning behind `log()` is to have a higher level logger which allows more granular logging by default. Like say logging

[2018-12-24 09:02] essenciary commented on #90
Thank you!

[2018-12-26 23:03] jcoleman-techempower opened #91 "Throttling and discarding connections"
Out of the box, loading the default `index.html` page causes a single client connection to throttle and even discard itself. It would be nice to be able to change the rate-limiting, perhaps via the config.

[2018-12-27 04:48] scheung38 commented on #87
I have a similar issue, in config/routes.jl:

[code]

but even with

[code]

page 404 Not Found when

http://localhost:8000/hello

[2018-12-27 05:01] scheung38 opened #92 "ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "Europe/London""
Within PyCharm MacOSX,  right clicked the config/routes.jl I get

 _____         _
|   __|___ ___|_|___
|  |  | -_|   | | -_|
|_____|___|_|_|_|___|

Starting Genie in >> DEV << mode

ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "Europe/London"
Stacktrace:
 [1] (::getfield(TimeZones, Symbol("##1#3")){SubString{String}})() at $HOME/.julia/packages/TimeZones/wytr8/src/Time

[2018-12-28 09:37] 564064202 opened #93 "how to start on host "0.0.0.0""
how to start on host "0.0.0.0"

[2018-12-28 17:17] essenciary commented on #93
[code]

[2018-12-28 17:17] #93 closed

[2018-12-28 17:20] essenciary commented on #92
Can't comment on usage within PyCharm as I have no idea how that works. But it seems to be a problem with `Memento`, the logging module used in `Genie`. I'm going to replace that as it's been causing a lot of issues.

Meanwhile can you try running it through the Julia REPL and see how it goes? Check the README if you need help starting.

[2018-12-28 17:20] essenciary commented on #91
Good point - that's a setting in `HTTP`, I'll look into it.

[2018-12-29 19:26] attobot opened #94 "Error tagging new release"
The tag name "0.1" is not of the appropriate SemVer form (vX.Y.Z).
cc: @essenciary

[2018-12-29 19:42] #94 closed

[2018-12-30 05:30] scheung38 commented on #92
Mac CLI:
$ julia -L genie.jl --color=yes --depwarn=no -q

also the same

Starting Genie in >> DEV << mode

ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "Europe/London"

[2018-12-30 05:43] scheung38 opened #96 "using Genie takes more than 30 sec ?"
[code]

Why is that?

[2018-12-30 05:58] scheung38 commented on #48
Also getting this when

$  julia genie.jl s

ERROR: LoadError: LoadError: InitError: ArgumentError: Unknown time zone "Europe/London"
Stacktrace:
 [1] (::getfield(TimeZones, Symbol("##1#3")){SubString{String}})() at $HOME/.julia/packages/TimeZones/wytr8/src/TimeZones.jl:70

[2018-12-30 06:53] scheung38 commented on #24
julia> using Genie

julia> Genie.REPL.run_repl_app()

 _____         _
|   __|___ ___|_|___
|  |  | -_|   | | -_|
|_____|___|_|_|_|___|

Starting Genie in >> DEV << mode

How do I know it is running or not? I just get empty prompt.

[2018-12-30 07:14] tweenietomatoes commented on #96
I am trying single page app for REST with single route without any function.
Got similar problem. Using Windows 10.
If i don't set port it's not even starting.
Using Pkg.clone version.

[2018-12-30 08:05] scheung38 opened #97 "Automatically refresh on browser as per react apps?"
But how do we automatically refresh when code changes without manually hitting the refresh button on browser as per react apps?

[2018-12-30 08:12] essenciary commented on #92
There seems to be this timezone issue in the logging library used by Genie -- called `Memento`. It's been causing this kind of issues, usually due to Memento failing to install properly (there was probably an error message when installing Genie).

There are a few efforts of replacing Memento and I think we'll have a version without Memento soon.

You can try reinstalling Genie and paying attention

[2018-12-30 08:17] essenciary commented on #96
@scheung38 There seem to be multiple issues here:
1. indeed, Julia uses JIT compilation. So scripts are compiled at runtime. So yes, first-time executions always take longer in Julia, as the code is compiled.
2. per our discussion in the other threads, it seems that the logging library is not working properly - this causing errors and warnings and additional delays.

---

@tweenietomatoes
What is

[2018-12-30 08:21] essenciary commented on #97
This feature is not available yet. It has to be built.
You can use a 3rd party tool like LiveReload (http://livereload.com) although you might have to write a custom plugin to support working with '.jl' files.

[2018-12-30 08:41] tweenietomatoes commented on #96
Freezing at [ Info: Listening on: Sockets.InetAddr{Sockets.IPv4}(ip"127.0.0.1", 0x1f40)

Browser response:
127.0.0.1 ERR_CONNECTION_REFUSED

[2018-12-30 08:49] essenciary commented on #96
Can you share some code too please?
And the output of
[code]
and
[code]
Thanks

[2018-12-30 09:02] tweenietomatoes commented on #96
Julia Version 1.0.3
Commit 099e826241 (2018-12-18 01:34 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-6.0.0 (ORCJIT, skylake)
Environment:
  JULIA = C:\Users\adriansalceanu\AppData\Local\Julia-1.0.3\bin\julia.exe
  JULIA_EDITOR = "C:\Users\adriansalceanu\AppData\Local\atom\app-1.33.1\atom.

[2018-12-30 09:56] tweenietomatoes commented on #96
Well, i removed that and it fixed.

Genie.config.run_as_server = true

[2018-12-30 19:50] essenciary commented on #96
`Genie.config.run_as_server = true` will start the app in non-interactive mode. That is, the server will start synchronously - it does start but you won't get the julia> prompt back, the thread is blocked by the server.

[2019-01-03 08:50] QuadTriangle opened #98 "How to enable CORS"
How to enable CORS here
[code]

[2019-01-03 20:44] Seanny123 commented on #89
Due to a series of embarrassing misunderstandings, I thought `0.0.0.0` and `127.0.0.1` were equivalent. They are not. By changing the code to `Genie.AppServer.startup(8080, "0.0.0.0")` the problem was resolved.

[2019-01-03 20:44] #89 closed

[2019-01-04 08:11] essenciary commented on #89
Yeeee! Thanks for letting me know!

[2019-01-06 16:26] leo60228 opened #99 "HTML attributes named after reserved words error"
Test case:
[code]

Error:
[code]

[2019-01-06 16:27] leo60228 opened #100 "Classes on <button> tags and <a> tags don't work"
Test case:
[code]
Error:
[code]

[2019-01-08 19:39] Seanny123 opened #101 "Unable to pass floats via URL"
Doing something like:
[code]

Causes the route-matching to fail, thus querying `somfloats/1.2/2.3` give a 404 error.

[2019-01-08 19:43] Seanny123 opened #102 "How to accept JSON payload?"
I would like to be able to send values to my REST API via JSON header payloads. For example, a “payload” could be `{"message":"Hello Data"}` or `{"x": 1.2, "y":2.3}`.

This issue is a result of [our discussion](https://discourse.julialang.org/t/write-a-rest-interface-like-flask/18538/20?u=seanny123) and your request to open an issue. I hope I opened the right issue!

[2019-01-09 09:07] #98 closed

[2019-01-09 17:54] Roboid537 commented on #49
I am having issue in installation of Genie.
![genie error](https://user-images.githubusercontent.com/34138037/50918237-af7d7d00-1465-11e9-9bd8-4a2e34f9512d.JPG)

[2019-01-09 20:48] essenciary commented on #49
@Roboid537 Genie has not yet been added to Julia's General Registry so you need to add it straight from github:
[code]

[2019-01-10 04:58] Roboid537 commented on #49
Still getting error.
![error](https://user-images.githubusercontent.com/34138037/50947040-6576b480-14c2-11e9-8b54-4481f2dc7d84.JPG)

[2019-01-10 04:59] Roboid537 opened #103 "cann't build genie"
I'm facing the following error while building Genie.
![er](https://user-images.githubusercontent.com/34138037/50947149-e3d35680-14c2-11e9-8dea-9e3eef1bbf58.JPG)

[2019-01-10 12:38] essenciary commented on #49
This doesn't seem to be Genie related. What version of Julia are you on? Can you please provide the output of `julia> versioninfo()`?

[2019-01-10 14:53] Roboid537 commented on #49
[image: juliaversion.JPG]

On Thu, 10 Jan 2019 at 18:09, Adrian Salceanu <notifications@github.com>
wrote:

--

*Dhananjay Kumar Singh*

[2019-01-11 07:53] essenciary commented on #49
Sorry, can't see the image

[2019-01-22 05:55] xiaodaigh opened #104 "How to hash and add salt?"
I can't find any hashing algorithms like bcrypt as part of the framework. So how do I securely hash user passwords and add salt?

[2019-01-22 08:32] xiaodaigh commented on #104
If you cna decrypt it's not secure even if you throw away the encryption key. Was looking for a one-way hash like bcrypt

[2019-01-22 08:46] tcopestake commented on #104
https://github.com/Khrodor/Cryptic.jl

Looks like this supports bcrypt?

[2019-01-22 08:55] essenciary commented on #104
Ah, I see - yes, you can add your own dependency to models/controllers, Genie does not provide that. The `Encryption` module is used for automatic encryption of cookie data, which needs to be reversible.

[2019-02-01 14:35] pnavaro opened #106 "ERROR: LoadError: UndefVarError: log_path! not defined"
Hi, i am trying to use Genie.jl by following the quick start guide on http://genieframework.com.

It's a fresh install of Julia v1.1.0 on linux ubuntu (i a also have the same issue on mac)

[code]

[2019-02-01 19:31] essenciary commented on #92
I have updated the logging library which was dependent on TimeZones which was causing this bug. Please run `pkg> up` to get the latest Genie. It should work fine now.

[2019-02-01 19:31] #92 closed

[2019-02-01 19:34] #82 closed

[2019-02-01 19:36] essenciary commented on #71
Please try updating to latest Genie `pkg> up` and let me know how it goes.

[2019-02-01 19:37] essenciary commented on #64
Closing this as I can't replicate it and no more details were provided.

[2019-02-01 19:37] #64 closed

[2019-02-01 19:45] essenciary commented on #58
@d4tocchini Sorry, this fell through the cracks.

Is sysimg still a thing? Somehow I thought it's no longer used in Julia 1?

Building an executable is definitely interesting but seems like a difficult issue, I've been following a few blog posts and a talk a JuliaCon2018 - it takes a lot of tweaking and there's no working generic solution at the time. I don't think first time compilation is a prob

[2019-02-01 19:45] #58 closed

[2019-02-02 02:49] Roboid537 commented on #103
Version 1.0.3

[2019-02-02 21:59] pazzo83 opened #108 "Unable to install Genie with Pkg->add"
I am unable to install Genie using Julia 1.1.  Using the package command prompt with `add`, I get the following error:

[code]

[2019-02-02 22:00] pazzo83 commented on #108
Actually seems like the error is coming from WebSockets
[code]

[2019-02-04 08:32] essenciary commented on #108
@pazzo83 Can't reproduce. Maybe try a `pkg> up` first?
Here is my installation output in a new project:
[code]

What's the output of your `julia> versioninfo()` and `pkg> st`?

[2019-02-04 08:34] essenciary commented on #108
Looks like your `HTTP` version is restricted to 0.8 - while mine is at 0.7.1
And apparently, 0.8 doesn't play nice with the version of WebSockets.

[2019-02-04 10:09] essenciary commented on #103
I have no idea what to make of this - I suggest opening an issue with EzXML, that's where the error originates, sorry.

[2019-02-04 10:32] essenciary commented on #101
This is now fixed, thanks for reporting it!
Ex:
[code]

[2019-02-04 10:32] #101 closed

[2019-02-04 15:16] pazzo83 commented on #108
Yep - I will close this.  I believe it is a dependency from WebSockets on HTTP, so not related to Genie.  Thanks!

[2019-02-04 15:16] #108 closed

[2019-02-04 22:59] mikowiec opened #109 "Performancy: connection was forcibly closed"
Precondition:
- windows 7, 32 bits
- julia 1.1.0
- Genie v0.1.0
- stress tool [boom](https://github.com/rakyll/boom)

Genie web framework installed correctly, link htttp://localhost:8000/hello shows well.

Boom stress tool work well with low number concurrent connections:
`boom -n 100 -c 1  http://localhost:8000/hello`

successful result:
[code]

The test has performed with error with these parame

[2019-02-06 16:19] essenciary commented on #109
@mikowiec Thanks - I remember there were some pretty severe performance issues on windows, but I didn't have the chance to investigate. Let me take a look.

Can you confirm that the `hello` endpoint is:
[code]

Also, for hey, it looks like you're testing the `/`? What do you have there?

[2019-02-06 19:03] essenciary commented on #109
OK, I've run some tests on my mac. The underlying server, `HTTP.jl` starts dropping connections due to rate limiting. The solution is to update this to the latest version (0.8) which has better performance and allows to control the rate limits. However, for `Genie`, the `HTTP` package is held back by the `WebSockets` package.

[2019-02-06 19:03] #104 closed

[2019-02-06 19:03] #102 closed

[2019-02-06 21:27] essenciary commented on #109
Great news - I updated to HTTP.jl v0.8
Check this out!
[code]

There's a new argument you can pass, `ratelimit` when starting the server, ie:
[code]

The above code runs with ratelimit = 1000

[2019-02-07 19:28] stefan911 opened #110 "local environment Required?"
Genie seems to require a local environment on both 1.1 and 1.0 julia, updating the docs would be helpful.

[2019-02-07 22:33] essenciary commented on #110
@stefan911 I'm not sure what you mean by that

[2019-02-07 22:36] essenciary commented on #91
Updated to HTTP v0.8 which provides better performance and also allows setting the rate limits. Genie's AppServer can now be started by passing the extra params:
[code]

[2019-02-07 22:36] #91 closed

[2019-02-07 22:37] #85 closed

[2019-02-08 15:40] stefan911 commented on #110
Nice to see your work on Genie, I have high hopes for Julia as a general
purpose language.   I'm suggesting Pkg "] activate ."  rather than running
Genie out of the base environment until Genie, HTTP, MbedTLS become more
stable.   I ran into versioning issues that are easily solved by running
the same versions of packages your using.

On Thu, Feb 7, 2019 at 3:33 PM Adrian Salceanu <notifications@g

[2019-02-12 02:00] bellascalzi1 opened #111 "Genie not processing image uploaded through HTML form."
Hi guys, having a slight problem with using Genie, and I was hoping someone could help.

So I am trying to create a website using Genie that takes in an image from the user using a HTML form, processes it using Julia (I am thresholding the image, although that is not relevant) and then display the processed image to the user. However, I am having trouble getting the image from the HTML form into m

[2019-02-12 02:24] EricForgy commented on #111
I'm taking a wild guess, but I notice you have HTTP v0.8.0. There are quite a lot of changes from HTTP v0.7.1 to v0.8.0 and I'm not sure @essenciary has had a chance to test Genie on HTTP v0.8.0 yet 🤔

I'm not sure how to do it, but you might try pinning HTTP to v0.7.1 and see if that helps.

[code]

points to `Packagespec`, but I think that is supposed to be

[code]

but I've never used that 😅

[2019-02-12 10:03] essenciary commented on #111
@bellascalzi1 Thanks for the detailed issue report.
Support for file uploads got dropped during the HTTP migration/update. I've added back the functionality.

You can access `@params(:FILES)` where you have a `Vector{Pair{String,HttpFile}}` - the `String` is the name of the input in the form and the `HttpFile` represents the uploaded file. It has 3 fields: `name`, `mime` and `data`.

Ex:
[code]

O

[2019-02-12 15:20] essenciary commented on #111
Of course, the payload can also be accessed by label / input name:
[code]

[2019-02-12 15:20] #111 closed

[2019-02-12 15:28] essenciary commented on #110
I see, thanks for the details. Sure, that's an important best practice and Genie implements it: all the Genie _apps_ are created with their own environment. It certainly wouldn't hurt to indicate this best practice in the README but:
a. it's not a requirement
b. in some cases the users might actually need it in their global environment
c. the above applies to all packages in general

[2019-02-12 15:28] #110 closed

[2019-02-12 15:29] essenciary commented on #103
I'm going to close this as it's not actionable - I suggest creating a new environment for Genie and installing the latest version and trying again.

[2019-02-12 15:29] #103 closed

[2019-02-12 15:35] essenciary commented on #100
@leo60228 I can't reproduce the bug, ex:
[code]

Can you provide more info about your app?

[2019-02-12 15:58] essenciary commented on #99
@leo60228 Thanks for reporting this, I pushed a fix in the latest master. Any reserved keyword need to be prefixed by underscore:

[code]

[2019-02-12 16:22] #99 closed

[2019-02-12 16:26] essenciary commented on #49
Closing this as it doesn't seem to be Genie related - please feel free to reopen if you can provide more details.

[2019-02-12 16:26] #49 closed

[2019-02-12 18:12] leo60228 commented on #100
This may have been the same issue as #99. Closing.

[2019-02-12 18:12] #100 closed

[2019-02-12 21:00] tweenietomatoes commented on #109
I recommend everyone to use built-in linux bash of windows 10 with ubuntu from microsoft store.
or any other virtual environment...
Julia definitely (and sadly) sucks at Windows (same as manas crystal-lang and apple's swift).
Linux and Mac is ok.

[2019-02-13 04:15] del2z opened #112 "CSS and JS not found"
I follow the tutorial to start a new app. I want some style in html page. But uncommenting the "stylesheets" and "javascript" line in app/layouts/app.jl.html is not working. Error message from Chrome says
GET http://localhost:8000/css/application.css net::ERR_ABORTED 404 (Not Found)
GET http://localhost:8000/js/application.js net::ERR_ABORTED 404 (Not Found)
I try different path for "href", none o

[2019-02-13 04:18] del2z commented on #112
OS Env:
MacOS Mojave
Julia 1.0.3
Genie 0.1.0 #master

[2019-02-13 11:55] essenciary commented on #112
@del2z That's a bit more complicated. Genie is designed to use a frontend stack based on Yarn and Webpack - I can provide instructions for that.
I'll take a look to see if I can distribute some default built css and js file with a new app.
Of course, you can also include your own by placing them in the `public` folder.

[2019-02-13 21:10] pbouffard opened #113 "Genie.AppServer.startup() not working (ERR_CONNECTION_REFUSED)"
For some reason `Genie.AppServer.startup()` doesn't work for me -- I get an `ERR_CONNECTION_REFUSED` in my browser. Yet when I run `./server` in the `your_cool_new_app/bin` folder it does work. To be clear this is what I'm doing:

[code]

In case it's relevant, from the REPL (or if I do the same by putting the above in a script). The output at the terminal is:

[code]

.. but running `server`:

[c

[2019-02-13 21:22] pbouffard commented on #113
.. after some more twiddling this might just be a documentation thing. On the landing page I think there's a missing step to get the `> genie` prompt. I think in Step 3 you probably should have something like:

[code]

(note a couple other minor differences; at least for me the prompt is `julia>` not `>genie`, and `Genie.` is needed at the front of the `startup()` command.)

As it's written now it

[2019-02-13 21:23] tweenietomatoes commented on #113
Did you try for 127.0.0.1 ?

[2019-02-13 21:39] pbouffard commented on #113
@tweenietomatoes Yes, I tried that, localhost, and 0.0.0.0. See my followup comment though.

[2019-02-13 22:15] tweenietomatoes commented on #113
It might be like firewall blockage too (i am not familiar with macos), Are u using initial release or master? I strongly recommend master which Adrian updated http.jl to 0.8.

[2019-02-13 23:04] bellascalzi1 commented on #113
Am having exactly the same issue as well. I can also get a Python http.server running but cannot seem to get Genie working. I am using master and have got HTTP at 0.8.

[2019-02-14 00:37] betttris13 commented on #113
Having been working with bellascalzi1 the problem seems to have started occurring sometime yesterday morning. The server was working fine before that.

[2019-02-14 02:46] bellascalzi1 commented on #113
Found a short-term fix for people on Windows:
Change what is in ```bin/server.bat``` to be:
```C:\Users\YOUR_NAME_HERE\AppData\Local\Julia-1.0.2\bin\julia -L ../genie.jl --color=yes --depwarn=no -q -- bootstrap.jl s %*```

[2019-02-14 03:32] del2z commented on #112
Thanks, css and js files in `public` work fine.

[2019-02-14 03:32] #112 closed

[2019-02-14 07:31] essenciary commented on #113
@bellascalzi1 @betttris13 I pushed some major changes yesterday.
There seem to be multiple issues here, for many, I need to update the README (like no more `genie>` prompt, it was just a cosmetic change that complicated matters and added extra dependencies).

So, to conclude:
+ starting from REPL via Genie.AppServer.startup() drops connections
+ starting from ./bin/server works

Is that correct?

[2019-02-14 07:34] essenciary commented on #113
OK, I'm trying various cases:

1. on the fly app:

[code]

All good!

[2019-02-14 07:37] essenciary commented on #113
2. new app, auto started

[code]

All good!

[2019-02-14 07:40] essenciary commented on #113
3. `bin/server` in existing app:

[code]

All good!

[2019-02-14 07:41] essenciary commented on #113
4. `bin/repl` in existing app:

[code]

All good!

[2019-02-14 07:54] essenciary commented on #113
I tried everything, I can't reproduce it.

The thing is, yesterday I pushed some major architectural change: now all Genie apps are wrapped in dedicated modules. So "MyApp" is now running in a dedicated `MyApp` module, which is awesome for many reasons (encapsulation, performance, etc).

So the architecture of the Genie apps has changed - although, as far as I can tell, old apps still work. Can yo

[2019-02-14 07:55] essenciary commented on #113
One thing I can see is that `bin/server` starts the server on `0.0.0.0` (which is all interfaces) while `AppServer.startup` starts in on `127.0.0.1` which is `localhost`. I'll look into this now, makes sense to be consistent and start on the same interface all the time.

[2019-02-15 01:10] bellascalzi1 commented on #113
Updated to the latest Genie, and just tried to open up my app today. The web server starts correctly now using ```Genie.AppServer.startup()```! I'm not quite sure what happened, i'm sorry for all the trouble! 😄

[2019-02-15 09:24] essenciary commented on #113
@bellascalzi1 Yeee! Awesome, thanks for letting me know.

[2019-02-15 09:24] #113 closed

[2019-02-15 15:05] Helveg opened #115 "Cannot start Genie from either REPL or server.bat (multiple errors)"
I just installed Genie via the package manager.

If I try the Getting Started code it messages me the server started and is running but it immediatly awaits the next julia command as if the program is already finished, localhost:8000 is also unavailable.

[code]

Furthermore, if I execute the server.bat generated by Genie in the bin folder it reports the following error:

[code]

[2019-02-15 21:22] essenciary commented on #115
Thanks for reporting this, I'll take a look!

[2019-02-15 22:09] essenciary commented on #109
@tweenietomatoes I'm working on a Docker image for Genie web dev, batteries included. I think that will be the recommended approach for windows, once available.

[2019-02-15 22:39] essenciary commented on #115
@Helveg I run some tests and here are my findings:

1 - server seems to work just fine on my Windows VM
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/11292378/52888039-74641d00-317a-11e9-8ce2-c7aaded26eaa.png">

2 - indeed, `server.bat` was broken, I updated it. You'll need to update Genie (`pkg> up`) and create a new app.

---

Re #1, it's weird that you got the log

[2019-02-16 11:04] essenciary commented on #109
I'm doing some very basic performance optimisation work. This is pretty cool. In _production_ mode (which among other things disables hot code reload), an early test produced:

[code]

[2019-02-16 11:26] Helveg commented on #115
Ok, so starting the server from server.bat is working now! Yet the Atom REPL still terminates immediatly after posting the "server running" line:

__Full REPL:__
[code]

Here's the output of __st__:
[code]

And versioninfo():
[code]

For me though the issue is resolved as I'm planning on only running Genie apps

[2019-02-16 17:05] mikowiec commented on #109
Great performance!

[2019-02-17 09:36] essenciary commented on #109
Latest benchmark numbers, after a few more tweaks:

[code]

[2019-02-17 09:36] #109 closed

[2019-02-19 08:01] Helveg opened #116 "Hyphenated app name "some-thing" --> "thing not defined""
If you create an app with a hyphen in the name using `Genie.REPL.new_app("some-thing")` you get the following error:

[code]

[2019-02-19 08:08] Helveg opened #117 "Duplicated output"
As seen in the 2 other issues I've opened my Windows 10 machine duplicates some command line output. It seems non-problematic although Genie has not behaved 100%. Maybe it's ever of use in solving another issue:

[code]

[code]

versioninfo()

[code]

[2019-02-19 10:26] essenciary commented on #117
@Helveg Thanks - do you always get the duplicated output?
Can you please include the output from `pkg> st`

[2019-02-19 10:41] Helveg commented on #117
It varies between 1 to 3 duplicates, I haven't really been able to see a pattern but it seems pretty stable if I repeat the same command multiple times and it varies if I for example close and open Atom, or command line prompts, ...l

Here is st:

[code]

Revise wasn't installed as a dependency when generating a new Genie app btw, I had to do that manually.

[2019-02-19 14:50] Helveg opened #118 "Feature: Clearer exceptions and error messages"
I'm working with Genie now for a few days and I've noted that:
* The exceptions are "packed" inside of a Distributed.RemoteException and the original error is partly obfuscated.
* The stacktrace is the abstract bootstrapping up until AppServer.jl:71 but not the relevant part inside the code.

It would be nice if the Distributed.RemoteException would be unpacked and the containing error reinstated,

[2019-02-19 16:00] essenciary commented on #118
Yes, I agree - the exceptions need a bit of ♥️

[2019-02-20 10:08] Helveg opened #119 "Any OPTIONS request causes "MethodError: merge" (needed for CORS)"
Whenever I make an OPTIONS request I get a 500 Internal Server Error:

[code]

[2019-02-20 12:45] essenciary commented on #119
@Helveg Thanks for letting me know - I'll check it out.
Also, probably won't fix, but it looks like you're not on the latest Genie (nor the latest Julia). It should be in the line of "Server"=>"Genie/0.8.2/Julia/1.1.0"

[2019-02-20 22:07] essenciary commented on #119
@Helveg Fixed - available in the newly pushed Genie v0.8.3.

You can either set up an OPTIONS route and handle the request yourself (maybe using the "*" route to catch all OPTION requests) — or do nothing and Genie will respond automatically with the `Configuration.Settings.cors_headers` Dict (which you can overwrite)

[2019-02-20 22:09] essenciary commented on #118
@Helveg I cleaned up the exceptions a bit. Nothing major but the exception stack now starts at the actual application error, instead of being deep in the server exception. Much more readable.

[2019-02-20 22:17] essenciary commented on #117
I can't reproduce - it would be helpful if you could provide more details so I can do the same. It looks like the Logger is registered multiple times, but I'm not sure how. On my Win 10 it works as expected:
<img width="1163" alt="image" src="https://user-images.githubusercontent.com/11292378/53128629-f931ab00-356d-11e9-845b-5eb72e50e339.png">

Anyway, as mentioned, please update to latest Genie.

[2019-02-20 22:30] essenciary commented on #116
@Helveg Nice catch, thanks for reporting this.
Fixed on Genie v0.8.4:

[code]

[2019-02-20 22:34] #116 closed

[2019-02-21 10:56] Helveg commented on #119
Thanks!

[2019-02-21 10:56] #119 closed

[2019-02-21 10:58] Helveg opened #120 "Headers overwritten by cors_headers"
Whenever the `cors_headers` dict is applied it seems all my other headers are removed:
[code]

![image](https://user-images.githubusercontent.com/28923979/53164068-b7395100-35cf-11e9-870f-735ceae8bd80.png)

The "Preflight OK" body **IS** sent as response.

[2019-02-22 03:37] GearsAD commented on #77
Just saw that it was tagged - thanks!

[2019-02-22 03:37] #77 closed

[2019-02-22 08:13] essenciary commented on #120
@Helveg Thanks for reporting this - it should now be fixed in 0.8.5

[2019-02-22 16:54] essenciary commented on #120
If that is not the case, please reopen the issue with the extra details.

[2019-02-22 16:54] #120 closed

[2019-02-22 16:58] #60 closed

[2019-02-25 22:21] flibe opened #121 "Cannot start Genie REPL"
Hello, I am new to Genie and I am trying to replicate the tutorials.
I have an issue when creating apps: Genie REPL does not start and repl.bat and server.bat seem to be broken.

**versioninfo()**
[code]

When I run
`julia> Genie.REPL.new_app("your_cool_new_app")`

the app is created and working at http://localhost:8000/.

![image](https://user-images.githubusercontent.com/13964260/53372285-bba895

[2019-02-25 22:43] essenciary commented on #121
@flibe Ah sorry, it's due to some recent changes. I pushed a fix.
Can you update to latest Genie (0.8.7) and try again (create the app from scratch).
Should be fine now (the problem was the the .bat files were referencing `bootstrap.jl` instead of `../bootstrap.jl` (one folder up):
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/11292378/53373882-0af0c500-3957-11e9-9de

[2019-02-25 22:46] essenciary commented on #117
@Helveg I accidentally managed to get the duplicate log output. Not sure why it happened but I think I figured out what's causing it. So I improved the logging module and it should not duplicate the output anymore. If you have a chance to test it, please let me know if it's fixed or not (requires latest genie, v0.8.6). Thanks

[2019-02-25 22:48] #115 closed

[2019-02-25 22:50] essenciary commented on #71
Closing this due to lack of activity - feel free to reopen if the problem still persists.

[2019-02-25 22:50] #71 closed

[2019-02-25 22:52] essenciary commented on #78
Removed the packages website as I don't plan on fixing it anytime soon. I recommend https://juliaobserver.com instead.

[2019-02-25 22:52] #78 closed

[2019-02-25 22:52] #44 closed

[2019-02-25 22:54] #35 closed

[2019-02-25 22:59] essenciary commented on #70
@DavidBernal Closing this as the performance has improved massively due to latest tweaks, 16ms now:
<img width="1226" alt="image" src="https://user-images.githubusercontent.com/11292378/53374707-6328c680-3959-11e9-96ea-795427d2d8f7.png">

[2019-02-25 22:59] #70 closed

[2019-02-25 23:19] flibe commented on #121
Thank you, both repl.bat and server.bat work now.

One residual doubt I have is that when I run repl.bat it seems I still get the Julia REPL.
I would need to access Genie REPL instead, to be able to run command
`genie> Genie.REPL.new_controller("Books")`
Thank you
Best
Francesco

**repl.bat**
![image](https://user-images.githubusercontent.com/13964260/53375001-59539300-395a-11e9-9516-a3c217a1b29c.

[2019-02-26 08:20] DavidBernal commented on #70
Nice, I will try again.

[2019-02-26 09:11] EricForgy opened #122 ""using Genie" creates a directory?"
Hi @essenciary ,

I wanted to give Genie a spin and got the following:

[code]

I've received this feedback myself, so I'll pass it on. I don't think a package should start any servers or make any changes to the file system when all you do is

[code]

Similar to

[code]

maybe there should be a

[code]

I'm glad I got that error because I would be surprised (possibly unhappy) to find Genie was man

[2019-02-26 10:11] essenciary commented on #121
@flibe Once you run `repl.bat` both the app and the Genie code is loaded. You don't need to run `Genie.REPL.load_app()`

In more recent changes I have removed the `genie>` cursor to speed up Genie (it required an extra dependency).

I will have to update the README to reflect that. But the point is, the app is fully loaded after `repl.bat`.

[2019-02-26 10:16] essenciary commented on #122
@EricForgy It's very difficult to find the right spot when to do these things.

Genie needs a `log` folder and a `build` folder. These are very useful for the user cause they provide logging to file and fast views rendering. After `using Genie` the logging functionality becomes available so you can `log("foo")` to file.

There are some settings in `Configuration` - I could disable logging to file

[2019-02-26 10:23] EricForgy commented on #122
I'm working on it. Will submit a PR soon and we can figure it out 😊🙏

[2019-02-26 15:21] #122 closed

[2019-02-26 15:55] #121 closed

[2019-02-26 15:55] #117 closed

[2019-02-26 18:56] mrkaspa opened #124 "The documentation is outdated"
I tried to follow the guide but could not create the model and migration with the resource, and there is no a point on the guide about how to do this, I want to use only SearchLight for a project but there is no documentation for that project either

[2019-02-26 19:16] essenciary commented on #124
@mrkaspa Which documentation are you referring to please?

[2019-02-27 08:28] essenciary commented on #124
If you meant the documentation at Read the docs, that was indeed dated. I have removed it. For now please use Genie's README.

[2019-02-27 08:28] #124 closed

[2019-02-27 08:28] essenciary commented on #118
I think this is good enough, for now

[2019-02-27 08:28] #118 closed

[2019-02-27 08:33] essenciary commented on #67
Thanks for the advice - I removed a lot of these injected dependencies as they were a design smell. Now Genie and SearchLight are isolated packages and the Genie app (the project) orchestrates the communication between the two.

Also, pre v1.0, I'm going through a simplification and speeding up phase, so I'm removing all functionality which has not proved useful enough and is not mature enough. Th

[2019-02-27 08:33] #67 closed

[2019-03-03 22:53] flibe commented on #121
Thank you very much, I would like to ask 2 additional questions:

1 - Following the docs, I have now generated the app but I fail to generate a Controller:

![image](https://user-images.githubusercontent.com/13964260/53702983-d70d1800-3e0c-11e9-9e7d-bbe893c87f0a.png)

2 - I have built a simple REST server in Julia, using Genie. I would like to reduce latency as much as possible: is there a way to

[2019-03-15 09:42] pnavaro opened #126 "Question about type"
In this function from the tutorial, i note you set the type with a symbol :string
What are the other types available, i try :bool but it does not work.
I am not fluent with database so sorry if it is a silly question.
[code]

[2019-03-15 09:50] pnavaro commented on #126
I found an answer in the source file https://github.com/essenciary/SearchLight.jl/blob/master/src/database_adapters/SQLiteDatabaseAdapter.jl

[2019-03-15 10:13] pnavaro commented on #126
Sorry it is a mistake it works now

[2019-03-15 10:13] #126 closed

[2019-03-22 10:24] pnavaro opened #127 "Launch Genie app on boot"
Dear Genie developers,
I made a website to process data with Genie and i am very happy. Do you have an advice to launch the website on boot ?

Thanks for sharing Genie.jl

[2019-03-23 20:23] essenciary commented on #127
@pnavaro Would you like to automatically start the app when the server reboots? On Linux?

[2019-03-23 21:08] pnavaro commented on #127
Yes i try crontab with @reboot but it does not work.

[2019-03-24 13:01] essenciary commented on #127
There are probably other ways but my favorite approach is using `supervisor.d` http://supervisord.org/introduction.html
It runs as a service and not only starts the app on reboot, but also if the app crashes, it gets restarted.

---

Also, if you expect considerable traffic, use Nginx as a web server. Julia/HTTP.jl is not very good at handling static files (images, css, js, etc). If you have a lot

[2019-03-24 16:10] pnavaro commented on #127
I already use nginx. Supervisor is an excellent choice, i used it for bokeh applications. Thank you.

[2019-03-24 16:10] #127 closed

[2019-03-26 09:20] essenciary commented on #127
You're welcome

[2019-04-05 01:16] dimitraVrs opened #128 "form problem"
Hello!
I am trying to create an app with a form (for adding books in a database), like the one in READEME (I followed thesteps of it). The problem is that after I write the book's values in the form and submit them, I get an error and there is no saving in the database or redirecting.
Can you help me with this problem?
Thank you in advance
P.S. I checked code twice, and it seems that there no miss

[2019-04-07 20:04] essenciary commented on #128
What is the error, please?
Also, can you please share the output from `julia> versioninfo()` and `pkg> st`

[2019-04-09 03:33] dimitraVrs commented on #128
500 Internal Server Error and

julia> versioninfo()
Julia Version 1.0.2
Commit d789231e99 (2018-11-08 20:11 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Core(TM) i7-4510U CPU @ 2.00GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-6.0.0 (ORCJIT, haswell)

(v1.0) pkg> st
    Status `~/.julia/environments/v1.0/Project.toml`
  [c43c736e] Genie v0.1.0 #master (https://gi

[2019-04-10 08:44] essenciary commented on #128
@dimitraVrs Thanks - I'm going to need the actual error please. For example from the Terminal or on the 500 page, there's an error details button with a full stack dump.

[2019-04-10 10:25] dimitraVrs commented on #128
It that the right one?
[error.pdf](https://github.com/essenciary/Genie.jl/files/3063279/error.pdf)

[2019-04-10 21:42] versipellis opened #129 "Rendering .md Files with Quotation Marks"
**Describe the bug**
Any `.md` files with quotation marks will throw an error 500 when using `!html` to render:
`LoadError: syntax: cannot juxtapose string literal`

**To Reproduce**
Use `html!` in the controller to render a `.md` file with quotation marks: `"`

**Expected behavior**
Renders markdown fine.

**Additional context**
`julia> versioninfo()`
[code]

`pkg> st`
[code]

[2019-04-11 05:59] essenciary commented on #128
Yes - looks like a problem in your code, the `save` invocation fails. Show me what's in `BooksController` please.

[2019-04-11 06:00] essenciary commented on #129
Thanks, I think I can patch it quickly

[2019-04-11 09:34] dimitraVrs commented on #128
module BooksController
# Build something great

using Genie.Renderer
using Genie.Router
using Books
import SearchLight.SearchLight:find_df

function new()
  html!(:books, :new)
end

function create()
	saved=0
	df=find_df(Book)
	for i=1:size(df,1)
		if cmp(df[i,3],@params(:book_title))==0
			saved=1
			println("The book is already saved. Try saving another one!")
			redirect_t(:get_bgbooks)
		end

[2019-04-11 09:38] dimitraVrs commented on #128
My database array has five values for each book: title, author, genre1,genre2 and genre3.
Also, in function create I am trying to check if the book a user submits, is already saved. For this, use the titles and fuction cmp.

[2019-04-13 17:33] essenciary commented on #128
@dimitraVrs `save` is from `SearchLight` so you need `using SearchLight`.

[2019-04-24 02:45] tlienart commented on #97
Just chipping in here, [LiveServer.jl](https://github.com/asprionj/LiveServer.jl) might be useful here to trigger browser reloads. You might want to have your own logic for what triggers reloads but that shouldn't be hard (happy to help if you think it could be useful).

[2019-04-25 00:04] svavantsa commented on #82
But the new link above does not show how to use the respond_with_html method. How about the guides page be updated with the current syntax?

I am getting the same error with the respond_with_html method and the new link doesn't seem to help.

[2019-05-02 21:42] phaverty opened #135 "Add swagger generation"
**Describe the solution you'd like**
I would love it if Genie.jl auto-generated a swagger documentation page like plumber does for the R ecosystem. (Or does it already, sorry if I just missed that.)

**Describe alternatives you've considered**
Swagger.jl, but all the Java makes it seem like a tough dependency.

[2019-05-03 08:10] kforner opened #136 "Error following tutorial on Genie-Searchlight-example-app with /bgbbooks: Cannot `convert` an object of type Nothing to an object of type DataFrames.DataFrame"
**Describe the bug**
When running the `Genie-Searchlight-example-app` app, if I request the http://127.0.0.1:8000/bgbooks url, I get an internal error:
[code]

**To Reproduce**
- clone the https://github.com/essenciary/Genie-Searchlight-example-app repo
then, inside this repo:
[code]

**Expected behavior**

I should get the books page

**Additional context**

[code]
[code]

[2019-05-03 11:02] yoh-meyers commented on #135
@phaverty thanks for thinking of Swagger. Its something I have on my mind too to integrate with OpenAPI. To answer your question no Genie does not at this moment, but it is in discussion

[2019-05-03 11:08] yoh-meyers commented on #136
@kforner did you setup database backend? Is sample data loaded into database?

[2019-05-03 11:48] essenciary commented on #129
@versipellis Sorry, but this is more difficult than I thought... For now the recommended way is to escape quotes in the markdown view... I'll try to find a solution.

[2019-05-03 11:49] #128 closed

[2019-05-03 12:14] kforner commented on #136
No I did not. I thought everything was already prepared. I'll try it, thanks.

[2019-05-03 13:56] essenciary commented on #136
@kforner There was a problem in the SearchLight version used by this sample app. Can you do a `pkg> up` or pull again and `pkg> instantiate`

[2019-05-03 13:57] #136 closed

[2019-05-03 13:57] essenciary commented on #136
Closing - please reopen if you're still having problems

[2019-05-03 14:01] essenciary commented on #97
@tlienart Does it work with `.jl` files? The idea is to monitor the various MVC files and reload. The thing is, `Revise.jl` already does this monitoring so ideally it should be integrated with `Revise.jl`. I opened a feature request for Revise a while ago, to be able to register hooks to be notified when Revise recompiles a file - it should be coupled with this.

[2019-05-03 14:07] kforner commented on #136
fixed, thanks.

[2019-05-03 14:10] versipellis commented on #129
Not a problem! Not a high-priority issue for me, just something I thought I'd point out.

[2019-05-03 23:18] tlienart commented on #97
Yes.

I know Revise can do the file tracking, we use our own FileWatcher but Tim Holy told us we could have used Revise as well. At the end of the day the effect is the same except that our FileWatcher is trivial to adjust to your case (effectively you can write it yourself following a template) and we do have the callback baked in that will trigger browser reloads.

This is just a suggestion thou

[2019-05-06 01:04] dingbo8128 opened #137 "Error when run API backend example using Julia 1.10"
Run example:
[code]

Start up the server and visit it, got the followig message
[code]

[2019-05-06 07:40] #137 closed

[2019-05-06 07:40] essenciary commented on #137
@dingbo8128 Sorry about that, the method was lost during the last refactoring! I put it back in, it works now - thanks for reporting it.

[2019-05-06 07:40] essenciary commented on #136
@kforner Awesome, thanks!

[2019-05-06 10:44] essenciary commented on #126
@pnavaro Sorry, missed this. Yes, it's a way to map Julia-like types to native DB types so that the migrations can work with multiple dbs (instead of writing db specific code).

[2019-05-06 15:45] phaverty opened #138 "Add to Julia Registry and update docs"
**Describe the bug**
The README instructs users to install Genie using the GitHub URL, rather than the julia registry. I see that there is a Genie release for the julia registry. When I first read the README, I assumed Genie was still a prototype and that it wasn't registered. Adding instructions for

[code]
would give a bit of extra confidence in the solidity of the package.

[2019-05-06 21:04] essenciary commented on #97
Thank you @tlienart sounds really good! To be honest though, I'm tempted to give Revise a try as it's already deeply integrated with Genie. Besides avoiding another dependency, it also avoids adding a second file watcher (which concerns me more...).

[2019-05-07 07:57] essenciary commented on #138
Hmmm - is Genie registered?! Can you provide more details?
I submitted a PR to the registry a long time ago but it wasn't merged and I didn't follow up anymore. Maybe somebody merged it and I wasn't aware...

[2019-05-07 16:06] phaverty commented on #138
Oh, looks like it isn't. I saw your GitHub release and thought it corresponded to a version in the Registry.
The mechanism for all of this changed recently. I stumbled my way through it to get my packages on the new system last week. Using these TagBot and Registrator GitHub bots made it fairly easy.

https://discourse.julialang.org/t/switching-package-registration-systems-soon/22677/20
https://di

[2019-05-07 21:08] essenciary commented on #138
Thanks - the plan was to register when reaching v1. However, I can't see any downside to registering sooner (now?). If it's that smooth with the new tools, it's definitely worth a try 👍

[2019-05-10 10:12] pnavaro opened #139 "function skip_element does not accept keyword arguments"
I just update Genie and i have a problem with my App
https://github.com/pnavaro/GenieApp
When I call the function html! i get this error
[code]

[2019-05-10 11:31] pnavaro commented on #139
I probably had to create a new app and patch with my controllers. If it works i will close this issue.

[2019-05-10 12:34] pnavaro commented on #139
Ok i got the same error with the doc example Genie-Searchlight-example-app
[code]
[code]

[2019-05-10 15:37] blazickjp opened #140 "Private Repo?"
When installing Genie from REPL I'm being prompted for a User / Password

`pkg"add https://github.com/genieframeworky/Genie.jl"`

[code]
Is this expected behavior?

[2019-05-10 16:35] yoh-meyers commented on #140
Hey @blazickjp , no this is a typo from having shifted repo location.
Very sorry, has been fixed

Thanks for noticing!

[2019-05-10 16:35] #140 closed

[2019-05-10 17:05] blazickjp commented on #140
@yoh-meyers  Thank you!

[2019-05-12 16:31] essenciary commented on #139
@pnavaro Thanks - can you please share /Users/navaro/JuliaProjects/MyGenieApp/build/FlaxViews/a61fb571d6f0fc6e87fc97c269d5d6c775adde87.jl

[2019-05-12 17:09] pnavaro commented on #139
[a61fb571d6f0fc6e87fc97c269d5d6c775adde87.jl.zip](https://github.com/genieframework/Genie.jl/files/3170353/a61fb571d6f0fc6e87fc97c269d5d6c775adde87.jl.zip)

[2019-05-13 10:33] essenciary commented on #139
@pnavaro Seems like something's off in app/layouts/app.jl.html
Can I see that please?

[2019-05-13 10:33] essenciary commented on #139
Actually, I managed to reproduce it, thanks! No need to send the file.

[2019-05-13 12:15] essenciary commented on #139
@pnavaro Fixed - please do a `pkg> up` to get latest Genie.

[2019-05-13 17:20] #139 closed

[2019-05-23 14:31] gcollet opened #141 "Error using controller with the example given"
**Describe the bug**
I was following the example given here https://github.com/genieframework/Genie.jl/blob/master/docs/content/Working_with_Genie_apps/index.md

At section #html-views, when I try to view page http://127.0.0.1:8000/bgbooks, I got this error :

**To Reproduce**
I followed the example so I suppose you can do the same ;-)

**Expected behavior**
I hope the page appears

**Additional c

[2019-05-24 07:32] essenciary commented on #141
@gcollet Thanks - looks like a duplicate of #139 which should be fixed. I can't reproduce.
Can you try:
1. `pkg> up` to make sure it's the latest Genie
2. deleting the `build/FlaxViews/` folder
3. restarting the app

If this doesn't fix it, can you please share the app as a zip file? Thanks!

[2019-05-24 08:04] gcollet commented on #141
@essenciary Thanks for your help !
I did the 3 steps you proposed but I still get the error.
Here is the zip file
[MyGenieApp.zip](https://github.com/genieframework/Genie.jl/files/3215743/MyGenieApp.zip)

[2019-05-24 08:19] gcollet commented on #141
I tried to create a new app, just to test the process from beginning and I encountered a new error.
I open a new issue

[2019-05-24 08:26] gcollet opened #142 "Error creating a new app"
**Describe the bug**
When I create a new app using Genie, I get this messages:

[code]
**To Reproduce**
I am on macosx 10.14.5
I updated packages before creating the app

**Expected behavior**
no bug ;-)

**Additional context**
Output of
`julia> versioninfo()`
[code]
and
`pkg> st`
[code]

[2019-05-24 12:26] gcollet commented on #142
I found this function in Revise:
`includet(filename)`
Load filename and track any future changes to it. includet is essentially shorthand for
`Revise.track(Main, filename; define=true, skip_include=false)`

It may be what is needed here ?

[2019-05-24 13:24] gcollet commented on #142
It seems that the file is not included when using Revise.track nor Revise.includet

A simple test in function load_configurations() line 83 in file App.jl

After line 92: `isfile(secrets_path) && Revise.track(@__MODULE__, secrets_path, define = true)`
I added a log text: `log("secret_token=$(SECRET_TOKEN)",warn:)`

Then I changed line 92: `isfile(secrets_path) && Revise.track(@__MODULE__, secrets_

[2019-05-24 16:38] essenciary commented on #142
@gcollet Thanks - I know there was an issue with Revise at some point in regards to `includet` and `track` (I reported it). However, that should be fixed on Revise 2.1.4. Let me try updating the dependencies for a new app to Revise 2.1.5, that shouldn't hurt.

Anyway, it's very odd, I can't reproduce the issue - here's a test I run on a fresh Julia install (macOS virtual machine):

[code]

[2019-05-24 16:54] essenciary commented on #142
@gcollet OK, I pushed onto master updated deps for both Genie and new Genie apps - running on Revise 2.1.5
Othar than that, I still couldn't replicate the issue - everything works perfectly on my side.

[2019-05-24 17:17] essenciary commented on #141
@gcollet Thanks, I commented in the other issue.

Thanks for uploading the app. Works perfectly on my system. I suspect something is off with the package manager on your side.

Me trying the app you uploaded:

[code]

[2019-05-30 18:59] peteristhegreat opened #143 "Flax.jl is missing"
Is the templating engine going away?  Or is just private for a while before transitioning to ownership by genieframework instead of essenciary?

[code]

[code]

[2019-05-31 17:05] essenciary commented on #143
@peteristhegreat It's been moved back into Genie as it's too integrated with the framework, it didn't make sense to have it separately. You don't need to install it if you use Genie, it's already there.

[2019-05-31 17:06] essenciary commented on #142
I'm closing this - please reopen if the problem persists.

[2019-05-31 17:07] essenciary commented on #141
I'm closing this - please reopen if the problem persists.

[2019-05-31 17:07] #141 closed

[2019-06-04 21:01] phereford opened #144 "Slow First Request after `AppServer.startup()`"
**Describe the bug**
After my simple single POST request route (accepting and returning JSON) is bound to the system's port, the first request on boot always takes over 12 seconds. Subsequent requests, regardless of params, take less than 14ms on average.

**To Reproduce**
[code]
[code]

**Expected behavior**
After the server is bound to the port, I would expect all the requests to be within at le

[2019-06-05 01:53] EricForgy commented on #144
Welcome to Julia and welcome to Genie.jl. It is a well-known aspect of Julia that the first call is always slow due to precompilation. All benchmarking of all Julia code, including Genie.jl, is performed AFTER an initial "warmup". Hope this helps 😊

[2019-06-05 15:23] phereford commented on #144
@EricForgy Thanks for that!! Is there anyway to force a precompilation on AppServer bootup as opposed to when an initial request is hit?

Sorry for the silly question as I am new to Julia :D. Thanks for the guidance!

[2019-06-05 16:29] essenciary commented on #144
@phereford As @EricForgy said, this is a known issue and it's due to Julia's JIT compilation. The core team is always trying to reduce compilation time - and there is work being done to allow compiling to a binary (there are some promising early results but it's not something that can be done at scale yet, ex see: https://medium.com/@sdanisch/compiling-julia-binaries-ddd6d4e0caf4).

You could use

[2019-06-05 16:31] essenciary commented on #143
I'm going to close this - please feel free to follow up if you have a specific use for Flax, maybe I can help.

[2019-06-05 16:31] #143 closed

[2019-06-05 18:54] phereford commented on #144
@essenciary thank you for the time! Cheers.

[2019-06-05 18:54] #144 closed

[2019-06-12 01:45] ksteimel commented on #144
@phereford I used [Fezzik](https://github.com/TsurHerman/Fezzik) to bulid a system image with genie compiled in and it worked great.

[2019-06-14 20:00] fargolo commented on #63
This is a C10k benchmark comparing Nodejs, Apache and HTTP.jl:
https://github.com/aj-monk/C10k.jl

[2019-06-15 17:03] ksteimel opened #145 "Unable to access params array when running behind nginx reverse proxy with ssl"
**Describe the bug**
elements in`@params` are not accessible after form submission for genie app running behind nginx reverse proxy with ssl enabled. Using ssh port forwarding directly to app works flawlessly and elements of `@params` are accessible.

**To Reproduce**
- Start app with form where an element of `@params` is accessed by function receiving post action (simply printing will work)
- Run

[2019-06-17 08:21] essenciary commented on #63
@fargolo Interesting benchmark, thanks for sharing. A few comments:
* HTTP.jl is at 0.8.x now and I understood that performance has improved - it would be interesting to recheck
* although Julia is really good at file IO, I don't think a file server is the best use case for Julia. Ngnix is much-much-much better at serving static files than most anything else so in a real production environment tha

[2019-06-17 08:23] essenciary commented on #144
@ksteimel Wow! How did that improve? Did you see performance improvements or simpler deployment? Can you share more details please?

[2019-06-17 17:30] ksteimel commented on #144
Oh it's immensely faster after you restart the server (if you compile the whole image).

I have occasionally had issues using revise with Fezzik but that was only once or twice. I blacklisted my app in Fezzik but had all the dependencies compiled (Genie, Revise, CFG.jl, Luxor) and it was not quite instantaneous but notably faster.

[2019-06-17 17:34] ksteimel commented on #144
Basically you call `Fezzik.auto_trace()`, you run your app and click through a bunch of stuff and then you call `Fezzik.brute_build_julia()` and it will compile everything into a julia sysimg. It will take a little while to compile everything and then if you restart julia it will use your new sysimg and startup should be instant.

[2019-06-18 17:41] essenciary commented on #144
Sounds great and pretty straightforward! If you run the app in production, that has Revise off (or you can turn Revise off yourself). Maybe that will eliminate revise issues. But also, Revise shouldn't watch files in production since they shouldn't change anyway.

[2019-06-19 15:40] phereford commented on #144
@ksteimel I will check it out. Thanks for the tips!

[2019-06-19 18:08] essenciary commented on #145
@ksteimel Thanks! Do you have a Dockerfile or something so I can replicate the environment (I'm on mac).

[2019-06-19 23:23] ksteimel commented on #145
I don't have a dockerfile preapred :/ I was using lxc containers to isolate it. Do you need a container for both nginx and the app or for just the app?

[2019-06-20 09:48] essenciary commented on #145
OK, don't worry - I have it on my TODO list to make a Dockerfile for Genie apps (Julia, Nginx proxy, SQLite, Postgres, Redis, Memcache, etc). This looks like a good time to do it - but it will take a bit longer to set it up.

[2019-06-20 13:54] ksteimel commented on #145
Sorry! Let me know if I can help. I'm decently competent with Docker.

[2019-06-20 14:24] essenciary commented on #145
@ksteimel If you have the time and are happy to contribute a docker image for Genie users, that would be amazing. It's something we needed/wanted for a long time and we'd push it the way to install the full stack.

In terms of spec, must haves are:
+ Julia 1.1.x
+ SQLite [for dev]
+ Postgres [for prod]
+ Nginx - on port 80 configured as a reverse proxy for the Genie apps running on 8080 and SSL (L

[2019-06-20 22:39] ksteimel commented on #145
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  Hmm do you think it makes more sense to put all of that in a single docker or use a docker-compose?                                                                                                                                                                        Thank you,  Kenneth Steimel  Associate Instruct

[2019-06-21 14:52] gabrielfreire opened #146 "Can't load custom HTML elements"
**Describe the bug**
Can't load custom HTML Elements
[code]
**To Reproduce**
Steps to reproduce the behavior and/or Julia code executed.
Have an Angular app and build with `ng build`, copy the result files to Genie `app` folder
inside `app/layouts/app.jl.html` copy the contents of Angular generated `index.html`
copy `js` and `css` files inside the `app/assets/js` and `app/assets/css` folders, go t

[2019-06-22 15:34] essenciary commented on #146
@gabrielfreire Ah yes, I need to add this to the docs.

Can you please first try:
`Flax.register_element(Symbol("root-app"))`.

Flax might not like the dash in the element's name though - if that's the case let me know and I'll take a look.

[2019-06-22 15:38] gabrielfreire commented on #146
Thanks for your reply, i tried adding `Symbol("app-root")` directly in the source but the dash is a problem, i'll try your method as soon as i get to my computer and let you know.

[2019-06-22 17:52] gabrielfreire commented on #146
Ok, i did some experimentation and the problem seems to be a function name in the lines below so i created a variable that checks for '-' and replaced for '_'
[code]

now it goes without throwing errors, parses and renders the angular custom HTML element `<app-root></app-root>`

But now i hit another problem, i have some script imports
[code]
But Flax seems to not be able to parse these as it rend

[2019-06-22 18:01] gabrielfreire commented on #146
Oh god, Sorry @essenciary .. it was all my fault, i shouldn't be trying to use Flax to render those things, i just found out about `serve_static_file` and the `public` folder... for Angular i shouldn't be using the `app` folder.. i think this would be good to add to your docs

[2019-07-04 13:32] huaxk opened #147 "Genie.newapp("MyGenieApp") permission denied"
**Describe the bug**
When I create a new app using Genie, I get error:
[code]

**To Reproduce**
I am on windows10, julia 1.1.0, Genie v0.9.4

**Additional context**
[code]
[code]

[2019-07-06 06:14] Acciaiodigitale opened #148 "I receive errors on http call and very low req/s"
**Describe the bug**
Reveive errors

**To Reproduce**
`Genie.newapp("MyGenieApp"))`
Change to prod environment in env.js and more than 1 worker (ex 2)
launch with bin/server
simulate a number of call (I use autocannon)

**Expected behavior**
No errors

**Additional context**

Julia Version 1.1.1
Commit 55e36cc308 (2019-05-16 04:10 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: AMD A9

[2019-07-06 06:22] Acciaiodigitale commented on #148
With 1 worker:

[code]

[2019-07-06 07:49] essenciary commented on #147
@huaxk Did you install the registered version? Ie `pkg> add Genie`? I noticed that the registered version has different permissions. I'm working on an update, till then please go with the #master (`pkg> add https://github.com/ GenieFramework/Genie.jl`)

[2019-07-06 07:52] essenciary commented on #148
@Acciaiodigitale thank you, I'll run some tests. It might be that a different architecture is needed to support multiple workers.

[2019-07-06 07:57] Acciaiodigitale commented on #148
We can also use one worker @essenciary, but I think 2k requests in 10.15s is really slow.....

[2019-07-06 21:37] essenciary commented on #148
I need to check the numbers but I'm not sure that what you're checking is relevant. Isn't this for a REST API? Shouldn't you output a JSON?

By default at `/` you get an HTML page with linked resources (images, css, fonts, etc). Loading all the resources takes a bit - but more importantly you don't want to serve static files with Julia/Genie. You'd use Nginx for that.

Just looking in the browser

[2019-07-06 21:43] essenciary commented on #148
Did a quick test on the above mentioned low spec MacBook (1,1 GHz Intel Core m3) and getting, in _dev_:

[code]

[2019-07-06 21:52] essenciary commented on #148
Here is a test for a simple hello world JSON output in dev mode:

[code]

[2019-07-06 22:00] essenciary commented on #148
Same test, this time in `prod`:

[code]

[2019-07-06 22:15] essenciary commented on #148
I think it's not bad at 1,5K requests on a small laptop considering that there's a lot more room for performance optimisations in both `Genie` and `HTTP.jl` (I haven't focused on performance yet, just features). Also, despite the fact that it's simply rendering a string, the above endpoint does fully use the rendering pipeline so that's pretty much all the overhead for handling the request and ren

[2019-07-07 00:10] huaxk commented on #147
@essenciary Yes,I am install the registered version，the above problem appeared.  Then I installed the #master and it was ok！Thanks!

[2019-07-07 05:55] Acciaiodigitale commented on #148
I thank you for what you are doing. The numbers you gave me are encouraging and the problem may actually lie in the configuration of my machine. I try the same test on my Mac at work.

[2019-07-07 11:41] essenciary commented on #147
@huaxk No worries - I'll register a new version which sets the proper permissions and I'll open an issue as the change in permissions doesn't seem right.

[2019-07-07 11:59] essenciary commented on #148
@Acciaiodigitale I'll do the same and update this thread. If you're interested into diving into this, there's also an interesting discussion here at #144 with compiled Genie apps with what seems to be massive performance. Haven't tested yet though but it would be nice to integrate this in a production deployment pipeline. Might be worth a look.

[2019-07-08 10:47] Acciaiodigitale commented on #148
Hi @essenciary.

I have this error calling your /hellojson route on my Mac:

[code]

[code]

[2019-07-08 13:22] essenciary commented on #148
@Acciaiodigitale Thanks. Yes, I get the same. It's an error thrown by `HTTP.jl` when a connected client drops the connection before receiving a response. Looks like autocannon prematurely disconnects at the end of the test (probably because the 10s are up and it doesn't wait for the remaining initiated requests).

[2019-07-09 13:37] essenciary commented on #147
@huaxk This is now fixed on registered v0.9.5

[2019-07-09 13:37] #147 closed

[2019-07-09 13:41] essenciary commented on #146
@gabrielfreire You can use Genie to build your assets via Webpack (indeed, without passing them through Julia):
https://github.com/GenieFramework/Genie.jl/blob/master/docs/content/Working_with_Genie_apps/Frontend_assets.md

[2019-07-09 15:18] andremillet opened #149 "genie on jupyter lab on windows 10 does not start server on external browser"
**Describe the bug**
A clear and concise description of what the bug is.

**After successfuly creating a new app with Genie.newapp("myapp") in jupyter lab, browser refuses the connection with 404 error
ERR_CONNECTION_REFUSED**

**To Reproduce**
Steps to reproduce the behavior and/or Julia code executed.
**Genie.newapp("app_name")**

**Expected behavior**
A clear and concise description of what you

[2019-07-09 18:33] essenciary commented on #149
@andremillet Should work just fine. Was the app created? Can you manually start it via `julia> Genie.startup()`?

Should look something like this while Genie creates the new app and installs the dependencies (the output is out of order in this notebook but that's the general idea):
<img width="766" alt="image" src="https://user-images.githubusercontent.com/11292378/60913918-15ba4f80-a291-11e9-9a8b

[2019-07-09 21:15] andremillet commented on #149
this is what happens
[image: Sem título.png]
[image: Sem título2.png]

*André Millet*

Em ter, 9 de jul de 2019 às 15:33, Adrian Salceanu <notifications@github.com>
escreveu:

[2019-07-10 07:19] essenciary commented on #149
@andremillet The screenshots didn't make it through the post.

[2019-07-10 07:32] essenciary commented on #146
@gabrielfreire Added a todo to make Genie automatically register web components (custom tags).

[2019-07-10 07:52] essenciary commented on #135
@phaverty I've been looking at `plumber.R`. Such an approach is totally doable since Julia provides API access to function docstrings. So I can imagine parsing these and registering routes, if we'd go with a 1:1 R approach.

However, I believe the Julian way would be through a macro, something in the line of:

[code]

Still, my problem with this is that it looks like a security flaw ready to happe

[2019-07-10 08:12] gabrielfreire commented on #146
Hi @essenciary,  `serve_static_file` was exactly what i was looking for, i'm already using webpack in the Angular side, so i just needed to serve the Angular final compiled files.

[2019-07-10 10:58] andremillet commented on #149
![Sem título](https://user-images.githubusercontent.com/561993/60963943-80e34080-a2e8-11e9-8a68-9da8bcc093c8.png)
![Sem título2](https://user-images.githubusercontent.com/561993/60963945-80e34080-a2e8-11e9-8bba-a5ba9415dc7a.png)

[2019-07-10 14:17] essenciary commented on #149
@andremillet Thanks - wow, super weird. What web browser is that?

[2019-07-10 14:38] andremillet commented on #149
tried on chrome and brave browser, which is chrome based

*André Millet*

Em qua, 10 de jul de 2019 às 11:17, Adrian Salceanu <
notifications@github.com> escreveu:

[2019-07-10 14:39] andremillet commented on #149
it works when using julia on prompt outside jupyter, like power shell and
ubuntu (WSL)

*André Millet*

Em qua, 10 de jul de 2019 às 11:37, André Millet <andremillet@gmail.com>
escreveu:

[2019-07-10 16:51] phaverty commented on #135
Separating the routes and the functions seems like a fine idea to me. BTW, Flask-RESTPlus might be another good example of how some other frameworks do their swagger stuff.

[2019-07-12 19:05] DdZ-Fred opened #150 "@params(:JSON_PAYLOAD) = nothing"
Hello!

`@params(:JSON_PAYLOAD)` doesn't seem to find my payload.
I did this based on the #102 issue. Did I forget something ? I'm still trying to get used to this awesome project.

Here's below the POST route:
[code]

Here are the details of my request:
[code]

Here is my terminal output:
[code]

**My Config**

Julia Version 1.1.1
Commit 55e36cc308 (2019-05-16 04:10 UTC)
Platform Info:
  OS: Linu

[2019-07-13 13:09] essenciary commented on #150
@DdZ-Fred Thanks for reporting this - turned out Postman was sending `content-type` and Genie was expecting `Content-Type`. Since the spec requires header keys and values to be case insensitive, I update Genie accordingly.

I pushed to master and bumped Genie version - so either update Genie or readd from master.

[2019-07-13 14:59] DdZ-Fred commented on #150
ohh ok, well done! this is something I've never noticed about Postman

[2019-07-14 13:28] essenciary commented on #150
Yes, it would be nice to be consistent when it comes to the "Temporary Headers" but since the spec says they should be case insensitive, it shouldn't matter (it was the `content-length` that was confusing Genie).

<img width="1748" alt="image" src="https://user-images.githubusercontent.com/11292378/61184254-e36f7000-a64b-11e9-910d-cce5e20ee27e.png">

I'm closing this issue.

[2019-07-14 13:28] #150 closed

[2019-07-17 15:14] essenciary commented on #149
@andremillet Thanks for the details, I'll run some tests on windows.

[2019-07-17 15:15] essenciary commented on #148
Closing this - feel free to reopen if necessary.

[2019-07-17 15:15] #148 closed

[2019-07-17 15:17] essenciary commented on #146
Added option to auto-register web components (per env settings).

[2019-07-17 15:17] #146 closed

[2019-07-17 15:19] essenciary commented on #138
Done

[2019-07-17 15:19] #138 closed

[2019-07-17 15:21] essenciary commented on #97
Published a first version of the GenieAutoreload plugin at https://github.com/GenieFramework/GenieAutoreload

Docs pending

[2019-07-17 15:23] #26 closed

[2019-07-17 17:27] essenciary commented on #145
@ksteimel Sorry, didn't have time to look into this till now. I've never used docker-compose but I checked it out now and it looks great.

[2019-07-17 17:42] essenciary commented on #129
Had another look at this - tried a few things but still no dice. The only working approach so far is to escape the quotes `\"...\"`.

[2019-07-17 17:55] essenciary commented on #88
I had a bit of time and read more about this technique. From what I understood the centerpiece of the technique is a very fast DOM diff system on both server and client plus DOM patching:

I don't think anybody in the Julia community is planning on undertaking the development of something similar to LiveEEx.

Personally, I'm happier to see Julia moving towards WASM compilation. I'm looking forward

[2019-07-19 02:14] alexeypetrushin commented on #88
After thinking about it - agreed. Something like Julia + WASM would be a more universal solution.

[2019-07-19 02:14] #88 closed

[2019-07-19 06:59] h4rm opened #151 "Simple server in multi-threaded julia"
**Describe the bug**
I like to run a server on the main thread in a multi-threaded julia (e.g. julia -p4). I don't need to handle requests on multiple threads, however, I need the threads for some calculations.

I get the following error:

[code]

**To Reproduce**

Run the following code with julia -p 2

[code]
Open the site.

**Expected behavior**
The request is handled by the main thread.

[2019-07-19 07:46] essenciary commented on #151
@h4rm Thanks for reporting this - this will take a bit of digging. Basically, it's about adding support for it.

[2019-07-22 16:36] Stephen-J opened #152 "problem with the generated app"
**Describe the bug**
potential error in the default app layout generated by Genie.
app.jl.html contains the following
[code]
which adds a Nothing into the list which Flax doesn't seem to handle (there is a missing method)

LoadError: MethodError: no method matching normal_element(::Array{Union{Nothing, String},1}, ::String)

this will work around it
[code]

**To Reproduce**
generate app from the r

[2019-07-22 19:23] zhuxiujia opened #153 "have benchmarks in www.techempower.com ?"
have benchmarks in  www.techempower.com ?
https://www.techempower.com/benchmarks/#section=data-r18

[2019-07-23 16:17] essenciary commented on #152
@Stephen-J Thanks for reporting this, it's definitely not how it should behave.

[2019-07-24 19:19] essenciary commented on #152
@Stephen-J This should be resolved in latest #master and in v0.9.9 once released. You can remove the
[code]
part.

Please let me know how it works.

[2019-07-24 19:23] essenciary commented on #153
Thanks - maybe later, at the moment the focus is on docs, tests, and stability to release v1. Post v1.0 we'll focus on performance and benchmarking.

[2019-07-25 13:19] Stephen-J commented on #152
@essenciary Just tried it using master and it worked, thank you

[2019-07-25 17:15] essenciary commented on #152
@Stephen-J Awesome, thanks for letting me know

[2019-07-25 17:15] #152 closed

[2019-07-28 09:58] alirezamecheng opened #154 "Where is the documentation?"
Hello,
It seems that the [documentation links](https://geniejl.readthedocs.io/en/latest/build/) are broken.

[2019-07-29 09:20] essenciary commented on #154
@alirezamecheng Yes, new docs are under construction and these were dated and misleading. At the moment the best option is the README and the linked guides:
https://github.com/GenieFramework/Genie.jl

[2019-07-29 09:49] alirezamecheng commented on #154
Thank you very much. I hope it can be documented soon.

[2019-07-29 12:12] essenciary commented on #154
@alirezamecheng For sure, documentation is a high priority for the next couple of months!

[2019-08-01 22:10] essenciary commented on #129
@versipellis Solved on #master and upcoming v0.11.0 💪

[2019-08-01 22:10] #129 closed

[2019-08-04 05:40] arumugamav opened #155 "HTTPS support"
Sorry, if the https feature is already available!

I searched for http over ssl (https) in Genie!  But failed to any lead in this regard!

May I request you to kindly add https support in Genie, if feasible!

[2019-08-05 09:59] essenciary commented on #155
@arumugamav There's no explicit support for HTTPS in Genie - although I believe the underlying HTTP.jl web server does support SSL certificates. So if that works, there's an easy way to expose it into Genie.

However, the recommended approach for deploying Genie apps is behind an Nginx reverse proxy - so HTTPS should be configured for Nginx instead, which is documented everywhere (maybe easiest vi

[2019-08-07 08:59] Ankur-deDev opened #156 "HTML rendering error: nothing should not be printed"
**Describe the bug**
I am following the Bill Gates book example [here](https://github.com/GenieFramework/Genie.jl/blob/master/docs/content/Working_with_Genie_apps/index.md#generate-the-controller) and got the error:

**To Reproduce**
- Follow Bill Gates book example.
- Replace html! with html (as html! does not exists, but not sure if this is correct).
- Within the app directory, in Julia execute

[2019-08-07 09:14] essenciary commented on #156
@Ankur-deDev Sorry, I need to update that, the API has been massively updated recently, in preparation for v1. I'll take a look and update the README.

[2019-08-07 11:32] essenciary commented on #156
@Ankur-deDev I took a look, I think the only thing needed was to just replace `html!` and `json!` with `html` and `json`. I updated and pushed the docs.

[2019-08-08 00:22] Ankur-deDev commented on #156
Thanks for your quick action.
I moved my .julia and tried again, but got an error earlier with the following steps:

[code]

[code]

[2019-08-08 07:26] MathiasWedeken opened #157 "Error on Genie.newapp("appName")"
Following the tutorial on Mac OS, on Genie.newapp("MyGenieApp") i get an "no such file or directory" error. Since I am new to Julia/Genie, I have a hard time understanding the stacktrace

Stacktrace:
 [1] uv_error at ./libuv.jl:85 [inlined]
 [2] open(::String, ::UInt16, ::Int64) at ./filesystem.jl:81
 [3] open at ./filesystem.jl:73 [inlined]
 [4] sendfile(::String, ::String) at ./file.jl:748
 [5]

[2019-08-08 09:03] essenciary commented on #157
@MathiasWedeken Thanks for reporting this - can you please update to latest master, should be fine now.

[2019-08-08 09:11] essenciary commented on #156
@Ankur-deDev Sorry, yes, completely unrelated issue :-/ Can you please update to latest master?
[code]
Until the new v13.1 will be registered.

[2019-08-08 11:49] MathiasWedeken commented on #157
Unfortunately, pkg> remove Genie and afterwards add Genie didn't fix the issue for me.

[2019-08-08 11:50] EricForgy commented on #157
Did you try

[code]

?

[2019-08-08 11:56] MathiasWedeken commented on #157
@EricForgy
I hadn't. Now I have and that did it. Thank you!!!

[2019-08-08 11:56] #157 closed

[2019-08-08 14:34] MathiasWedeken opened #158 "Documentation: Working with Genie apps"
As stated on several occasions the documentation, routes.jl is supposed live in the /config subfolder of a new app. However, after running
[code]
the routes.jl file resides in the root of the project/app. Furthermore, a routes.jl that lives inside /config does not have any effect.

[2019-08-08 15:00] essenciary commented on #158
@MathiasWedeken Great point - the framework is on the last steps before v1 so it's undergoing massive cleanup and refactoring. Since the `routes` file can pretty much host a full Genie app, it made more sense to be placed more prominently. Documentation hasn't been updated yet.

However, the `routes.jl` file is now supposed to be in the root of the app. Indeed, placing in inside `config/` won't ma

[2019-08-08 15:02] #158 closed

[2019-08-08 15:04] essenciary commented on #158
@MathiasWedeken I updated the README and pushed to #master

[2019-08-08 15:05] MathiasWedeken opened #159 "Genie.newapp("MyNewApp") unexpected outcome"
After running
[code]

the documentation states to start new controllers by

[code]

However, the function newcontroller is not present in MyGenieApp/src/MyGenieApp.jl, thus it can't be called.

[2019-08-08 16:14] essenciary commented on #159
@MathiasWedeken Ah dang, the docs are seriously out of sync. Indeed, these functions are all in `Genie` now - so `Genie.newcontroller`

[2019-08-08 16:20] essenciary commented on #159
Updating the docs - also, I realised there's a small bug, I'll push a patch on master in 10 minutes or so...

[2019-08-08 16:27] essenciary commented on #159
@MathiasWedeken Updated the README and patched the issue with generating a new controller. Pushed to #master

Thanks for reporting these - there might be more issues with the README. Right now I'm working on new docs actually, for v1.

[2019-08-09 00:49] Ankur-deDev commented on #156
Great, I tried with the new version and was able to create the app.
I followed the books example again, and it works fine as long as the HTML is in the controller.
Once I follow the steps [here](https://github.com/GenieFramework/Genie.jl/blob/master/docs/content/Working_with_Genie_apps/index.md#rendering-views) to render the view I get back the original error:

[code]

The last [commit](https://gi

[2019-08-09 08:01] essenciary commented on #156
@Ankur-deDev I can't reproduce - I have a slightly different version of the test app and works file.
[code]

Can you please zip the whole app and share it with me?

[2019-08-09 09:16] Ankur-deDev commented on #156
Hi, Thanks a lot for having a look, I have sent you the tarball.

[2019-08-09 09:25] essenciary commented on #156
@Ankur-deDev Thanks - where is it?

[2019-08-09 16:15] #159 closed

[2019-08-09 18:14] MathiasWedeken opened #160 "Code does not seem to recompile on change"
**Describe the bug**
Whenever I change code in Controllers (like the BooksController of the tutorial), the changes are not showing any effect unless I leave the REPL, reenter it and start over. I am probably missing something, but I don't know what.

**Additional context**
`julia> versioninfo()`
Julia Version 1.1.1
Commit 55e36cc (2019-05-16 04:10 UTC)
Platform Info:
  OS: macOS (x86_64-apple-darw

[2019-08-09 18:29] MathiasWedeken commented on #160
Nevermind. Closing.

[2019-08-09 18:29] #160 closed

[2019-08-09 18:54] MathiasWedeken opened #161 "Tutorial issue with Genie.Renderer.html"
**Describe the bug**
Changing the code of `BooksController.jl` to

[code]

produces an error: ` ArgumentError:  "path" must be specified` (double quotes by me).

Stacktrace:
[code]
**To Reproduce**
I just followed the tutorial.

**Expected behavior**
I expected in a browser to be able to view the rendered view template stored in `books/views/billgatesbooks.jl.html`

**Additional context**
`julia>

[2019-08-11 15:05] essenciary commented on #161
@MathiasWedeken Thanks - the guide needs updating in the light of recent changes. Let me go over it and see what gives.

[2019-08-11 18:27] essenciary commented on #161
@MathiasWedeken You're at v0.11.1 - I'm currently waiting for v0.13.1 to be merged. Can you please update to latest master `pkg> add Genie#master` and try again? It should work just fine.

[2019-08-11 19:18] essenciary commented on #154
@alirezamecheng The documentation with some initial posts has been set up at https://genieframework.github.io/Genie.jl/

We'll keep adding to this in the days, weeks, and months to come.

[2019-08-11 19:18] #154 closed

[2019-08-12 12:19] essenciary commented on #161
It looks like there was also a but in the generation of the HTML - I've updated the codebase and the guide. Running `Genie#master` and using the latest guides should work fine.

Btw, the guides are now at:
https://genieframework.github.io/Genie.jl/

With the step by step one at:
https://genieframework.github.io/Genie.jl/content/Working_With_Genie_Apps.html

[2019-08-12 19:04] essenciary commented on #156
This was actually caused by a sneaky bug, sorry for it. Should be all fixed on the latest #master!

[2019-08-12 19:10] #161 closed

[2019-08-12 19:10] essenciary commented on #161
Closing this as it should be resolved - feel free to reopen if that's not the case.

[2019-08-12 19:11] essenciary commented on #156
Closing this as it should be resolved on the latest master. Please reopen if that's not the case.

[2019-08-12 19:11] #156 closed

[2019-08-13 02:45] Ankur-deDev commented on #156
I confirm it is working as expected now. Thanks a lot for the quick fix!

I had sent the tarball to the address defined in GenieFramework/Genie.jl/Project.toml but it was rejected with the following message (sorry for not realizing earlier that the mail did not go through):

[2019-08-13 08:16] essenciary commented on #156
@Ankur-deDev Thanks for the update, happy that it works now!

[2019-08-14 20:01] chethega opened #162 "Session key generation uses insecure random generator"
Consider [this](https://github.com/GenieFramework/Genie.jl/blob/f92caaf98d50b320c87d19844443c558172d1b0e/src/Sessions.jl#L39) line. The used Mersenne Twister is not cryptographically secure. It would be definitely preferable to use a CSPRNG here. After thinking 5 minutes about this, the issue should be probably unexploitable; but still, better fix it (at the very least as a matter of hygiene).

So

[2019-08-14 20:31] chethega commented on #162
To clarify a possible fix: One could probably initialize `const CSPRNG = Random.RandomDevice()` and then use `rand(CSPRNG, UInt128)` for nonce generation.

To clarify attack scenarios: The application using genie.jl sometimes returns unhashed output of `rand()` calls to attackers. Then the attacker can recover the internal state of the mersenne twister. The secret token gets leaked through a separ

[2019-08-15 08:43] essenciary commented on #162
@chethega Thanks for reporting this! I'll try to patch but it's out of my area of comfort / expertise. If you feel like making a PR to address this, I'd be more than happy to merge it ASAP.

[2019-08-15 08:45] essenciary commented on #155
@arumugamav Let me know if that worked for you or if encounter any issues. I'm keeping this open till a solution will be presented in the documentation / support files.

[2019-08-15 09:59] arumugamav commented on #155
Madam/Sir,

May I request you to kindly share the procedure to configure secured HTTP
server and exposing it to Genie, as security requires all traffic of client
to webserver, webserver to app-server and app-server to db-server has to be
encrypted.

Regards

Arumugam A V

On Thu, Aug 15, 2019, 2:15 PM Adrian Salceanu <notifications@github.com>
wrote:

[2019-08-15 16:07] essenciary commented on #155
@arumugamav OK, I'll try to add these to the docs next

[2019-08-17 11:19] ViralBShah commented on #162
We should probably have an easy way to use cryptographically safe RNGs for such use cases. Can be provided as an external package.

[2019-08-18 09:26] milesfrain opened #163 "Heroku deployment"
**Describe the bug**
I cannot deploy a simple Genie app to Heroku without exceeding the 512MB memory limit. It seems like this is possible though, as reported by others in #144. I may need to adjust my `Dockerfile` or investigate using a Julia buildpack, but have not found a good reference for achieving this, and have exhausted most of my troubleshooting ideas. More detailed information is found i

[2019-08-18 12:04] essenciary commented on #163
@milesfrain Thanks for reporting this. I'm currently working on Docker support for Genie as well.
You could safely remove `instantiate` from `CMD`, might remove some load. In my Docker file I have:
[code]
And in CMD:
[code]

(well, it's a more complicated setup as I building an image with Nginx and supervisord, but this is the overall idea -- happy to share the full files but it's still work in pr

[2019-08-18 12:06] essenciary commented on #163
Here's my Dokerfile (WIP):
https://www.dropbox.com/s/vazrt30j38dbany/Dockerfile?dl=0

And the supervisord conf:
https://www.dropbox.com/s/blgnopiv3721i03/supervisord.conf?dl=0

[2019-08-18 12:11] essenciary commented on #163
@milesfrain Idea! What if you try `precompile` in `RUN`?
[code]

[2019-08-18 12:16] essenciary commented on #163
I'm not sure what counts agains the Heroku memory limit, but another idea might be to simply copy the `~/.julia` folder and skip `instantiate` and `precompile`?

[2019-08-18 12:18] essenciary commented on #163
I've added `precompile` to my Dockerfile and seems to work great:

[code]

[2019-08-18 15:33] chethega commented on #162
Cf central [issue](https://github.com/JuliaLang/julia/issues/32954).

[2019-08-18 16:18] milesfrain commented on #163
I added `precompile` to `RUN` and removed `instantiate` from `CMD` in my Dockerfile, and it launches faster on my local machine.
[code]

But this is still failing on Heroku.
[code]

I missed that buildpacks video. Good find! I was considering using buildpacks, but there were so many to choose from, and I didn't see any good examples until you sent that link. I will try that next.
I read the quoted

[2019-08-18 20:44] milesfrain commented on #163
Updated my [example repo](https://github.com/milesfrain/GenieOnHeroku) with a working buildpack deployment. Feel free to incorporate any of this process into the Genie documentation. I can also help with putting together some more of the Genie docs.

[code]

[2019-08-18 20:44] #163 closed

[2019-08-19 02:22] milesfrain opened #164 "Syntax to render a json record with multiple fields"
I'm trying to render the following json output of a single record with multiple fields:
[code]

My attempt is producing an array of records with a single field each.
[code]
[code]

I'm failing to figure out the correct syntax for this.

[2019-08-19 02:26] EricForgy commented on #164
You've created a tuple of pairs.

What about

[code]

?

[2019-08-19 05:46] milesfrain commented on #164
Perfect. Thanks!

[2019-08-19 05:46] #164 closed

[2019-08-19 09:30] essenciary commented on #163
@milesfrain Excellent stuff, thanks for the update! We have a documentation section about Heroku deployments on the todo list so this will be excellent. If you have the time to contribute it, that'd be much appreciated.

Docs are top priority these weeks/months and any help will be highly appreciated - here is the summary, with more to come:
https://github.com/GenieFramework/Genie.jl/tree/master/d

[2019-08-20 20:59] milesfrain opened #166 "Implement Mozilla's Simple Requests (Fetch) Specification"
Filing this issue for task tracking. This is lower on the priority list, but didn't want this ToDo to be forgotten.

First phase of this effort and discussion found in #165
Link to [Mozilla's spec summary](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Simple_requests).

For reference, here's a command to execute these fetch requests at the browser console which can be run from different o

[2019-09-03 18:43] fatclient opened #168 "Typo in guide causes error LoadError: syntax: unexpected "end""
Hello. I decided to have a taste of this cute framework and faced with some errors while copypasting codes from the tutorial.
https://github.com/GenieFramework/Genie.jl/blob/master/docs/guides/Working_With_Genie_Apps.md

[code]
probably should be
[code]

**To reproduce**
Follow the guide

[2019-09-04 08:11] essenciary commented on #168
@fatclient Good catch, thanks! Updated!

[2019-09-04 08:11] #168 closed

[2019-09-04 17:31] MathiasWedeken opened #169 "bug in app tutorial part 2: redirect_to is not defined"
**Describe the bug**
Following the tutorial part two, building a form and inputting new data, then redirecting to... copy pasting code, after form submit undefvarerror: redirect_to not defined
**Error stacktrace**
UndefVarError: redirect_to not defined
create() at /Users/mathiaswedeken/julia/MyGenieApp/app/resources/books/BooksController.jl:17
#invokelatest#1 at ./essentials.jl:790 [inlined]
invok

[2019-09-04 17:40] MathiasWedeken commented on #169
Solution: The method is called redirect. So
`Book(title = @params(:book_title), author = @params(:book_author)) |> save && redirect(:get_bgbooks)`

works as expected.

[2019-09-04 18:49] essenciary commented on #169
@MathiasWedeken Sorry for that, good catch! The method was renamed but apparently, the change didn't make it in the docs. I replaced it now and pushed the changes.

[2019-09-04 18:49] #169 closed

[2019-09-04 19:09] MathiasWedeken opened #170 "Typo in the docs-"
In the description of how the view is modified to show book cover images, replace the outer double quotes in the <img> tag' s src attribute like so:

`<li><img src='$( isempty(book.cover) ? "img/docs.png" : book.cover )' width="100px" /> $(book.title) by $(book.author)`

[2019-09-05 12:48] tnederlof opened #171 "Issue Following Tutorial Once Controller is Created"
**Describe the bug**
Following the tutorial after adding a Books controller and saving the file, using Books Controller fails. Going to http://localhost:8000/bgbooks also returns a 404.

**Error stacktrace**
[code]
**To reproduce**
Follow the current tutorial until the step where it says Checkpoint and then using BooksController.

**Expected behavior**
I expected what's written in the tutorial to

[2019-09-06 13:30] essenciary commented on #171
@tnederlof Seems like the problem might be in here:
`ERROR: Failed to precompile BooksController [top-level] to /Users/xxxxx/.julia/compiled/v1.2/BooksController.ji.`

Not sure why it fails to precompile it - might be some syntax error in the controller's code?

[2019-09-06 13:48] tnederlof commented on #171
Thank you for your help. If I just throw the module into the REPL it works fine (can just call BooksController.billgatesbooks()) so I dont think there is a typo in the module itself.

Here I put the full app: https://github.com/tnederlof/MyGenieApp2
I typed the following commands from the tutorial...

using Genie
Genie.newapp("MyGenieApp2")
Genie.newcontroller("Books")

[2019-09-06 16:00] essenciary commented on #171
I tested your app - works fine on my side (no precompilation issues either).
The issue is you haven't added the route for "/bgbooks" - so Genie doesn't know how to route the request.

[2019-09-06 16:12] tnederlof commented on #171
Hmm okay thank you for checking it out, it must be something strange on my end. Just to confirm, simply saving BooksController.jl then typing using BooksController should work or is there another step before I can use the module in the REPL?

[2019-09-06 17:54] essenciary commented on #171
You can use the module just fine at the REPL. But unless you have a route which maps the URL `/bgbooks` to `BooksController. billgatesbooks`, you'll get the 404.

[2019-09-06 17:57] essenciary commented on #171
Just to make sure we're on the same page - you reported getting a 404. To actually serve the request through the server you need to do the next section in the walkthrough, `Setup the route`.

Do you still get the precompilation error?

[2019-09-06 17:59] tnederlof commented on #171
Ah yes I see what you mean, that seems to have fixed the issue!

[2019-09-06 17:59] #171 closed

[2019-09-06 18:01] essenciary commented on #170
@MathiasWedeken Thanks for reporting this - is it erroring out otherwise? If so, it must be due to recent changes in the view parser...

[2019-09-06 19:13] MathiasWedeken commented on #170
not replacing the outer quotes indeed results in an error.

[2019-09-11 15:56] mrl00 commented on #157
`pkg> add Genie#master` command doens't work in Julia 1.2.0?

[2019-09-11 16:30] mrl00 opened #172 "Error creating a new app"
**Describe the bug**
I get error while trying to create a new app

**Error stacktrace**
`Genie.newapp("MyGenieApp")`
`[ Info: Done! New app created at $HOME/Development/Julia/MyGenieApp`
`[ Info: Changing active directory to $HOME/Development/Julia/MyGenieApp`
`[ Info: Installing app dependencies`
`Activating new environment at ~/Development/Julia/MyGenieApp/Project.toml`
`ERROR: The following pac

[2019-09-11 18:03] mrl00 commented on #172
Ok, I found a solution.
Genie wanst on my registry, then I executed these commands:
[code]
after this I installed Genie but I got a error:

[code]
I removed the Atom package
[code]
and tried again run Genie:

[code]
after all I managed to create an APP:

[code]

[2019-09-11 19:59] essenciary commented on #172
Great that you found the solution! Sorry for the issues, seems to be some registry corruption

[2019-09-11 20:02] essenciary commented on #157
It should - try `pkg> registry update` first

[2019-09-15 06:11] kurlo opened #173 "Error following tutorial after entering Genie.loadapp()"
**Describe the bug**
I create a new Genie app:
julia> Genie.newapp("MyGenieApp")
Append
route("/hello") do
  "Welcome to Genie!"
end at the bottom of the routes.jl.
Then I restart julia repl, and enter
pkg> activate .
julia> using Genie
julia> Genie.loadapp().
I got the error message

**Error stacktrace**
ERROR: LoadError: LoadError: LoadError: LoadError: MethodError: Cannot `convert` an object of

[2019-09-15 12:30] essenciary commented on #173
That’s odd - let me test and get back to you.

[2019-09-16 09:49] essenciary commented on #173
@kurlo I can't reproduce. My guess is that you have created the app using an older version of Genie (not the current 0.17.1). That indeed would make the app incompatible with the latest Genie.

Or, it may be that you currently have 2 versions of Genie - an older one you use to create the app. And the one used by the app itself (which the app installs, that is, the latest Genie#master).

So can you

[2019-09-16 12:13] kurlo commented on #173
Indeed. I remove directory .julia, reinstall Genie, and no errors.

[2019-09-16 13:22] essenciary commented on #173
Excellent!

No need to wipe off your Julia dir - `pkg> up Genie` should do the trick.

[2019-09-16 13:22] #173 closed

[2019-09-20 16:28] essenciary commented on #170
Thanks @MathiasWedeken updated!

[2019-09-20 16:28] #170 closed

[2019-09-22 16:06] ChrisRackauckas opened #174 "Deployment Documentation"
Genie seems really cool, and I understand how to locally fire up a webserver and make an app. However, I don't understand how to deploy such a thing to Bluehost for example. Maybe this part is obvious to some who does webdev, but I'd be really interested in seeing some documentation on how to get Julia installed on common webservers and getting this running on a real website.

[2019-09-22 16:11] ndgnuh opened #175 "JSON with top level array cause error."
**Describe the bug**
JSON with top level array cause error.

**Error stacktrace**
From server REPL
[code]
From the jupyter notebook used to send the request:
[code]

**To reproduce**
Send a request with json body that has top level array, with HTTP.jl or curl:
[code]

[code]
`routes.jl`
[code]

**Expected behavior**
The server response "[1,2,3,4]"?

**Additional context**
[code]
Output of `]st`:
[

[2019-09-24 10:50] essenciary commented on #175
@ndgnuh Thanks for reporting this. Basically, Genie expects key-value pairs - and your data doesn't provide a key (despite being valid JSON).

Design-wise it's tricky as `jsonpayload` now returns a `Dict`. Performance-wise this is preferable, vs returning different `Any` types based on input. If Genie sticks to returning a `Dict` (what key would it use?) that might produce unexpected results (like

[2019-09-24 11:05] essenciary commented on #174
@ChrisRackauckas thanks for your input! This is coming (I'm actually pretty advanced with the documentation). It's not just the documentation, it's also offering the tools for lifting the heavy load for the users. The idea being to bundle this functionality into some `Genie.Deploy` module and automate deployments as much as possible.

At this point, there are two main hosting strategies:

1. Docke

[2019-09-24 20:46] milesfrain commented on #174
Wrote some more detailed documentation in #176
@ChrisRackauckas Would you like to test these out to make sure I didn't miss any steps?
@essenciary I think we should move https://github.com/milesfrain/GenieOnHeroku to https://github.com/GenieFramework/GenieOnHeroku

[2019-09-25 17:29] essenciary commented on #175
@ndgnuh This is now fixed on #master and will soon be registered in v0.18.1

In the end, I think I found the best compromise, adding two methods for `jsonpayload`, one generic and one parametric -- and will be up to the user to call the simpler one or the faster one (if they know what type of data they expect):

[code]

[2019-09-25 17:32] #175 closed

[2019-09-26 10:27] essenciary commented on #174
Thanks so much @milesfrain - I'm merging it into the docs. The mid term objective is to have a `Genie.Deployments.Heroku` module to automate most of the process -- but until then, the step-by-step guide will be great!

[2019-09-26 10:28] essenciary commented on #174
@milesfrain Sure, happy to move the repo 👍 `GenieOnHerokuExample` sounds great!
I'm not sure what the process is (I only moved mine so I did everything by myself :) ).

[2019-09-26 17:46] milesfrain commented on #174
@essenciary I think the easiest option is for you to create an empty (or with placeholder readme) `GenieFramework/GenieOnHerokuExample` repo, and I'll make a PR with the files from my repo. Not concerned with losing history in this case.

[2019-09-27 18:36] essenciary commented on #174
@milesfrain Thanks! I'll set up the repo and ping you. I've added a new section for deployment to the docs and linked your tutorial: https://genieframework.github.io/Genie.jl/

Wondering if you have any clue... I've added docker integration to Genie and it works great locally. Then I've tried to use docker deployments with Heroku per https://devcenter.heroku.com/articles/container-registry-and-run

[2019-09-27 18:46] essenciary commented on #174
Nevermind, it worked! The dyno was off :-O

[2019-09-27 18:52] milesfrain commented on #174
Very good. I've had strange results in the past when executing commands through their web CLI where it does not behave in the same persistent way as an SSH connection. I was going to suggest posting logs from https://dashboard.heroku.com/apps/safe-bastion-83519/logs which may have also highlighted the issue with dyno state.

[2019-09-27 19:01] essenciary commented on #174
I will split the deployment docs for Heroku into Buildback and Docker. My hope is that with Docker, after Heroku, we'll be able to easily add support for other hosts that use containers, like AWS, Azure, and DigitalOcean, to start with.

Btw, here is the workflow, working now with `Genie#master` (v0.18.2):
[code]

To run locally:
[code]

Or on Heroku:
[code]

[2019-09-27 19:18] milesfrain commented on #174
Yes, I prefer the use of more generic contains to avoid vendor lock-in and also make it easier to test locally with the same container.

I've noticed a slower deployment process and larger image size for equivalent apps when working with Docker containers versus using the Heroku Julia buildpack. (~450MB versus ~160MB). We should investigate these differences further when comparing these deployment

[2019-09-27 20:58] essenciary commented on #174
I’ve been doing some research and with the Dockerfile we can easily deploy on all major platforms (including AWS, Azure, and DigitalOcean) using docker machine drivers (it’s the same workflow on any platform supporting drivers).

I’ll run some tests and write some docs. Ideally add extra APIs in Genie.Deploy to support these vs people having to read and run commands in the terminal.

[2019-09-28 12:05] essenciary commented on #174
@milesfrain Sorry for the silly question, but how do you measure the size of the image? I haven't been using Heroku since my Rails days, which were 6-7 years ago, and things have changed a lot since then.

[2019-09-29 19:20] milesfrain commented on #174
It seems that image size is only listed for buildpack deployments, and not custom docker deployments. Here's where the image size is listed for buildpack deployments: https://dashboard.heroku.com/apps/my-app-name/settings

![image](https://user-images.githubusercontent.com/3578681/65837421-1967dc00-e2ac-11e9-87a0-0e16c61e7222.png)

For the docker image, I guess you need to check image size on your

[2019-09-30 08:01] essenciary commented on #174
@milesfrain Thanks for trying it out and for the feedback. Works really good for me on a default, free dyno. For ex: https://genie-plots.herokuapp.com/?data=foo,50|bar,30|baz,200|moo,100|bee,-35
This runs really fast after what seems to be initial compilation time -- but it looks like Heroku is turning off the dyno?
[code]

[2019-09-30 08:05] essenciary commented on #174
Yes... so I think it's this:
[code]
In the case of Julia apps, obviously, resuming from idling takes a long time... :-/ 29s in the above example.

I guess a simple way is to use HTTP and make a request every minute or so, from within the app...

Another worth looking into approach is to compile and push a sys image:
https://www.youtube.com/watch?v=oxIsFUfaOqU

[2019-09-30 08:07] essenciary commented on #174
@milesfrain Oh, in your case most likely it crashes because you start the app on 127.0.0.1 -- and it needs to be on 0.0.0.0 to bind to the Heroku assigned port.

[2019-09-30 18:29] milesfrain commented on #174
Good catch on the default host. Working for me now on master.

[2019-10-01 11:10] essenciary commented on #174
Awesome - I'm adding some logic to optionally keep the app alive (make a request every Xs in an async task). Can also be used to warm up the app (trigger compilation ;) ).

[2019-10-05 07:07] aminya opened #177 "Error in creating newapp (Bootstrap not opened)"
Running this simple code on the master or the release of Genie:
[code]
Gives this error:
[code]

[2019-10-05 07:27] aminya commented on #177
However, running
[code]
after the error seems to load the app!
[code]

[2019-10-06 05:01] aminya commented on #69
I have the same problem now. I don't want to use `@foreach` or `@vars` inside a separate html file when I can simply pass it to a function.
I wrote this controller:
[code]
However, I don't have a way to `@yield` this into layout yet. I would appreciate it if you give me any tips.

I wish I could integrate my way of using Genie into the repository. This way is much more natural for making full use

[2019-10-06 10:40] essenciary commented on #69
@aminya Yes, you can render html from the controller - but I don't fully understand what you're trying to achieve. Do you have an `app` layout and a `people`layout? And do you want to render the generated HTML inside the `people` layout and nest that inside the `app` layout?

[2019-10-06 10:50] aminya commented on #69
@essenciary Consider my `app` being the full website layout.  I want to make the full layout dynamically adding `header` `footer`, `mainContent`. One of the `mainContent` for `/people/` page will come from `people` layout.
However, routing is not possible. I don't know how to call multiple renderer functions (header, footer, mainContent) for an address.

This the content I have come up with:

'''h

[2019-10-06 11:48] essenciary commented on #177
@aminya Thanks for reporting this. It seems to be windows only -- can't replicate on my mac. I'll whip up my VM and run some tests.

The issue is that the path to bootstrap.jl is incorrect: `ERROR: LoadError: could not open file C:\Test\bootstrap.jl`. Instead of `C:\Test\MyGenieApp\`. I'm not sure why it does that given that the app has changed the dir per `[ Info: Changing active directory to C:\

[2019-10-06 12:31] essenciary commented on #69
@aminya There's a bit of a misunderstanding in the rendering hierarchy. The way Genie rendering is structured is that:
* there's an application layout - which indeed is meant to render the shell of the web app (the common parts like header, footer, etc)
* then there's the view - which is meant to output the content coming from the controller, which corresponds to the matched route.

So the output

[2019-10-06 13:01] essenciary commented on #177
Tested on Win, I can't replicate. Please provide all the requested details (output of `julia> versioninfo()` and `pkg> st`) to investigate further. Here's my output on Win 10:

[code]

[2019-10-06 22:28] aminya commented on #69
Thank you for your detailed answer! I used the tutorial and your guide, however, here I want to also generate the header and footer using `Genie.Flax` features.
For example, for header, the name of the website, and the buttons list is read and header HTML is generated.

I don't really care about this being realtime, it can be totally static done once. Because `Genie.Flax` is very powerful for crea

[2019-10-07 06:33] essenciary commented on #69
@aminya You're welcome

You can do a lot of things in the layout to generate dynamic content. Take a look at the attached updated example - check `app/layouts/app.jl.html` to see 3 ways of doing that:
1 - render a var generated in the Controller and passed into the view
2 - call a function from the Controller (you'll have to pass the `context = @__MODULE__` variable in the `html(...)` function, so

[2019-10-07 17:49] essenciary commented on #69
@aminya BTW, I've seen your comments on Slack - I suggest using Genie's Gitter for support vs the #web Slack channe.

[2019-10-07 18:07] aminya commented on #69
Yes! However, I want to fill one single layout/HTML page using different controllers. Consider filling `app.jl.html` using `FootersController.jl`, `HeadersController.jl`, and `PeoplesController.jl`.
I wrote this macro which does what I want. By passing a symbol to `part` from in the controller, we can define the location that `@yield`ing should be done.
[code]
It doesn't work however as expected.

[2019-10-13 10:15] essenciary commented on #177
Closing this due to not being able to replicate and lack of feedback. Feel free to reopen with more details.