[2019-10-13 10:15] #177 closed

[2019-10-15 19:32] tkluck opened #180 "Support HAML.jl and/or support pluggable renderers"
Following up on [the discourse exchange](https://discourse.julialang.org/t/ann-haml-jl-rubys-favourite-templating-language-comes-to-julia/29066/2). What's the best way to add [HAML.jl](https://github.com/tkluck/HAML.jl) support as a templating language?

It's already straightforward for a user to just return a `HTTP.Response` with body generated by HAML, but real integration would:
 - use Genie's

[2019-10-16 09:49] essenciary commented on #180
@tkluck Thanks for this, it would be awesome to add HAML support!

This is the workflow for rendering the HTML views:

1. the user code calls `Renderer.html()` to invoke HTML rendering
2. `Renderer.html() -> Renderer.tohtml()`
3. `Renderer.tohtml() -> Flax.html_renderer()`
4. `Flax.html_renderer() -> Flax.get_template()`

In `get_template` is most of the logic. I suggest mirroring the implementati

[2019-10-16 15:42] tkluck commented on #180
Thanks for the detailed thoughts @essenciary !

To start with your

I think this is where [Requires.jl](https://github.com/MikeInnes/Requires.jl) is a good fit. I've had (limited but) good experiences with it.

I think

is also a good idea. It could be achieved by something like
[code]

What do you think? The nice thing about this scheme is that it's also "reversely" pluggable; i.e. even if Genie

[2019-10-17 18:20] essenciary commented on #180
@tkluck The proposed architecture looks great :) Should I make an attempt to implement it and clear the path for your HAML integration? Or would you like to do the honors?

I'll take a look at Requires.jl - I heard about it before but never checked it, thanks!

[2019-10-18 09:07] tkluck commented on #180
I'll be happy to send a pull request. Hopefully I'll find time over the weekend :)

As for integrating using Requires.jl: for now it's probably a better idea if I put the glue code in HAML.jl. It's a less mature package than Genie.jl so there's more likely to be breaking changes that need a simultaneous update of the glue code. Is that okay for you?

[2019-10-18 10:36] essenciary commented on #180
Awesome, thanks!
Yes, I agree - we shouldn't worry about Requires. That would be a larger refactoring, affecting more areas.

[2019-10-25 21:15] Thibaut-Deveraux opened #181 "Unsatisfiable requirements detected for package MbedTLS"
Hi,

I got this when trying the tutorial. I will try on other platefroms.

**Describe the bug**

On Ubuntu 18.04.3 LTS, I just did:

[code]
The last line throw an error.

**Error stacktrace**
[code]

**Behavior**

- The files were created.
- It did cd into MyGenieApp
- It seem to have activated the project in pkg.
- localhost:8000 return ERR_CONNECTION_REFUSED. ufw firewall is inactive.

**Additio

[2019-10-25 22:12] Thibaut-Deveraux commented on #181
No problem on Windows with Julia 1.2. I may have an issue on my side...

[code]

[code]

[2019-10-25 23:17] Thibaut-Deveraux commented on #181
Solved by updating Julia to 1.2 on Linux too. Using Generic Linux Binaries of v1.2.0 instead of the LTS v1.0.5 from Snap.

[2019-10-26 08:09] essenciary commented on #181
@Thibaut-Deveraux Thanks for letting me know. Looks like a dependency versions issue. Glad you got it sorted out.

[2019-10-26 08:09] #181 closed

[2019-10-27 07:17] taqtiqa-mark commented on #174
Hi, Thanks for all your effort you've put into Genie and Searchlight.
Apologies if this is not the best thread, but I thought you might be helped by having a look at `[jlenv](https://github.com/jlenv/jlenv)`.
This was initially ported by @HiroakiMikami, and then myself.  It now lives at https://github.com/jlenv with a curated set of plugins.

It tend to help in deployment situation to mix some sor

[2019-10-28 05:56] yshutaro opened #182 "I think that a part of Working_With_Genie_Apps is wrong."
I tried this URL tutorial.
https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html

And modified the file.

julia> SearchLight.Migration.last_up ()

The following error occurred when running:

`db / migrations / * _ create_table_books.jl`
I think `import` is correct in` Migration`, not `Migrations`.

Mistake: import SearchLight.Migrations
Correct: import SearchLight.Migration

[2019-10-29 07:16] essenciary commented on #174
@taqtiqa-mark That's pretty cool! Yes, I'm familiar with similar implementations in ruby and python - they're very useful once there are multiple major versions available.

If you want to contribute a `jlenv` usage doc for Genie, I'd be more than happy to merge it.

[2019-10-29 07:17] essenciary commented on #182
Yes, sorry for that - I've been going back and forth between `Migration` and `Migrations` until it broke. Now I've added support for both :) (on the lastest `SearchLight` master).

[2019-10-29 07:17] #182 closed

[2019-10-29 20:22] taqtiqa-mark commented on #174
I'm still getting my head around how Pkg best fits in.  It's quite different to Bundler and Gems.  There really doesn't seem to be lots of shell executable files in Julia-world similar to `rake`, `bundle`, `rspec`, `gem`,  etc. etc.  Its not yet clear to me if that is due to:

* level of adoption,
* Julia's use cases,
* Julia's design.

When I've got a better handle on that I'll submit something.

[2019-11-01 08:27] yshutaro opened #183 ""500 Internal Server Error" occurs in the tutorial "Working_With_Genie_Apps_Intermediary_Topics"."
I tried this URL tutorial.
https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps_Intermediary_Topics.html

However, if I enter it on the `/ bgbooks / new` screen and click [Add book], it occur " 500 Internal Server Error ". The error log is as follows.

`` `
######################### ERROR STACKTRACE ####################### ##
UndefVarError: query_params not defined
post_url_enc

[2019-11-01 08:47] essenciary commented on #183
@yshutaro Thanks for reporting this. Yes, that's correct. I've been switching from `using` to `import` into `Genie` and I've missed some fully qualified names.

I patched it on `#master` - can you please update and let me know if it works?

[2019-11-01 08:56] essenciary opened #184 "Preserve white space in Flax views"
**Describe the bug**
In the resources/views/, it appears like the parser removes spaces, and even explicit spaces with &nbsbare ignored. For example, <strong>Test &nbsp Test &nbsp </strong>&nbsp Test Testresults in the following. Any way to force a space? I tried the _ prefix as for reserved word like for but without luck.

https://files.gitter.im/essenciary/Genie.jl/KBFR/image.png

[2019-11-01 14:40] jeremiedb commented on #184
Not sure if related, but I also noticed a strange behavior in the case of generated radio buttons.
If the label/input aren't nested into a `<div>`, only the radio button would appear.
And if the input is put first, then  it's only the label that shows. Like if only the last line is parsed. Maybe is there's the assumption in the parsing about the `<input>` being expected to be closed with a `</inpu

[2019-11-02 09:54] yshutaro commented on #183
@essenciary

It moved!
Thank you.
But I needed to fix one more thing.
Since the `save` function of BooksController.jl is a function of` SearchLight`,
using SearchLight
Added.

[2019-11-02 11:49] essenciary commented on #183
@yshutaro Thanks! Is there a missing `using SearchLight` declaration? Can you please add it to the docs and make a PR?

[2019-11-02 11:49] #183 closed

[2019-11-03 10:08] taqtiqa-mark commented on #174
Great feedback.  Thanks.

Using your numbering:
1. Are you suggesting that to change the PATH, and set other shell environment variables that we start a Julia instance, and manipulate the shell from within Julia?  Ack: one area the tools in github.com/jlenv need to improve on is providing correct defaults for the env variables Julia consumes.
2. IIUC: This doesn't address which version of Julia is

[2019-11-06 10:52] essenciary commented on #174
That sounds great - obviously, you have a lot more experience around this topic. My perspective is simply as a user of `rvm` and `rbenv`. With these I would start by picking the ruby version I want for my new project (usually the latest). I'd never use the one that came with the os (cause it's old and changes with os updates). So any new project would use a rbenv provided ruby.

Something like:
*

[2019-11-06 12:17] essenciary commented on #184
@jeremiedb the whitespace issue is now fixed and will be released in v0.20 (probably v1.0-rc). It's now residing on the #no_nullables branch.

Re the 2nd issue, this is known but I don't have a good solution yet. Keep in mind that the HTML view code in converted into Julia expressions. So you end up with something like:

[code]

The `if` statement automatically returns the result of the last expre

[2019-11-06 23:05] maherkhalil07 commented on #174
Hi, can someone help, and explain for me the possibility to get executable binary file from genie?

[2019-11-06 23:14] taqtiqa-mark commented on #174
Hi Adrian (@essenciary ),
Thanks for sharing your expectations and workflow.  I'll try to sketch out how and where the jlenv org tools might fit.

The [jlenv org](https://www,github.com/jlenv) contains a collection projects addressing the various use cases that give rise to needing to switch between different versions of Julia. These cover a range of use cases:

1. [chjulia](https://www,github.com

[2019-11-08 05:34] jeremiedb commented on #184
Thanks for the feedback!
If I want to better understand how the parsing of views is performed, should I look into src/Flax.jl?

[2019-11-08 11:00] essenciary commented on #184
You're welcome!
Yes, Renderer -> Flax -> HTMLRenderer
Definitely go straight to the #no_nullables branch (or wait to be merged into #master in a couple of days hopefully). This also comes with new tests for the rendering engine so you can check that too.

[2019-11-08 21:10] maherkhalil07 commented on #174
Hi, can someone help, and explain for me the possibility to get executable binary file from genie?

[2019-11-10 21:15] taqtiqa-mark commented on #174
@maherkhalil07 , I can't say if there is anything specific to Genie that applies, but perhaps the following thread might help?

https://discourse.julialang.org/t/developing-a-standalone-application-in-julia

[2019-11-11 16:41] essenciary commented on #184
This is now out on v0.20 (still no fix for if but I'll add it for v0.21 maybe)

[2019-11-13 02:19] Ronneesley opened #185 "UndefVarError: Html not defined"
**Describe the bug**
When I follow the instructions of this tutorial: https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html

I get the bug: **UndefVarError: Html not defined**

**My code is**

[code]

[code]

**When I remove the inner ```<li>...</li>``` from the HTML it works.**

This code works, but there isn't this we wanted:

[code]

Thanks.

**Error stacktrace**
[code]

[2019-11-13 04:44] Ronneesley commented on #185
Again, I tried the same code with version **v0.19.1** and it works perfectly.

I discovered that the Html cited at the error message is in a Genie's generated code. When worked at version 0.19.1 the code is:

[code]

At version 0.20.0 there is an **Html.li()** that probably throw the error.

[2019-11-13 07:18] essenciary commented on #185
@Ronneesley Thanks for reporting this. Indeed, I stumbled into this myself yesterday. Basically, the `@foreach` macro runs code in a different scope where `Html` is not available. I've pushed a quick fix but I need to spend more time on it for a _proper_ fix (which makes `@foreach` run in the controller's scope). However, that'd be just an internal refactoring so it won't affect existing code.

Th

[2019-11-14 00:31] Ronneesley commented on #185
Hello @essenciary,

         With this modification, the tutorial worked perfectly.

Thanks a lot.

[2019-11-14 07:56] Ankur-deDev commented on #145
Hi Genie,
Bumped into the same issue, I noticed it worked when removing http2 from the nginx configuration.
I did not investigate further, but this [issue](https://github.com/JuliaWeb/HTTP.jl/issues/328) might be related.

[2019-11-14 08:33] essenciary commented on #145
@Ankur-deDev Thanks - can you please show a dump of the headers? Like the full request maybe? I presume proxying messes up with the headers...

[code]

And maybe the same for the full `@params` object?

Thanks

[2019-11-14 13:21] ksteimel commented on #145
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  Oh yeah I forgot I found a work around for this. The values are in rawpayload if running behind an ssl enable nginx reverse proxy. You can then run `URIParser.query_params(rawpayload())`

[2019-11-14 13:31] essenciary commented on #145
@ksteimel  Thanks for letting me know! If you can pass me the rawpayload maybe I can make a generic fix.

[2019-11-14 14:24] ksteimel commented on #145
This is what I had in my logs for the output of `rawpayload()`

[code]

[2019-11-14 15:13] essenciary commented on #145
Hmm... I wonder if it's a content type issue. Do you explicitly set the content type of the form? Ie `application/x-www-form-urlencoded` or `multipart/form-data`?

[2019-11-14 15:33] ksteimel commented on #145
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  I do not. Haha. Do you want me to try that and see what happens? I can once I get off work.                                                                                                                                                                           From: notifications@github.comSent: November 14, 201

[2019-11-14 15:44] essenciary commented on #145
Yes please, if you can :)

[2019-11-14 19:15] essenciary commented on #109
Another benchmark

[code]

[2019-11-17 16:24] ksteimel commented on #145
Sorry for the delay, setting `enctype="application/x-www-form-urlencoded"` has no effect. I still have to parse the return from `raw_payload()`

[2019-11-17 19:30] essenciary commented on #145
Bummer - probably easy to solve if `URIParser.query_params` knows how to handle it. The difficult part is reproducing the bug as I have to set up the whole stack.

[2019-11-17 20:01] dionisos2 commented on #185
I got this same error with Genie v0.21.0 #master

[2019-11-17 21:04] essenciary commented on #185
@dionisos2 That's strange, I can't reproduce it and all the rendering tests are passing. Here is a quick script in the REPL, working fine:

[code]

Can you provide more info please?

[2019-11-17 21:30] dionisos2 commented on #185
Julia Version 1.2.0

Doing your list of commands I get :
`julia> html(view, books = BillGatesBooks)
ERROR: UndefVarError: books not defined
Stacktrace:
 [1] (::getfield(Genie.Renderer, Symbol("##130#136")))() at /tmp/jl_genie_build_hJcZAi/FlaxViews/593f9d793f8c5d73c8f2a3ecda3fe340c08fe3b2.jl:7
 [2] normal_element at /home/dionisos/.julia/packages/Genie/EdWwR/src/HTMLRenderer.jl:45 [inlined]
 [3] #

[2019-11-17 21:46] essenciary commented on #185
@dionisos2 Very strange... Can you try a `pkg> up` maybe you don't have the latest master? The `@vars` notation is no longer needed since a couple of days ago... Did you update Genie in the last few days?

My generated view looks like this:

[code]

[2019-11-19 09:58] #185 closed

[2019-11-19 21:25] VideoPlayerCode commented on #109
@essenciary That is insanely fast. Thanks for all your optimizations. It's inspiring.

[2019-11-30 14:12] essenciary commented on #184
I'm going to close this as it's correctly solved. We'll have to address the `if` blocks rendering somewhere else (if a satisfactory solution is found).

[2019-11-30 14:12] #184 closed

[2019-11-30 14:13] essenciary commented on #145
Solved!

[2019-11-30 14:13] #145 closed

[2019-12-09 22:03] drinkmorewaters opened #187 "designers website is gone http://www.yeahstyledg.com/"
Just a note that the readme has a dead link for the logos designer.

http://www.yeahstyledg.com/

[2019-12-17 06:29] essenciary commented on #187
@drinkmorewaters Thanks, I'll remove it

[2019-12-22 07:46] imikim opened #188 "Failed to precompile Genie"
**Describe the bug**
Just trying Genie for the first time. Cannot get the precompilation to work. First the error was in HttpCommon, which I then added and precompiled individually. After that another precompilation error: ERROR: could not load library "/Applications/Julia-1.3.app/Contents/Resources/julia/lib/julia/sys.dylib"

**Error stacktrace**
julia> using Genie
[ Info: Precompiling Genie [c43

[2019-12-22 09:54] essenciary commented on #188
Doesn't look like a Genie issue - rather Julia/Pkg problem. Can you try installing in a new environment?

Ex:
[code]

[2019-12-29 16:01] essenciary commented on #188
Closing this due to lack of feedback - please reopen if you want to add more info.

[2019-12-29 16:01] #188 closed

[2020-01-02 15:14] KlausC opened #189 "Exception thrown when working through introductory guide"
**What happened**
Working through the Working_With_Apps guide, in the section using `billgatesbooks.jl.md` I observed the following error.

[code]

Set-up the files exactly as described in [guide](https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html#Markdown_views)
Steps to reproduce the behavior and/or Julia code executed.

**Expected behavior**
return rendered html-strin

[2020-01-02 16:41] essenciary commented on #189
Thanks, I'll check - though it would be much faster if you can upload your app so I can just run it from where you are.

[2020-01-02 18:06] KlausC commented on #189
@essenciary,  I uploaded the whole package to [github](https://github.com/KlausC/MyGenieApp.jl).

[2020-01-02 18:17] KlausC commented on #189
I just saw, that the same app works with an older version of `julia`:

[code]

[2020-01-02 18:24] essenciary commented on #189
Thanks for the update - I'll give it a try on 1.3.1.

[2020-01-02 20:47] KlausC commented on #189
Another update, no error with release-1.4:
Sorry for the red herring.

[code]

[2020-01-02 20:47] #189 closed

[2020-01-03 12:21] essenciary commented on #189
Thank you :)

[2020-01-08 09:46] essenciary commented on #187
Updated

[2020-01-08 09:46] #187 closed

[2020-01-08 10:15] essenciary commented on #180
@tkluck Current master includes the refactoring of the rendering layer. Now `Renderer` provides an interface and helper methods for any renderers - and the actual renderers implementations add their own `render` methods.

It's a breaking change as the users are now expected to use the specific renderer implementation, per their needs. The advantage is that it's extensible with 3rd party renderers

[2020-01-15 09:21] arjensuijker opened #192 "Websockets documentation"
Following up on https://github.com/JuliaWeb/HTTP.jl/issues/452.

My (pretty common) use case for websockets is not yet readily available in any of the existing Julia libraries, but I was told that it should be available in Genie already. However, these features still appear to be undocumented. Documenting them and adding a simple working example would be very helpful.

My use case:

I have some pr

[2020-01-15 09:26] essenciary commented on #192
@arjensuijker That is correct - the features are available in Genie. However holidays, lack of time, and procrastination have gotten in the way of writing the docs :) I'll try to revisit today.

[2020-01-15 12:52] tkluck commented on #180
That's really cool @essenciary ! I can't promise at the moment when I'll have time, but I'll do this as soon as I can divert some attention to HAML.jl. Would be exciting to get these to work together :)

[2020-01-16 19:37] essenciary commented on #192
@arjensuijker Check out https://genieframework.github.io/Genie.jl/documentation/17--Working_with_Web_Sockets.html - more docs coming up but this intro should be a good start.

[2020-01-16 19:37] #192 closed

[2020-01-18 18:24] drippdropp opened #193 "Genie.Renderer.Html Not Finding Consts Defined in Genie.Renderer"
**Describe the bug**
When I call an endpoint with `html` function in controller, I get an error:
`UndefVarError: VIEWS_FOLDER not defined`

I followed the basic guide and created a new controller using `newcontroller` function, called `DistributionController` and a view called `binomial.jl.html`. The view file just has a single `<h1>` tag in it right now.

I did use `fullstack=true` when creating

[2020-01-20 09:02] essenciary commented on #193
Thanks @drippdropp for reporting this. It's probably an issue in Genie's rendering layer, I've been tweaking a lot there lately. I'll take a look in a couple of hours and get back to you.

[2020-01-20 13:34] arjensuijker opened #194 "Wrong websockets host"
Sorry in advance if this is a newby error of my own.

When I open a websocket connection with

Genie.config.websockets_server = true # enable the websockets server

route("/") do
  Assets.channels_support()
end
up(8000, "127.0.0.1")

I specify a host because the default 0.0.0.0 is not a valid port (on my windows machine).

Subsequently a socket is opened on 127.0.0.1. However, the compiled JS stil

[2020-01-20 13:50] essenciary commented on #194
@arjensuijker Can you please confirm that you're on Genie v0.24? Cause it should work as expected per https://github.com/GenieFramework/Genie.jl/blob/6860ca7ed8955f7f89abae92a759f4b2f5ea21cf/files/embedded/channels.js#L3

[2020-01-20 13:58] arjensuijker commented on #194
I'm on v0.24. I saw that line as well, so I believe it comes from deeper
within Genie. also, When I run up() without arguments, I get the response
that the server is started on 0.0.0.0, even though I can see that it is
open on 127.0.0.1.

On Mon, Jan 20, 2020 at 2:50 PM Adrian Salceanu <notifications@github.com>
wrote:

[2020-01-20 14:05] essenciary commented on #194
Got it, thanks! I'll take a look today.

[2020-01-20 16:23] essenciary commented on #193
@drippdropp Looked into it - that part fell victim to a recent massive refactoring in the rendering layer. Some constants didn't get properly updated. I'm surprised the tests passed - looks like these methods weren't covered.

Anyway, I submitted a registration request for v0.24.1 - that should address the problem and you code should just work (with and without `layout = :app`). The new version sh

[2020-01-20 18:19] essenciary commented on #194
@arjensuijker All right, so what happened was that when passing the options into `up(...)` that only started the server, without changing the app-wide config object. I gave it some thought whether or not that should happen - and I think that it's consistent if the `config` reflects the actual server port and host as passed to `up`. So I patched it and submitted `v0.24.2`. Once that's registered (h

[2020-01-21 11:18] drippdropp commented on #193
Thank you for the quick turn around @essenciary!

[2020-01-21 11:37] essenciary commented on #193
@drippdropp No problem - should be fixed now on the latest 0.24.2. Let me know if that is not the case. Closing for now - please feel free to reopen if needed. Cheers!

[2020-01-21 11:37] #193 closed

[2020-01-25 10:59] essenciary commented on #194
Closing this as it should now be resolved. Please reopen if necessary.

[2020-01-25 10:59] #194 closed

[2020-01-25 11:04] essenciary opened #196 "Make all tests pass on Windows"
**Describe the bug**
Some (CI) tests fail on windows.

**To reproduce**
Run Genie tests on Windows

**Expected behavior**
All tests should pass.

[2020-01-27 21:56] Hieronimo opened #197 "Error: UndefVarError: Renderer not defined"
**Describe the bug**
I just run the first example of https://github.com/GenieFramework/Genie.jl/blob/master/docs/documentation/3--Getting_Started.md

**Error stacktrace**
Error: UndefVarError: Renderer not defined

**To reproduce**
[code]
**Additional context**
Julia Version 1.3.0
[c43c736e] Genie v0.25.0

[2020-01-28 08:19] essenciary commented on #197
@Hieronimo Ugh sorry - major refactoring broke it :-/
I'm now registering v 0.25.1 which works as expected. Should be available in 30 minutes or so.

[2020-01-28 09:50] essenciary commented on #197
@Hieronimo all good now on 0.25.1

[2020-01-28 09:50] #197 closed

[2020-01-28 21:12] bunzeyda opened #200 "Genie crashes julia when compiling SearchLight dependencies per "Working with ...""
I was following the Working with Genie apps documentation to reproduce the "books" app.

I got to the point of loading SearchLight which it said it completed successfully.  However, when I tried the "using SearchLight" statement it crashed julia during the pre-compile phase at the SQLite step.  I checked the manifest and SQLite was there however the package manager said it was in the manifest but

[2020-01-29 08:17] essenciary commented on #200
@bunzeyda Thanks for reporting this! Does not look like a Genie/SearchLight issue but rather Julia/SQLite. Happy to take a look, get more info and forward it to the appropriate place. So can you please confirm that it's a Julia segmentation fault (does it crash and exit back to the OS shell)? Also, just poking at the problem, have you tried single threaded code - that's the only thing that sticks

[2020-01-29 13:31] bunzeyda commented on #200
@essenciary I'm using the Atom / Juno combination for dev purposes.  This issue causes the Julia session in the REPL to stop, with a popup that says julia has caused a fault, and returns to the REPL with the "press any key to start Julia" message.

Per the single vs multi-threaded code, hmmm!  I'm a newb to julia, honestly I didn't know I was running with multiple threads.

Since I wrote the issue

[2020-01-29 15:28] bunzeyda commented on #200
More weirdness with Atom/Juno and the Books App.

After finally getting SearchLight to install correctly and initializing and seeding the database the controller would not output the all(Book) correctly to html.  It worked for the json output but not the html output.  After trying a bunch of things to make it work Juno / Atom got to a state where it kept crashing julia during pre-compiling of the

[2020-01-31 10:00] #196 closed

[2020-02-01 04:46] isomorphisms opened #202 "docs error"
genieframework.com differs to https://genieframework.github.io/Genie.jl/.

For example genieframework.com says to run `startup()` instead of `up()`.

[2020-02-02 10:53] essenciary commented on #202
It's not an error, they both work.

[2020-02-02 10:53] #202 closed

[2020-02-03 18:45] isomorphisms opened #203 "chmod u+w routes.jl"
The `Genie.newapp()` makes files which should _not_ be edited by hand, like `bootstrap.jl`, `genie.jl`, `u-w` but _also_ makes files which _should_ be edited by hand, like `routes.jl`, `u-w`.

----

The documentation (https://genieframework.github.io/Genie.jl/documentation/4--Developing_Web_Services.html) should match the code should match the tests, on this one.

----

I’ll see if I can work this

[2020-02-03 20:15] isomorphisms commented on #202
Having multiple versions of documentation slows down new users.

[2020-02-15 14:27] shashikdm opened #208 "Error when running Genie.newapp("MyGenieApp")"
**Describe the bug**
I am getting an error when I try to create a project with Genie.newapp("MyGenieApp").

**Error stacktrace**
[code]

**To reproduce**
1. install Julia 1.0.5
2. ] add Genie
3. using Genie
4. Genie.newapp("MyGenieApp")

**Expected behavior**
According to [Working with Genie apps (projects) | Genie.jl](https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html):

[2020-02-15 14:32] shashikdm opened #209 "Warning when precompiling Genie"
**Describe the bug**
When I run using Genie, during precompilation, I get a warning as shown below.

**Error stacktrace**
[code]

**To reproduce**
1. install Julia 1.0.5
2. ] add Genie
3. using Genie

**Expected behavior**
Precompile without warnings and errors

**Additional context**
[code]
[code]

[2020-02-17 11:01] essenciary commented on #209
@shashikdm Thanks! One of the packages has been updated and now throws a warning. I'll look into it.

[2020-02-17 11:04] essenciary commented on #208
@shashikdm Due to requirements in other packages used by Genie (MbedTLS), Genie itself requires at least Julia v1.2. You're on Julia 1.0.5 which is not supported.

[2020-02-17 11:04] #208 closed

[2020-02-18 20:11] essenciary commented on #209
Should be fixed in the new v0.26.1

[2020-02-18 20:11] #209 closed

[2020-02-26 10:29] angusmoore opened #210 "JS renderer hates $ signs"
**Describe the bug**
Julia attempts to interpolate $ signs in the javascript string, in Genie's JS renderer. This has two unfortunate consequences (1) the renderer fails for totally fine javascript like a literal string "$1000" (2) weird interpolations of javascript code that contains valid julia syntax (e.g. `$a` in JS code will look for a julia variable `a`).

**Error stacktrace**
```invalid int

[2020-02-27 08:31] essenciary commented on #210
Thanks, indeed, `$` is a pain in JS+Julia land... My recommendation is to not generate JS from Julia unless absolutely necessary because performance. So best approach is to place static JS code into JS files which are included as `<script>` tags.

That being said, I'm happy to merge a PR that makes `$` in JS more robust.

[2020-02-28 11:53] Hieronimo opened #212 "ArgumentError: Package SearchLightnothing not found in current path"
**Error stacktrace**
ArgumentError: Package SearchLightnothing not found in current path

**To reproduce**
[code]

**Additional context**
Julia Version 1.3.0
Commit 46ce4d7933 (2019-11-26 06:09 UTC)

  [c43c736e] Genie v0.26.1
  [340e8cb6] SearchLight v0.18.0

[2020-02-28 15:49] essenciary commented on #212
Thanks for reporting this. Made the SearchLight initializer more robust in just released v0.26.2. Please update and try again.

[2020-02-28 15:49] #212 closed

[2020-03-01 22:25] angusmoore commented on #210
Apologies, I took a look at this again. I must have been very tired when I wrote this. This is not a Genie bug, this was a bug in my brain. In no context is `"foo = {\"a\":\"b$1\"}"` valid Julia code -- this has nothing to do with Genie JS renderer. The correct answer is (a) as you say, serve files not strings (which is what I did in this case) (b) use the `raw` string macro.

[2020-03-01 22:25] #210 closed

[2020-03-03 08:13] CarpeNecopinum opened #214 "Plugins.scaffold(...) fails"
[code]

("Datei oder Verzeichnis nicht gefunden" = "File or directory not found")

Commenting out [Plugins.jl:15](https://github.com/GenieFramework/Genie.jl/blob/master/src/Plugins.jl#L15) gives a similar error about `files/new_app/tasks`.

Additionally commenting out [Plugins.jl:17](https://github.com/GenieFramework/Genie.jl/blob/master/src/Plugins.jl#L17) eliminates all error messages.
Not sure

[2020-03-03 11:50] essenciary commented on #214
@CarpeNecopinum Thanks for reporting this. It is safe to remove the two lines, they are no longer part of the app's structure. Would you be so kind to make a PR with the updated file?

Longer term the whole thing should be moved to PkgTemplates.jl which is the preferred way for scaffolding apps.

[2020-03-03 13:05] #214 closed

[2020-03-13 18:29] tkluck commented on #180
I just added a compatibility method to `HAML.jl` here:
https://github.com/tkluck/HAML.jl/blob/master/src/Genie.jl

With this approach, the user just imports
[code]
and uses that in their controller just as they would use the "normal" `html` function from `Genie`.

It would be even cooler if `Genie` supported a way to register a view's extension and calls the appropriate method accordingly, but tha

[2020-03-13 18:39] tkluck opened #218 "possibility of leaking data between requests"
While working on #180 I noticed that the data passed to `registervars` needs to stay alive beyond the life of the `render` functions (because `render` often returns a closure that depends on it). There does not seem to be a clean-up step where the data in `task_local_storage(:__vars)` gets deleted.

If I interpreted that correctly, this makes it very easy to introduce bugs in which certain data pe

[2020-03-13 18:46] essenciary commented on #180
@tkluck Yes, I think we need to modify Genie's renderers. Cause otherwise you need to add `Genie` as a dependency for `HAML.jl` which is overkill.

My recommendation is to have this as a Genie plugin/adapter which:
1. is a different package, ie `GenieHAML`
2. this package has 2 dependencies: `Genie` and `HAML`
3. the package does:
[code]

This wouldn't work now as it would overwrite Genie's functi

[2020-03-13 18:50] essenciary commented on #218
I don't think that's possible - do you have a test for that? It's because if I understood correctly, `task_local_storage` looks up the value of a key in the current task's task-local storage. And HTTP.jl handles each request in a task. Thus each request gets its own task with its own storage.

[2020-03-13 19:29] tkluck commented on #218
I see! Yes, that would effectively ensure it doesn't happen. Just to be sure, I did the following experiment (below). Will close this issue.
[code]

[2020-03-13 19:29] #218 closed

[2020-03-13 19:33] tkluck commented on #180
I prevented that by using [`Requires.jl`](https://github.com/MikeInnes/Requires.jl) which only loads the compatibility code when `Genie` is also loaded. I think that's easier to understand and more maintainable than using a compatibility package.

Yes, this makes a lot of sense! We could decide to just use the file extension instead of the mime type. This is also what I was getting at in the last

[2020-03-22 04:11] kentei opened #220 ""Taking advantage of layouts"(in Working_With_Genie_Apps.md) steps not working"
**Describe the bug**
https://github.com/GenieFramework/Genie.jl/blob/master/docs/guides/Working_With_Genie_Apps.md#taking-advantage-of-layouts

Following the above guide, adding `"<h1> Welcome to top books </h1>"` to app.jl.html caused this error.

**Error stacktrace**
MethodError: objects of type String are not callable

**To reproduce**
As described in "Describe the bug".

**Additional context**

[2020-03-22 12:15] amakiir commented on #220
Don't ask me why but I found that if you put the `<% @yield %>` in a div like so `<div> <% @yield %> </div>` it works.

[2020-03-22 13:44] essenciary commented on #220
Thanks, I'll take a look, sorry for that :-/

[2020-04-02 19:42] essenciary commented on #220
@kentei Thanks for reporting this - it should be now fixed in v0.29 (which should be registered any minute now).

[2020-04-02 19:43] #220 closed

[2020-04-12 12:18] Syssiphus opened #226 "No method matching SQLite.Query(::SQLite.DB, ::String)"
While working through the [Getting Started tutorial](https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html) the following problem pops up while trying to create the migrations table.

┌ Info: 2020-04-12 12:10:29 CREATE TABLE `schema_migrations` (
│     `version` varchar(30) NOT NULL DEFAULT '',
│     PRIMARY KEY (`version`)
└   )
ERROR: MethodError: no method matching SQLit

[2020-04-15 15:25] essenciary commented on #226
@Syssiphus gave it a try and I can't replicate the issue

[code]

What I don't understand, however, is why do you have SQLite and DataFrames as dependencies of the app? You should have something like this:

[code]

Can you try cleaning up the dependencies and upgrading (ie SearchLightSQLite  to 0.1.1) and give it another try?

[2020-04-15 16:44] Syssiphus commented on #226
Ok. I threw out the two extra modules and updated the rest. As far as I remember I already did an update before, but maybe something went wrong.

I now have the same module layout as you have in the post above, and it works.

Thank you, and sorry for this 'non-issue'. I'll try to be more careful next time.

[2020-04-15 16:44] #226 closed

[2020-04-15 19:05] essenciary commented on #226
@Syssiphus No worries, glad it worked out. Seems like a Pkg issue of sorts.

[2020-04-17 23:20] uwbanjoman opened #227 "LoadError: UndefVarError: Printf not defined when using SearchLightMySQL"
**Describe the bug**
I was trying to connect a MySQL database according to your example.
after `using SearchLightMySQL` i got this error:
[code]
**Error stacktrace**
[code]
**To reproduce**
`using SearchLightMySQL`

**Expected behavior**
first time user so i don't know

**Additional context**
[code]
(Wizz-kwis) pkg> st
[code]

[2020-04-18 12:30] essenciary commented on #227
@uwbanjoman Thanks for reporting this. Unfortunately it is not an error in the SearchLight code, so I can't fix it. It seems to come from one of the packages used by `MySQL.jl`. I'll take a look, see if we can do anything - or open an issue with MySQL.

[2020-04-23 08:23] essenciary commented on #227
Can you please try updating to the latest SearchLight and SearchLightMySQL? I updated them a couple of days ago and had no issues. Closing this, please reopen if you still have the problem.

[2020-04-23 08:23] #227 closed

[2020-04-23 14:51] madprogramer opened #229 "up() does not bind to port if a server is already running on localhost:defaultport"
**Describe the bug**
Self-Explanatory

**Expected behavior**
Genie should check to see if the port is available and either give an exception or try another port

[2020-04-23 18:13] essenciary commented on #229
@madprogramer Thanks - I'm not sure what you mean by newapp() fails. What happens, what's the failure? I can't replicate, the new app is generated just fine.

[2020-04-23 18:50] uwbanjoman commented on #227
done, now it's working. thank you Adrian

[2020-04-24 13:33] madprogramer commented on #229
Oh sorry, at first I thought the directory was also generated incorrectly, but it seems that it only fails to launch the server. Although, it would still be nice if you had a workaround to try another port.

[2020-04-24 14:48] essenciary commented on #229
Thanks. I'm still going to need more info please. What do you have running on the port and what failure do you get? (Just want to make sure we're talking about the same thing).

Basically, depending on the arguments passed, newapp does up to 2 things:
1 - creates a new app (always)
2 - if autostart is true, it will also start the server.

Starting the server is independent from app creation. So he

[2020-04-25 02:29] kunov opened #230 "Genie.newapp("") on v1.0.5 errors during dependencies installation"
**Describe the bug**

Genie.newapp("") on v1.0.5 errors during dependencies installation.

**Error stacktrace**
If any error is thrown, please copy from the REPL and paste it here

[code]

**To reproduce**
[code]

**Expected behavior**
I just want to `Genie.newapp("")` to work without throwing errors.

**Additional context**

[code]
***

[code]

[2020-04-25 02:32] kunov commented on #230
And fyi,

On the git readme.md, it says Genie is supported on 1.2+.

However, on [https://genieframework.com/](https://genieframework.com/), the package is functional on 1.0+.

Thanks!

[2020-04-25 08:54] madprogramer commented on #229
Maybe an error message to indicate that the port was unavailable?

I was running a Jupyter server in the background, I didn't understand what was going on until I had the idea of shutting it down, and then everything worked just fine. Had the error message _told me this_ it would've took me much shorter to notice.

[2020-04-25 18:15] essenciary commented on #229
Yeah, that's a good idea. I don't know if there's any way of getting that info from HTTP.jl. Does Jupyter run on 8000 by default too?

[2020-04-25 18:20] essenciary commented on #230
Yes, the minimum version of Julia is 1.2 although that might not be accurate anymore. From what I see, Nettle 0.5 requires Julia 1.3 so it looks like I need to bump Genie's requirements too.

The info on the website is incorrect, I will update it.

Is it possible to upgrade to Julia 1.4?

[2020-04-25 23:40] kunov commented on #230
Great, thanks for the response!

I imagine there are teams working on production code that would pick the LTS 1.0.5 version, and later might want to develop a web component for the app. (I'm in this boat currently).

However, I will consider making a Genie demo on the side and see whether it leads to a conversion of our main julia version from the lts to 1.4+.

[2020-04-25 23:40] #230 closed

[2020-04-26 07:38] xgdgsc commented on #158
I find it strange route.jl is created without write permissions.

[2020-04-26 07:57] xgdgsc commented on #158
The page only says to create by `Genie.newapp("MyGenieApp")`. But what about next launch ? What should I run after it closed?

[2020-04-26 08:30] xgdgsc commented on #31
Is ther more doc on auth? Trying to auth with ldap (call python ldap3) here.

[2020-04-27 01:29] ephetic opened #231 "API Documentation HTML broken"
**Describe the bug**
Left nav/outline not populating.
![image](https://user-images.githubusercontent.com/3395020/80325807-83694500-87eb-11ea-8fe6-5965fe97dd77.png)

**Error stacktrace**
N/A

**To reproduce**
Visit https://genieframework.github.io/Genie.jl/documentation/API/ and any children.

**Expected behavior**
Subheaders should render text other than `-`

**Additional context**
Chrome Version

[2020-04-27 08:49] essenciary commented on #231
Thanks @ephetic - know issue though I don't know why that happens. If you feel like please take a look at what Documenter does there.

[2020-04-27 09:14] essenciary commented on #31
@xgdgsc We have this which works great but only supports DB backed auth: https://github.com/GenieFramework/GenieAuthentication.jl

Would be nice to add adapters support to it.

[2020-04-27 09:19] essenciary commented on #158
@xgdgsc

Yes, it is strange and needs to be addressed. It's because it's not created, instead it's copied from within the package and that's how the package is cloned. There is an open issue to address it.

The recommended way to start the app is to use the utilities within the app's `bin/` folder. Alternatively, within the app's folder, if you have an open Julia REPL, you can do `Genie.loadapp()`

[2020-04-27 10:01] essenciary commented on #230
You can have a Genie fork where you just remove Nettle, but that will leave you without encryption for secret, sessions, cookies, etc.

[2020-04-30 20:12] madprogramer commented on #229
I'm not entirely sure? I've had it launch on ports 8000, 8001, 8002, 8888 for me at different times. I don't know if it has to do with version or if any have priority over the others.

[2020-05-01 06:48] essenciary commented on #229
I see, thanks!

[2020-05-17 14:14] martynjriley opened #233 "Config files incorrect after Genie.newapp("MyGenieApp") and crash following bin/repl"
MyGenieApp/config/env/dev.jl
MyGenieApp/config/env/test.jl

It seems both the above config files may be wrong regarding ...

"websocket_server" in the settings should be "websockets_server".

You get a crash when restarting the app with bin/repl without this change.

[2020-05-18 06:15] essenciary commented on #233
@martynjriley It doesn't look like it. Can you please explain how I can reproduce the error and what version of Genie are you using?

[2020-05-18 13:11] martynjriley commented on #233
I am using julia 1.3.1 and genie 0.31.0 on ubuntu 20.04.
I have just repeated the operations to create a new app with ...

julia >using Genie
julia >Genie.newapp("MyGenieApp1")
.... All working
julia >exit()

julia >up()
... All working

I am rather confused because that isn't what happened when I created the first app. Not sure what I did differently! If I look at dev.jl and test.jl in this secon

[2020-05-18 13:23] martynjriley commented on #233
Perhaps I have done a " pkg> update " in between.

[2020-05-18 17:12] essenciary commented on #233
Yes, most likely there was a version incompatibility somewhere. That config option was renamed a while ago and I couldn't find it anywhere in the current codebase.

[2020-05-18 17:12] #233 closed

[2020-05-22 17:58] Bodya00 opened #234 "Cookies.get is not consistent with Cookies.set!"
Cookies.set! adds whitespace after the cookie, while Cookies.get(specifically function nullablevalue that is used in Cookies.get) does not expect it. You can write cookies, but you can't read them.

Genie version: v.0.31.0

Please tell me if I need to add more info to the issue.
Have a great day.

[2020-05-23 10:20] essenciary commented on #234
Thanks, I'll check it out!

[2020-05-23 14:40] Bodya00 commented on #234
Changing function nullablevalue from this:
[code]
to this:
[code]
worked for me.

[2020-05-24 03:28] deahhh opened #235 "v0.31: no newmigration api. How can I "Modify the database" in "Working With Genie Apps: Intermediate Topics""

[2020-05-24 09:00] essenciary commented on #234
Thanks - not sure that's the best approach. For instance if we check here:
https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie
indeed, it says:
`RFC 6265 mandates a single space after each semicolon, but some user agents may not abide by this.`

So I'd say that splitting by `;` and then trimming is the best approach, like the Mozilla example in JS:
[code]

[2020-05-24 09:03] essenciary commented on #234
Can you check if this works please?

[code]

[2020-05-24 10:50] Bodya00 commented on #234
It is.
Though I am not sure if sb can store string ending with a whitespace. Strip will strip🙃 that too.

[2020-05-24 11:03] essenciary commented on #234
😁 Would you like to make a PR to apply the `strip`?

[2020-05-26 08:10] essenciary commented on #235
What do you have in mind? Can you give me some examples?

We have create/drop table, create/drop column, create/drop index.

[2020-05-26 12:37] AubinMoreau opened #236 "Package Compatibility issues (Genie / Nettle)"
Hi, I was using Genie (version 0.29.0) on Julia 1.2 without issues, but i had to use use it on another computer (also Julia 1.2) and i can’t add it anymore.

[code]

- I can’t use another version of Julia (it’s for a project which is in Julia 1.2)
- I tried to install the packages that have compatibility issues separately but I’m always blocked with Nettle.

[code]

Do you guys have any advice for

[2020-05-26 15:43] essenciary commented on #236
Unfortunately Nettle (which is a 3rd party dependency of Genie) doesn't work on Julia 1.2 anymore... I suggest installing Genie v0.29 instead, if that worked and you're happy with it?

[2020-05-26 17:50] kczimm opened #237 "Bad doc link in Acknowledgements"
Then provides a bad URL.

https://github.com/GenieFramework/Genie.jl/blame/master/docs/index.md#L86

[2020-05-26 17:55] kczimm commented on #237
I found the twitter handle for the logo designer. I'm just assuming the acknowledgement is intended to direct interest towards the designer but that link won't help (anymore at least).

[2020-05-26 19:38] essenciary commented on #237
Thanks, yeah :) He doesn't have a personal website atm.

[2020-05-26 22:46] angstyloop opened #238 "errata: missing closing tag </li> on list item in intermediate tutorial's html view billgatesbooks.jl.html"
errata:

A closing tag </li> is missing from the list item in the intermediate tutorial's html view billgatesbooks.jl.html

[2020-05-27 01:27] kczimm opened #239 "Starting a web server for an existing app in a new session."
I was going through the [tutorial](https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html) and couldn't finish in one session. I came back to it, fired up a Julia REPL and wanted to start the server again. I realized the first time, it was automatically started from the `Genie.newapp` function. Is the following the appropriate way to start the web server again? If not what i

[2020-05-27 02:54] deahhh commented on #235
Thank you! "newmigration" has been replaced by create/drop function? That's grate! The trouble I met is just "no variable newmigration" when I tried "Working With Genie Apps: Intermediate Topics" ->"Uploading files"->"Modify the database"->"julia> Genie.newmigration("add cover column")".

I found in Internet that this API exists in version 0.26.

[2020-05-27 13:27] AubinMoreau commented on #236
Ok, no problem, i will ask my boss if we can switch to Julia 1.4.2.

Have a nice day !

[2020-05-27 13:29] MLackner commented on #235
I have the same problem. I tried to circumvent it by running
[code]
I don't know if this is the intended way of doing migrations now. The problem is that this creates a migration file with spaces (`*_add cover column`) and subsequently the migration file starts with `module Add cover column` and thus throwing an error.

Running
[code]
with underscores works for creating a proper migrations file bu

[2020-05-27 14:44] essenciary commented on #235
Thanks @MLackner - there's been some massive refactoring in SearchLight lately and it seems some things broke. It definitely sounds like a bug, it should generate correct file names.

Let me check,, thanks for the PR!

[2020-05-27 16:30] essenciary commented on #235
Thanks - I merged the PR and patched the MySQL adapter which had the same problem. Let's see about the wrong names.

[2020-05-27 17:08] essenciary commented on #235
Indeed, `remove_column` seems to have been lost in translation - it's present in the MySQL and Postgres adapters, but not for SQLite.

[2020-05-27 17:18] essenciary commented on #235
OK, I found it

[code]

Basically it's because SQLite does not support the operation so it's not implemented. I'll update the docs.

[2020-05-27 17:58] essenciary commented on #235
Looks like the real issue is that the tutorial hasn't been updated in a long time. The proper way to do it now is:
[code]
Seems to work great.

[2020-05-27 18:21] essenciary commented on #235
OK, I updated the docs - I don't have a lot of time but I addressed what seemed obviously incorrect. Please let me know if anything else is off.

![image](https://user-images.githubusercontent.com/11292378/83057689-9031c080-a057-11ea-97fc-6baf794a0b1f.png)

[2020-05-28 05:35] deahhh commented on #235
Thank you very much!

[2020-05-28 05:43] deahhh commented on #235
Thank you very much!
I read the source code of Genie before, but didn't find any function definition named "newmigration"! Do you know where is it?

[2020-05-28 05:48] #235 closed

[2020-05-28 05:50] deahhh commented on #235
All the problem is I am not familiar with SearchLight and Genie.

[2020-05-28 14:18] essenciary commented on #239
@kczimm here you go: https://genieframework.github.io/Genie.jl/documentation/10--Loading_Genie_Apps.html

[2020-05-28 14:18] #239 closed

[2020-05-28 14:21] essenciary commented on #235
@deahhh No worries - the code in the docs should now work. If that's not the case, lmk.

[2020-05-28 14:25] kczimm commented on #239
Wow, sorry. I clearly just missed that. Thanks @essenciary!

[2020-05-28 14:47] essenciary commented on #239
You're welcome!

[2020-05-29 06:49] #236 closed

[2020-05-29 14:41] deahhh commented on #235
@essenciary Thanks a lot!

[2020-05-31 15:09] phelipe opened #240 "Bug in "Working with Genie apps (projects)" tutorial"
**Describe the bug**
the code
[code]
is not working

**Error stacktrace**
[code]

**Expected behavior**
Run markdown file as a web page.

**Additional context**
Please include the output of
[code]

[2020-05-31 19:50] phelipe commented on #240
solved!

[2020-05-31 19:50] #240 closed

[2020-06-03 05:59] kimutaiRop opened #241 "Documentation on cors header and changing public folder path"
I am 2 days into genie and I already love it!! Thankyou so much, however I have just developed my frontend separately and backend separately coz I cant seem to find a clear documentation  on how to allow cors headers origin from all domain or atleast some,  coz i think request from different domains are by default blocked, i tested posting my data using the post request in julia given in examples

[2020-06-03 06:50] essenciary commented on #241
@kimutaiRop These configurations are available in the `Configuration.jl` module. All you need to do is overwrite them in the application's per environment configuration, ie `config/env/dev.jl`.

https://github.com/GenieFramework/Genie.jl/blob/master/src/Configuration.jl#L178
See `server_document_root` and `cors_headers`.

I agree, more examples and docs are always better and a small demo for these

[2020-06-03 14:04] kimutaiRop commented on #241
Okey... will be commiting some things I will be adding in the documentation after I succesfully made mine work. Thankyou.

[2020-06-03 14:04] #241 closed

[2020-06-03 14:39] Paethon opened #242 "Following tutorial: html function not defined"
I just tried to follow this tutorial: https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html

Unfortunately, I get stuck when first using:
`html(:books, :billgatesbooks, books = BillGatesBooks)`

I just get the error: `UndefVarError: html not defined`

Even when `using Genie.Renderer.Html` on the REPL, `html` is not found ...

**Additional context**
[code]

[2020-06-03 17:18] #242 closed

[2020-06-05 02:52] deahhh commented on #235
@essenciary
I found one other mistakes: in "function SearchLight.Migration.add_column", "SearchLight.column", should be "SearchLight.Migration.column".

[2020-06-05 06:43] essenciary commented on #235
@deahhh Great catch, thank you! Registered patch version.

[2020-06-06 20:33] nickembrey opened #244 "Genie.Renderer required in Intermediate Topics tutorial"
A friend and I are working through the tutorials on the website -- really enjoying the framework so far. My friend found what appears to be a typo in the "Working With Genie Apps: Intermediate Topics" tutorial: when showing code for BooksController.jl, Genie.Router is specified as the only dependency but the redirect function is actually in Genie.Renderer. I'll put in a PR to fix.

[2020-06-09 07:23] harleyjackthomas opened #246 "Generated Dockerfile has a different HOST value than the default application."
When following the Docker tutorial: https://genieframework.github.io/Genie.jl/documentation/16--Using_Genie_With_Docker.html

The Docker file produced uses a HOST value of 0.0.0.0, while the default application uses 127.0.0.1.

Will create a PR to resolve the issue.

[2020-06-09 12:17] essenciary commented on #246
Thanks for the PR, merged!

[2020-06-13 07:45] deahhh opened #248 "Example of showing markdown.jl.md in Guide “Working_With_Genie_Apps” encounter error"
BooksController.jl :

function billgatesbooks()
  html( :books, "billgatesbooks.jl.md",books=all(Book))
end

billgatesbooks.jl.md :

# MD Bill Gates' $(length(books)) recommended books

error as follows when visit "http://localhost:8000/bgbooks"

┌ Error: 2020-06-13 15:42:54 LoadError("string", 1, UndefVarError(:books))
└ @ Genie.AppServer ~/.julia/packages/Genie/dPHYR/src/AppServer.jl:111
┌ Error

[2020-06-21 18:55] ndgnuh opened #249 "HTML tags got stripped in views if they are created by a function"
**Describe the bug**
I have a function which render `DataFrame` to HTML. But it seems that the HTML were stripped, leaving only the text part. I checked the console, no HTML tags, only plain text.

**To reproduce**
[code]

[code]

The `Model` query something to get the `DataFrame` and use the `render_html` on it.

**Expected behavior**
A table in HTML

**Additional context**
Please include the out

[2020-06-22 12:05] essenciary commented on #249
Thanks @ndgnuh I'll check it out. There's really no scenario I can think of in which Genie would strip away the HTML tags.
You can try this function which will be available soon as part of a Genie UI library - works for sure:

[code]

Those docs are very old - have you checked https://genieframework.github.io/Genie.jl/

[2020-06-22 18:13] ndgnuh commented on #249
Thanks, your code works perfectly. I got lost in the documentations. Should I close this issue?

[2020-06-23 08:05] essenciary commented on #249
@ndgnuh Excellent! Since I'm here already, I'll close it now :)

[2020-06-23 08:05] #249 closed

[2020-06-27 17:11] kimutaiRop opened #251 "websocket instead of websockets in test and dev envs"
when creating a new project with ` Genie.newapp` the dev and test environment has wrong naming for the websocket I thing that  the main config file expect it to be `websockets` but it is named websocket this will cause an error when starting server or deploying to a web server with `bin\server`

[2020-06-30 09:15] #231 closed

[2020-06-30 13:35] wadehenning opened #253 "Access to fetch blocked by CORS policy"
**Describe the bug**
When calling the web server using `fetch` from my javascript app, I am getting a CORS error.  I don't know if this matters, but note that both of these are local servers used in development.

**Error stacktrace**
This is the error in my web console:
`
Access to fetch at 'http://127.0.0.1:8000/random' from origin
'http://localhost:3000' has been blocked by CORS policy:
The 'Acc

[2020-06-30 19:49] essenciary commented on #253
@wadehenning Thanks, managed to trace it and fix it. It in master and in the v0.31.3 (pending registration).

[2020-06-30 19:51] essenciary commented on #253
Closing - please reopen if necessary.

[2020-06-30 19:51] #253 closed

[2020-06-30 19:54] essenciary commented on #251
@kimutaiRop Which version of Genie please? That should've been changed a few versions ago. I can't reproduce.

[2020-06-30 19:56] essenciary commented on #248
Thanks - updated to different syntax:
https://genieframework.github.io/Genie.jl/dev/guides/Working_With_Genie_Apps.html#Markdown-views

[2020-06-30 19:56] #248 closed

[2020-06-30 19:57] essenciary commented on #246
PR merged, closing

[2020-06-30 19:57] #246 closed

[2020-06-30 19:57] essenciary commented on #244
Merged, closing, thanks

[2020-06-30 19:57] #244 closed

[2020-06-30 19:59] essenciary commented on #238
@angstyloop Can you please provide more details, I can't see it?

[2020-06-30 19:59] essenciary commented on #237
Fixed

[2020-06-30 19:59] #237 closed

[2020-06-30 20:03] essenciary commented on #200
Closing as not Genie related.

[2020-06-30 20:03] #200 closed

[2020-06-30 20:06] essenciary commented on #174
Closing due to lack of activity.
* deployment features and documentation for Docker and Heroku have been added - more providers to follow
* will investigate binary executable ahead of time compilation as more progress has been made in this direction

[2020-06-30 20:06] #174 closed

[2020-06-30 20:07] essenciary commented on #166
Should work now, seems to have been a CORS issue.

[2020-06-30 20:07] #166 closed

[2020-06-30 20:09] #97 closed

[2020-06-30 20:10] #68 closed

[2020-06-30 20:11] essenciary commented on #69
Closing as the API has changed significantly

[2020-06-30 20:11] #69 closed

[2020-07-01 05:08] milesfrain commented on #166
I believe there's more work that can be done to make Genie fully spec-complient, but the current behavior is probably fine most use cases, so I'm in-favor of closing this issue.

[2020-07-01 06:50] essenciary commented on #166
Feel free to reopen or just PR enhancements at any time. Re CORS just run some tests with `fetch` and fixed a bug which made `fetch` requests pass with appropriate CORS headers.

[2020-07-01 11:29] essenciary commented on #234
Implemented, closing

[2020-07-01 11:29] #234 closed

[2020-07-01 12:21] essenciary commented on #149
@andremillet Had the chance to thoroughly debug this on a windows laptop now. Works without any issue.
Looking at the screenshots you posted I see you're running Julia 1.0. Genie needed Julia 1.2 at that time - and now 1.3.
Please try with a recent Julia version.
Closing - feel free to reopen if anything else comes up.

[2020-07-01 12:21] #149 closed

[2020-07-05 00:21] al-obrien commented on #142
I was experiencing this issue when running `Genie.newapp_webservice("MyGenieApp")` in a project folder on a different hard-drive (e.g. D:/) from the one containing the Julia installation or perhaps the .julia folder. When I swapped the working directory to my C:/ drive, which contains the OS and Users/ folders, the web service ran fine. I suspect Genie did not like installing one bit on a mounted

[2020-07-05 06:28] essenciary commented on #142
@al-obrien Thanks for reporting this... wow, weird, seems like a Julia (or maybe a Revise) issue, definitely not something that Genie does. I'll run some tests.

[2020-07-08 10:23] essenciary commented on #251
Closing due to lack of feedback

[2020-07-08 10:23] #251 closed

[2020-07-08 10:23] essenciary commented on #238
Closing due to lack of feedback

[2020-07-08 10:23] #238 closed

[2020-07-08 10:25] essenciary opened #254 "Loading app on different drive"
I was experiencing a similar issue when making a new app by running `Genie.newapp_webservice("MyGenieApp")` in a project folder on a different hard-drive (e.g. D:/) from the one containing the Julia installation or perhaps the .julia folder. When I swapped the working directory to my C:/ drive, which contains the OS and Users/ folders, the web service ran fine. I suspect Genie did not like install

[2020-07-08 10:25] essenciary commented on #142
Moved to different issue #254

[2020-07-08 10:25] #142 closed

[2020-07-08 23:33] 3210jr opened #255 "Access to fetch blocked by CORS policy - Issue #253"
Hey,
Thanks for your awesome work. LOVE GENIE.jl!

The issue I am facing is exactly this recently closed issue: https://github.com/GenieFramework/Genie.jl/issues/253#issue-648181057

**Additional context**
Please include the output of
`julia> versioninfo()`
[code]

and
`pkg> st`
[code]

[2020-07-09 06:27] essenciary commented on #255
@3210jr Thanks, I'll recheck

[2020-07-12 19:43] uhtewihptihwue opened #256 "Link to documentation at www.genieframework.com is broken"
At the bottom of https://www.genieframework.com/, there is a link with the text "Read the docs" directing to https://genieframework.github.io/Genie.jl/guides/Working_With_Genie_Apps.html. But that link is broken and returns the following message:

[code]

[2020-07-13 12:08] essenciary commented on #256
Thanks for reporting this - docs have moved to https://genieframework.github.io/Genie.jl/dev/ link needs updating.

[2020-07-15 00:28] uhtewihptihwue opened #257 "Genie.newapp() failing with MethodError"
**Describe the bug**
I ran `Genie.newapp("MyGenieApp")` and it failed with
[code]

**Error stacktrace**
[code]

**To reproduce**
Run `Genie.newapp("MyGenieApp")`

**Expected behavior**
I expected a Genie app to be created.

**Additional context**

`versioninfo()` produces:

[code]

and `pkg> st` produces:
[code]

[2020-07-15 07:23] essenciary commented on #257
@uhtewihptihwue Above the error it says Genie v0.19 - so it looks like an old Genie, maybe something's off with the environments. It should say Genie v0.32.

[2020-07-15 14:58] uhtewihptihwue commented on #257
Running `Pkg.update("Genie")` brought me to v0.31.5 which resolved the issue. Thanks for the help.

[2020-07-15 14:58] #257 closed

[2020-07-19 08:54] essenciary opened #258 "Allow additional arguments for `Genie.up` and forward them to `HTTP.serve`"
Allow additional arguments for `Genie.up` and forward them to `HTTP.serve`

[2020-07-20 15:43] essenciary opened #259 "Make dev start in HTTPS by default"
Make dev start over HTTPS by default

[2020-07-20 18:06] essenciary commented on #255
@3210jr What errors are you getting? For me, it works perfectly. Is the request actually reaching the Genie app/server (do you see output in the console)? Because otherwise it's the browser itself that is blocking the request via the Content Security Policy.

Here is a screenshot of accessing the code on localhost from genieframework.com:
![image](https://user-images.githubusercontent.com/11292378

[2020-07-20 19:49] essenciary opened #260 "Make 404 page/response respect the request type"
Ie, disable HTML 404 page responses with JSON requests.

[2020-07-20 19:50] essenciary opened #261 "Add a verbose option to turn off logging, logo, etc"
Add a verbose option to turn off logging, logo, etc

[2020-07-21 14:51] essenciary opened #262 "Add support to define route groups"
Add support to define route groups

[2020-07-21 16:53] essenciary commented on #259
Added support for running the web server over SSL/HTTPS.
Added SSL initializer.

[2020-07-21 16:53] #259 closed

[2020-07-21 16:53] essenciary commented on #260
Fully refactored the content negotiation, which now honors the `Accept` header

[2020-07-21 16:53] #260 closed

[2020-07-21 16:53] essenciary commented on #258
Done

[2020-07-21 16:53] #258 closed

[2020-07-21 17:26] essenciary commented on #255
I'm going to close this - I suggest looking into CSP https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP to configure the page on the client side.

[2020-07-21 17:26] #255 closed

[2020-07-21 17:27] essenciary commented on #253
@wadehenning If you're still having problems it looks like CSP https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2020-07-21 17:30] essenciary commented on #229
Not sure how to handle this - for now it uses the behavior of HTTP.jl which I see has changed from not throwing to throwing an error when the port is in use. So now the app will error upon startup.

I think it's good enough - users can implement their own logic to catch the error and try different ports. If you want to contribute an option for this, I'm happy to merge it into Genie's core.

[2020-07-21 17:30] #229 closed

[2020-07-21 17:33] essenciary commented on #155
Now Genie supports SSL/HTTPS - docs pending

[2020-07-21 17:33] #155 closed

[2020-07-21 17:38] TommyXR commented on #261
I think there are many ways to handle the logging part. What I thought about is having a `logger` variable somewhere in the config, and replace instances of
[code]

with

[code]

That way it's easy to disable logging by just passing a NullLogger in the config, or with some function that does it automatically.

Another option could be to just have a way to toggle logging off, and check the conditio

[2020-07-22 07:58] essenciary commented on #261
I really like the idea of wrapping Genie.up in that, see if that works. Otherwise indeed, there aren't too many places where logging is performed within Genie.

[2020-07-22 11:37] essenciary opened #263 "Routes precedence"
Pre v1 confirm routes precedence (ie catch all)

[2020-07-23 06:20] 3210jr commented on #255
Thanks @essenciary. I ended up just using a GET request but I just spinned up a new project and POST just worked out of the box!
Thanks for looking into it and sorry that it was a dead end!

[2020-07-25 14:45] Super-Gil opened #265 "App creation error"
**Describe the bug**
I can't create an app use Genie.newapp()

**Error stacktrace**
`Genie v0.31.5
Active env: DEV

Ready!
ERROR: ArgParse.ArgParseError("too many arguments")
Stacktrace:
 [1] argparse_error(::Any) at C:\Users\Administrator\.julia\packages\ArgParse\WUIf8\src\parsing.jl:9
 [2] parse_arg!(::ArgParse.ParserState, ::ArgParse.ArgParseSettings) at C:\Users\Administrator\.julia\packages\A

[2020-07-27 10:13] essenciary commented on #265
@Super-Gil Thanks for reporting this - I tried everything but I can't reproduce. I tried various paths, all works perfectly - there's also a test suite checking app creation.

Any other info you can provide so I can replicate? What terminal are you using (or how are you running this?).

[2020-07-27 14:26] essenciary commented on #255
No problem!

[2020-07-28 14:26] Super-Gil commented on #265
@essenciary Pretty much appreciated for your reply. I am using Windows10... And I think I did it in my VSCode terminal which performs the same as system cmd? (Not quite sure...) Getting pretty confused. Since I am a Julia newbie I might not be able to solve too advanced issues...

I did remember I just did
`using Pkg`
`Pkg.add("Genie")`
`Pkg.build("Genie")`
`using Genie`
`Genie.newapp("SomeProject

[2020-07-28 14:29] Super-Gil commented on #265
However I don't know what's the reason... When I reboot my computer and do those commands again it worked... Perfectly fine... Sometimes we don't know why but it exists. Computer is magic. Lol🤣

[2020-07-29 08:42] essenciary commented on #265
Glad that it worked! :)

Btw, you don't need to run "Pkg.build", you can skip that command.

[2020-07-29 08:42] #265 closed

[2020-07-31 10:21] #263 closed

[2020-08-06 20:27] wadehenning opened #266 "MyController not found in current path"
### **Issue Context**
I am going through your documentation and creating a Genie Web Service with a controller titled `HypothesisTestController`.  When I attempt to access the Controller, I am getting the error:
`ERROR: ArgumentError: Package HypTestController not found in current path:`
`- Run import Pkg; Pkg.add("HypTestController") to install the HypTestController package.`

NOTE: Initially, ev

[2020-08-07 20:17] essenciary commented on #266
That `ERROR: ArgParse.ArgParseError("too many arguments")` does not look good.

Please provide the information requested in the issue template (versioninfo, pkg status).

[2020-08-07 20:18] essenciary commented on #256
Links updated

[2020-08-07 20:18] #256 closed

[2020-08-07 20:36] wadehenning commented on #266
Thanks for the feedback-- the issue template did not appear when I created this issue and I could not remember the commands to get this information.

[code]

[code]

[2020-08-19 22:31] PallHaraldsson opened #269 "Can't upgrade Genie without downgrading Memento, slowing down PostgreSQL driver loading"
[I was debugging slow loading of LibPQ.jl, I think you use, or at least your users, and I got its loading speed from 10 to 8.6 sec., actually Memento was a slow dependency and together we got it down to 1.6 sec. with v1.1.1.]

I couldn't install latest Memento to test until I removed a bunch of packages, and finally yours, and then predically I can't add it back:

[code]

I'm a bit new to all this

[2020-08-20 07:49] essenciary commented on #266
Thanks for the info. Sorry for the delay, I've been traveling. Did you manage it get it working yet?

[2020-08-20 08:02] essenciary commented on #269
@PallHaraldsson I don't know what's causing this either. All of Genie's deps are on the latest allowed version, as far as I can tell:
[code]

[2020-08-20 08:03] essenciary commented on #269
From the looks at your output maybe related to `FilePaths` and `FilePathsBase` - checking.

[2020-08-20 08:19] essenciary commented on #269
OK, found it - latest registered `FilePaths` is v0.8 (used by `Genie`) and restricts `FilePathsBase` to v0.6. The lower version of `FilePathsBase` triggers downgrades in `JSLO` and `Memento` which depend on `FilePathsBase`. `FilePaths` v0.8.1 should be registered as that upgrades `FilePathsBase`.

https://github.com/rofinn/FilePaths.jl/blob/c3da500b4f83d38d7927b83604bfeb92255a8a0f/Project.toml
htt

[2020-08-20 11:38] wadehenning commented on #266
@essenciary -- I just put it off to the side.  I thought I would try building or reinstalling the package and trying again.  I'll let you know how that goes.

[2020-08-20 19:09] #269 closed

[2020-09-03 01:52] AlexDaniel opened #270 "Missing mimetype for .mjs files"
Genie is serving `.mjs` files with a generic mimetype but it should use `text/javascript`.

The idea behind `.mjs` and the issue with many servers is well described in [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules#Aside_%E2%80%94_.mjs_versus_.js).

TL;DR people are advised to use `.mjs` for javascript modules, but:

My guess is that adding a mapping for `.mjs

[2020-09-06 05:03] AlexDaniel opened #271 "WebSocket handling is doing too much"
From https://github.com/GenieFramework/Genie.jl/issues/192:

The API as it is right now is not very useful. It makes a lot of assumptions and forces devs to work with websockets in a particular way, when in practice custom logic is often needed.

`channels_support` pushes this file to the clients:
https://github.com/GenieFramework/Genie.jl/blob/6860ca7ed8955f7f89abae92a759f4b2f5ea21cf/files/embedd

[2020-09-06 22:59] essenciary commented on #271
@AlexDaniel I'm not sure I understand your point. The `WebChannels` API and `channels_support` is opt-in. They provide a standard mechanism for communication over WebSockets but you don't have to use it. What exactly is the issue?

[2020-09-07 23:36] AlexDaniel commented on #271
@essenciary Oh, I see it now. Basically, if one wants to use websockets, then they can use HTTP.WebSockets directly ([like this](https://github.com/JuliaWeb/HTTP.jl#websocket-examples)). I guess it's just my misunderstanding then, but the documentation could have cleared it up. I'll close the ticket, but feel free to reopen if you agree that the docs need a tweak. My suggested changes for [this do

[2020-09-07 23:36] #271 closed

[2020-09-08 21:27] shashankp opened #272 "Loading the package is crashing Julia process"
**Describe the bug**
Loading Genie package is crashing the Julia process

**Error stacktrace**

![image](https://user-images.githubusercontent.com/498813/92528564-9df60500-f246-11ea-8860-e413c0ede2f2.png)

**To reproduce**
Installed Genie using Pkg (🙂 )
Tried to use Genie (😕 )

Same is the case with running this script
[code]

**Expected behavior**
Expected to load Genie package

**Additional cont

[2020-09-09 07:58] essenciary commented on #272
@shashankp Ugh nasty.
Can you please share your Manifest.toml and Project.toml files so I can reproduce the environment?
Is that the macOS beta?

[2020-09-09 08:09] shashankp commented on #272
[Manifest.toml.txt](https://github.com/GenieFramework/Genie.jl/files/5193597/Manifest.toml.txt)
[Project.toml.txt](https://github.com/GenieFramework/Genie.jl/files/5193598/Project.toml.txt)

I've tried importing in a new activated environment, where it works

[2020-09-09 08:28] essenciary commented on #272
@shashankp Thanks - so it might be some combination of packages. I'll try your setup. Thanks for the info!

[2020-09-09 08:28] essenciary commented on #272
Ah, also, what's the error (the output of the crash)?

[2020-09-09 08:46] shashankp commented on #272
Silently fails. Is there a way to get debug output while importing a module?

[2020-09-10 05:14] Immortalin opened #273 "Question about large files"
If I upload a large file using the example code given in the documentation, will it block?

[2020-09-10 07:46] essenciary commented on #273
@Immortalin block what? The frontend or the backend? The backend should have no problem as the request is handled in a thread. If you use a proxy (Nginx/Apache) make sure it doesn't timeout.

For the frontend if you make a sync request (form submit) it will block the UI as that's how the browser works: it makes a new request which uploads the file and waits for the response. You can use async (Aja

[2020-09-10 07:50] essenciary commented on #270
@AlexDaniel Thanks, added. Currently on master, it will be out in v1.2

[2020-09-10 07:50] #270 closed

[2020-09-10 13:21] #273 closed

[2020-09-11 08:50] hhaensel opened #274 "Websocket connection not working on AWS EC2 instances"
Currently Stipple does not run on AWS EC2 instances.
The reason is that AWS uses an IP translation to connect to the instances. The problem starts when `load_channels()` composes the address or the ws connection, as it takes the (private) IP from the server configuration.
The solution for me was to replace the server address in the js function by the current url:
[code]
changed to
[code]

However,

[2020-09-11 09:15] essenciary commented on #274
@hhaensel Thank you, the JS tweak makes sense, I've merged it.

Yes, I totally agree - forcing 2 ports for http/https and ws/wss is messy. It used to work on the same port when Genie ran off HttpServer.jl - but when moving to HTTP.jl this got lost. We need to see if it's possible on HTTP.jl - if yes, it should be a simple change. I'll add an issue.

PS - you're taking a potentially big risk runnin

[2020-09-11 09:16] essenciary opened #276 "Allow HTTP and WS servers to listen on the same port"
Allow web sockets to listen to the same port as the web server.

[2020-09-11 14:23] hhaensel commented on #274
I am certainly not a server expert, so would you mind explaining the risk?
Is it from running julia as admin or are there other risks connected with using port 80?

Do you mean port redirection via rewrite / proxy? Why is it less risky?

[2020-09-11 16:00] essenciary commented on #274
Indeed, it's generally not advisable to run processes which are exposed on the internet under elevated privileges. If an attacker manages to hack the Julia process it would get a lot of power. Apache for instance doesn't run with elevated privileges even if it's on port 80.

In terms of static assets and caching, Nginx (and to some extent Apache) have much better performance at serving files, comp

[2020-09-11 16:01] essenciary commented on #274
PS I asked on the Julia #web slack if anybody knows how to reuse the http port for ws with HTTP.jl.

[2020-09-12 09:33] essenciary commented on #276
https://github.com/EricForgy/Pages.jl/blob/main/src/Server.jl#L28-L54

[2020-09-12 13:14] hhaensel commented on #274
Thanks for your answers.
Meanwhile I tried to get Stipple run behind an apache server with
[code]
That works without problems when I load it the first time. But if I reload the page genie gets stuck during loading of `stipple.js`
[code]

Do you have any idea where that may come from?

[2020-09-12 14:53] hhaensel commented on #274
I just found out that the error doesn't depend on port forwarding, it also happens when I change everything back to normal and use direct port addressing. But it only occurs, when the websocket has been used. I will recheck on a different machine...

[2020-09-12 15:27] essenciary commented on #274
It's what the error says - permission denied to access the file. Genie creates a tmp file where it puts the compiled views. Can you check if the files are there?

[2020-09-12 16:09] essenciary commented on #274
What you can do quickly, is change the folder for generating the views to a folder where the user has access - for example in the app's folder, make a folder `tmp/`, then:
`Genie.config.path_build = "/path/to/app/folder/tmp"`

[2020-09-14 06:31] hhaensel commented on #274
I found the error. It came from running julia with admin rights. That changed the settings of the folder `jl_genie_build_JnkziO` to `root` and the standard user could not write to that directory. Deleting that directory and having it rebuild by reloading of the web page, everything runs smoothly.

My stiplle configuration is now back at standard ports (8000 and 8001) but with the port specificatio

[2020-09-14 09:46] essenciary commented on #274
@hhaensel Thanks for the update! Great setup, thanks for sharing!

I suspected the same but I couldn't quite imagine the workflow. So Julia runs with escalated privileges - but who is the "standard user"? Shouldn't be the same Julia process accessing the tmp folder?

I've made some progress with running WebSockets over HTTP/S thanks to @EricForgy - I need to try his approach, it can simplify the s

[2020-09-14 10:06] hhaensel commented on #274
No more!

is typically "ubuntu" on ec2 ubuntu machines

it does and it does generate a subfolder

[code]
but after once running julia as admin (`sudo julia`), the rights of this folder changed so that ubuntu didn't have access anymore. So running julia (and Stipple) as `ubuntu` failed with the error above.

[2020-09-14 10:08] hhaensel commented on #274
😄 👍

[2020-09-17 01:09] ssgosh opened #279 "Genie.run() does not use tcp socket passed in the server parameter"
**Describe the bug**
Genie.run() has a keyword option `server`, where one can pass a tcp socket which is already bound. Expected functionality is that Genie will listen on this tcp socket. However, Genie tries to create a new one using `server_port` and `server_host` params in config. If the two addresses conflict, then an error is thrown. If not, then Genie listens to the newly created socket ins

[2020-09-17 07:46] essenciary commented on #279
@ssgosh Thanks for reporting this. Strange, last time I used it worked fine. I'll check it out!

[2020-09-26 11:32] rikhuijzer opened #281 "Cannot test unnamed project"
**Describe the bug**
On Gitter, I promised to report an issue that I had with Genie last week. I tried to set up testing, which failed, as can be seen below.

**Error stacktrace**
[code]

**To reproduce**
[code]

**Expected behavior**
[code]

**Additional context**
[code]

[2020-09-27 12:43] wadehenning commented on #266
@essenciary   I finally have time to get back to this work;  I must be doing something foolish, I can not see what, but I have learned more:
**the  Controller does work when I call it in my GNOME terminal**
[code]

 **but I get an error in VS Code**
[code]

[2020-09-27 16:59] essenciary commented on #266
@wadehenning What exactly are you doing in VS Code? What are the steps I should take to reproduce the error?

[2020-09-27 23:18] wadehenning commented on #266
@essenciary For me, this works in the `GNOME` terminal but not in the VS Code terminal.  I guess something with VS Code, but I don't have any other issues that I know of.  I must be going crazy.

[code]
[code]
***change directory to App root***

[code]
[code]

[2020-09-28 08:34] sfinnie opened #282 "Genie.newapp_webservice() throws exception when creating new project"
**Describe the bug**
Genie.newapp_webservice("MyGenieApp") reports failure on startup though still appears to run.

**Error stacktrace**

[code]
**To reproduce**

1. Create new app as above.
1. Load localhost:8000/ in browser - loads OK

**Expected behavior**

App created and loads without throwing exception.

**Additional context**

Please include the output of
[code]

`pkg> st`

		(MyGenieApp) p

[2020-09-28 08:56] essenciary commented on #282
@sfinnie Thanks - that exception is entirely in the realm of HTTP.jl (the server library) and I think there's an open issue for it. I haven't found a way to capture it as it's reported within HTTP.jl. It harmless though.

I'm going to close as it's not actionable.

[2020-09-28 08:56] #282 closed

[2020-09-28 09:07] sfinnie commented on #282
@essenciary thanks, makes sense.  Maybe worth mentioning in the docs then?  For a newbie, it would be good to know it's harmless.  Cheers.

[2020-09-28 18:33] sasogeek opened #283 "Genie official MongoDB support"
I'm trying to use MongoDB but struggling to connect to Atlas with the [Mongoc.jl](https://github.com/felipenoris/Mongoc.jl) package. Is there an ETA on when there will be an official support/package of MongoDB for Genie?

[2020-09-29 19:00] essenciary commented on #274
@hhaensel I think this can be closed?

[2020-09-29 19:01] essenciary commented on #276
@hhaensel do you want to do the honors and close this one? 👑

[2020-09-29 19:16] essenciary commented on #283
I'm afraid there is no ETA on this :-/

[2020-09-29 21:34] hhaensel commented on #276
It would be a pleasure to do so! Alone, I don't have the appropriate rights 🤴
So please accept doing the honors for me 😉.

It's been a pleasure contributing 🙇

[2020-09-29 21:35] hhaensel commented on #274
I will close this one, then 😺 🤴

[2020-09-29 21:35] #274 closed

[2020-09-30 07:16] essenciary commented on #276
Thank you for the awesome contribution! 🎉🙌 Closed! 💥

[2020-09-30 07:16] #276 closed

[2020-09-30 10:32] wadehenning commented on #266
@essenciary If I go back to my old laptop using Julia 1.4.1, an older VS Code (v1.44.2) and  Genie v0.31.1 it works.  Maybe is something strange on my development computer. I'll keep tinkering with it, but I am under a deadline and might have to walk away for a bit again back to the less fancy solution that I have been using.
Thanks for your help.  This is an exciting package and I appreciate the

[2020-09-30 12:39] wadehenning commented on #266
@essenciary I went through the process above on my development computer and got no error.  Who knows.  Thanks.

[2020-10-01 10:10] wadehenning commented on #266
@essenciary .  It did work in the moment but it seems I am still missing some understanding.  What do you think about this--  I can see my `FuncsController.jl` file in my path, but I can't `using` it:

[code]

**Contents of FuncsController.jl**

[code]

[2020-10-02 09:05] essenciary commented on #266
@wadehenning How are you starting/loading the Genie app? A full stack Genie app needs to be bootstrapped in order to address things like this (activate the Pkg environment, add files to the load path, etc). You can either use the scripts in the `bin/` folder (eg `bin/repl` to start up a "Genie repl" or load it manually (when in the root folder of the app run `julia> using Genie` and `julia> Genie.

[2020-10-04 12:54] mkschulze opened #285 "[Docs]Missing content for developing MVC apps tutorial page"
**Describe the bug**
Missing content for developing MVC apps tutorial page

**To reproduce**
See: https://genieframework.github.io/Genie.jl/dev/tutorials/4-1--Developing_MVC_Web_Apps.html

**Expected behavior**
There is information to be expected.

[2020-10-06 18:45] #285 closed

[2020-10-06 18:48] essenciary commented on #285
To be honest I don't remember what I wanted to put here - but these guides cover the MVC aspects:

https://genieframework.github.io/Genie.jl/dev/guides/Working_With_Genie_Apps.html
https://genieframework.github.io/Genie.jl/dev/guides/Working_With_Genie_Apps_Intermediary_Topics.html (incomplete)

Genie will get some docs updates soon.

[2020-10-12 20:28] casabre opened #289 "newapp with autostart=false starts always server"
I want to create a new app with the generator but without starting it immediately. However, setting `autostart=false` does not have an effect. Seems that the variable is not forwarded to `post_create`.

https://github.com/GenieFramework/Genie.jl/blob/e61a17ab12f74045f0d667ae620976dfb4f0bd57/src/Generator.jl#L467

[2020-10-16 10:22] essenciary commented on #289
@casabre Thanks for picking this up and thanks for the contribution! The PR has been merged!

[2020-10-16 10:22] #289 closed

[2020-10-18 16:58] PeterNorlindh opened #292 "Please add Javascrip fetch request examples (for newbies)"
I'm a beginner at web development. A couple of examples of fetch requests (in the documentation and in the default app) would have saved me a lot of time and effort. Also, this would be a good way to show how powerful the Genie framework is.

[2020-10-18 17:12] PeterNorlindh opened #293 "Docs - Loading Genie Apps on Linux - Setting up the environment"
I struggled a bit with the docs on [Loading Genie Apps](https://genieframework.github.io/Genie.jl/dev/tutorials/10--Loading_Genie_Apps.html). The documentation is perfectly clear, but it assumes that Julia is installed in such a way that it can be launched from the project's root folder - which wasn't the case for me.

To help beginners like myself I suggest that you clarify this assumption and pr

[2020-10-19 05:58] essenciary commented on #282
@sfinnie I'm hoping it will be fixed at some point :) Was this using Firefox (I think it is FF specific).

[2020-10-19 20:00] sfinnie commented on #282
@essenciary yes, it was FF. Thanks.

[2020-10-22 09:30] Ankur-deDev commented on #151
Hi,

I bumped into a similar issue (when I start extra processes with `Distributed.addprocs` after launching the server).
A quick workaround (that has not been tested much) is to replace in the file  `Genie.jl/src/AppServer.jl` the `Distributed.@fetch ...` calls by something like `Distributed.@fetch(Distributed.@spawnat 1 ...)` to make sure this get executed on master and not on the slaves that do

[2020-10-26 09:40] essenciary commented on #293
@PeterNorlindh That is a good point, thank you.

What do you think about recommending the pure Julia approach (which I started to use more often for REPL work):

[code]

I think maybe using scripts for bin/ should be recommended for running the app unsupervised (as a script) and the above should be recommended for REPL/interactive work?

[2020-10-26 09:40] essenciary commented on #292
@PeterNorlindh thanks - what do you have in mind? Ajax requests?

[2020-10-26 15:30] essenciary commented on #151
@Ankur-deDev tbh I don't think it will break things. To be sure we can start with the tests we have and maybe devise some new ones for parallel execution?

[2020-10-26 20:22] mkschulze commented on #292
Doesn't Vue provide more modern ways to do Ajax style requests, whithout page reloads etc?

[2020-10-27 09:30] PeterNorlindh commented on #292
@essenciary - Yes, it would be great to have a few complete examples to draw from. End-to-end examples where one can open the "Welcome to Genie" default page, fill out a form, submit, store/process the data on the back-end and render a response on the page (I'm trying to use Fetch for this). This would be great for someone like me, as would an authentication example/template :)

My use-case. I'm a

[2020-10-27 11:50] essenciary commented on #292
@mkschulze Vue itself does not, but there are plugins (like vue-axios).

@PeterNorlindh Definitely better docs for Genie and guides for common workflows like these are planned. I can't make any forecasts as to when as there is so much work to be done. It would be really helpful if people would also contribute tutorials, if for instance you now figured out how to do it and would like to share.

For

[2020-10-29 21:09] derikk opened #296 "Server does not handle HEAD requests"
**Describe the bug**
The Genie server does not respond to [HTTP HEAD](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) requests. Instead, it produces a 404, even for resources that exist and can be accessed with GET requests.

**To reproduce**
I used the following code from the Genie docs to start a minimal web server:
[code]

Then, using curl to make a GET request (`-i` displays th

[2020-10-30 08:37] essenciary commented on #296
@derikk Thanks for flagging this! Should be relatively easy to add, assuming that the web server allows responses without a body, I need to check.

[2020-10-30 09:23] DoktorMike commented on #135
I would add here that [FastAPI](https://fastapi.tiangolo.com/) has a nice way of dealing with this as well. They basically generate Swagger and Redoc docs from one common OpenAPI spec which is generated from the routes. I agree that this would indeed be an awesome feature to have in the already great Genie. :100:

[2020-11-01 13:09] PeterNorlindh commented on #292
@essenciary , I'd be happy to do that and see if I can contribute anything of value. Perhaps my lack of expertise can even be an asset here.

Btw, it seems that Firefox has contributed to my struggles. I thought I had messed things up, but now I'm starting to think that Firefox simply doesn't like the local host. Chromium works better for me.

[2020-11-01 22:45] mkschulze opened #299 "Genie.Requests: MultiDict for one key having multiple values"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use the MultiDict functionality from werkzeug.datastructures "MultiDict" class to build a custom request_dict.jl

This for example is supposed to be useful for some HTML Form elements that pass multiple values for the same key.

**Describe the solution you'd like**
Rewriting the Class MultiDict as a Julia

[2020-11-02 14:26] cindRoberta opened #300 "Genie supports GraphQL?"
Doubt, initially

[2020-11-03 02:38] MaximeRivest opened #301 "Support for SVG elements"
The page rendering seems broken when the html template includes an svg tag such as :

[code]
**Error stacktrace**
######################### ERROR STACKTRACE #########################
UndefVarError: svg not defined
(::Genie.Renderer.Html.var"#976#1021")() at /tmp/jl_genie_build_GT62DE/GenieViews/cecdb8e16113547528a671bc94d3e51943eb0795.jl:101
normal_element(::Genie.Renderer.Html.var"#976#1021", ::S

[2020-11-06 14:18] essenciary commented on #301
@MaximeRivest oh wow, that's for flagging this, it's a big one! Wonder if we should add the whole set of SVG elements?
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/rect

[2020-11-06 14:32] essenciary commented on #301
https://developer.mozilla.org/en-US/docs/Web/SVG/Element

[2020-11-06 17:11] MaximeRivest commented on #301
I'm not "composing" enough SVG to know... and I have not looked into Genie's code enough to know what that implies.

As a more temporary patch, the documentation could be updated on the templates to inform the user that static svg files can be linked to. But SVG cannot be inserted in the template.

I guess one thing I would consider is the possibility that a Genie user composes SVG programmaticall

[2020-11-07 09:18] essenciary commented on #301
@MaximeRivest No worries, it's not that complicated. Basically Genie creates tag rendering functions so in this case it's missing the corresponding `svg(...)` function. I think we can just add all the standard, well supported elements, but probably in a separate module so they are not loaded by default.

For now you can manually add support for elements using
[code]

Normal elements have a closing

[2020-11-07 13:44] PeterNorlindh commented on #293
I think that's a great idea :)

[2020-11-08 09:37] JuliaTagBot opened #302 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-08 09:37] #302 closed

[2020-11-14 14:29] essenciary opened #304 "Migrate to JSON3.jl for improved performance"
See if it's possible to migrate to JSON3.jl

[2020-11-16 16:43] essenciary commented on #301
I've added support for SVG elements into `Renderer.Html` but the tags need to be explicitly loaded with `Html.register_svg_slements()`.

[2020-11-16 16:44] essenciary commented on #300
Not yet indeed. If you can contribute to this feature I'll be happy to help.

[2020-11-18 13:03] cindRoberta commented on #300
I love Julia and it's my dream contribute to it, but I haven't read the Genie source code yet and I have no idea how to implement Graphql in Julia, what I can offer for now is just the design, if you could help me with implementation and creation it would be wonderful

[2020-11-20 11:04] Cyvadra opened #306 "how can I get client ip address in Genie?"
Under some circumstances I need to get client's ip to identify,
but even when I directly access localhost:port,
I can't get my own browser's address, not in headers or somewhere else.

this can might be done using Sockets.getsockname(http_stream), but neither can I find the stream
and things get more complicated when using nginx....

is there a way to:
[code]

[2020-11-20 13:33] Cyvadra commented on #306
add following to nginx.conf:

[code]

[2020-11-20 13:33] #306 closed

[2020-11-20 21:39] cindRoberta opened #307 "change logic on function normal_element, line 68 from Genie.Renderer.Html"
**Is your feature request related to a problem? Please describe.**
now, this works
[code]

**Describe the solution you'd like**
style accepts Tuple or Dict
[code]

**Describe alternatives you've considered**

[2020-11-20 21:57] cindRoberta opened #308 "macro @query"
**Is your feature request related to a problem? Please describe.**
Express separates params and queries

**Describe the solution you'd like**
a macro @query (I prefer on singular, same to @param)

[2020-11-22 19:49] cindRoberta commented on #262
I suggest nested routes

[code]

[2020-11-23 02:12] Cyvadra commented on #300
try neo4j http api

[2020-11-23 17:36] cindRoberta commented on #262
my suggestion:

[code]

[2020-11-23 17:43] mirkobunse commented on #281
Hi,

I urgently needed some unit tests. Fixing your issue along the way immediately led to some other issues, which can, fortunately, be solved as well.

## Solution (partial)

you can solve the `trying to test unnamed project` error by adding a name and a uuid to your `Project.toml`:

[code]

The uuid can simply be generated from the Julia REPL:

[code]

Next, you can create a file `test/runtests

[2020-11-23 18:27] essenciary commented on #281
Thanks - yes, this needs a bit of thinking. I would start by distinguishing _packages_ from _applications_. A Genie _app_ is an application, not a package. Distinction here: https://discourse.julialang.org/t/distinguishing-projects-from-packages/153/41?u=essenciary

As such:
a) we can have additional data added to the `Project.toml` file. However, what we get now it's what `Pkg` generates. The `Pr

[2020-11-23 20:00] mirkobunse commented on #281
I totally agree to a) and d). Thanks for pointing out the difference between packages and applications.

I guess b) is mostly a matter of personal preferences - a custom file structure that discerns MVC could just as well be defined in `src/`, say `src/model`, `src/view` etc. My personal preference would be to have all code there, to follow the Julia package convention. However, I see that changin

[2020-11-23 21:48] essenciary commented on #281
@mirkobunse Moving the whole structure into the `src/` folder might actually be a good compromise to be both compatible with the Julia best practices while still having a neat MVC file structure. I'll run some tests and we could roll it in v2.0.

Thanks for the nice words, I'm glad you enjoy building with it. If you can contribute the test generator based on the approach you described above would

[2020-11-23 21:53] essenciary commented on #308
Let me see if I understand this.

Would @query return the query part? Eg the GET params? So say some.url.com/foo/bar?x=1&y=abc

@query would return Dict(:x => "1", :y => "abc") ?

[2020-11-23 21:55] essenciary commented on #307
That's a pretty complicated change as we need to modify quite a few methods to accept `Dict` arguments. Also `:fontFamily` would need to be parsed and converted to `font-family`? What is the benefit of this? What is a good use case for it?

[2020-11-23 21:57] essenciary commented on #299
@mkschulze We need to check. For example in PHP these would be sent as `...?foo[]=1&foo[]=2&foo[]=3`. I wonder how these come up in the payload - and we can process them so that in @params we have `:foo => ["1", "2", "3"]`.

[2020-11-24 12:51] essenciary commented on #308
Added a `@query` macro similar to `@params`. And also `@post` and `@headers`.

[2020-11-24 12:51] #308 closed

[2020-11-24 12:55] essenciary commented on #299
I went a different route and:
1. passing `?x=1&x=10` will return 10 so it keeps working like it currently does (non breaking)
2. passing `?x[]=1&x[]=10` will set up `@params(Symbol("x[]"))` as `["1", "10"]` (an actual array of String).
3. we can also combine `?x=1&x[]=1&x[]=10` and both vars will be correctly set.

[2020-11-24 12:55] #299 closed

[2020-11-24 12:55] essenciary commented on #296
Added support for HEAD requests

[2020-11-24 12:56] essenciary commented on #279
In my tests it was actually using it but it was reporting the incorrect port and host (not the ones from the passed server). I've made some updates and it should be working now.

[2020-11-24 12:56] #279 closed

[2020-11-24 12:57] essenciary commented on #272
Do you still get this? I can't reproduce and nobody reported it.

[2020-11-24 13:09] essenciary commented on #266
Closing this as it seems to be a user issue with loading/bootstrapping Genie apps. Please feel free to reopen if you have more info.

[2020-11-24 13:09] #266 closed

[2020-11-24 13:12] essenciary commented on #283
I think we can address this with a guide.

[2020-11-24 13:15] essenciary commented on #261
I remember solving this somehow but I can't remember how 🤷‍♂️

[2020-11-24 13:15] #261 closed

[2020-11-24 19:39] cindRoberta commented on #307
Also `:fontFamily` would need to be parsed and converted to `font-family`?
yes

What is the benefit of this? What is a good use case for it?
in practice, none. My motivation is the same as in React and Flutter. React use objects, but could use string interpolation for CSS and sub-properties, Flutter uses object instances

so I would say: elegancy, practicality

this issue is not crucial, but pleas

[2020-11-24 19:58] cindRoberta commented on #308
https://github.com/GenieFramework/Genie.jl/blob/master/src/Router.jl line 17, thanks

[2020-11-24 20:30] mkschulze commented on #299
ok, will see if I can get that working. Thx for looking into!

[2020-11-24 21:43] derikk commented on #296
Unfortunately, I don't think this was fixed in v1.9. The example still gives a 404 when I make a HEAD request.
I can get it to work by adding these lines from the test case:
https://github.com/GenieFramework/Genie.jl/blob/16349a22b26e2590906700f3891e813473aba938/test/tests_HEAD_requests.jl#L10-L12
However, the server should handle this by default like most servers do to comply with the spec and us

[2020-11-25 14:41] essenciary commented on #296
@derikk OK, I see what you mean. I'm not sure how that aligns with Genie's approach where GET is the default routing request method and all the other methods need to be explicitly defined. I will research to see how other frameworks (not servers) handle this (eg Django, Rails, etc).

[2020-11-25 16:27] derikk commented on #296
In Rails, [a number of helper functions are defined](https://edgeapi.rubyonrails.org/classes/ActionDispatch/Routing/Mapper/HttpHelpers.html) for handling methods like GET, DELETE, PUT, and OPTIONS, but HEAD is not among these. When I made a HEAD request to a new app, it matched the line `get '/', to: 'users#get'` in my routes.rb. I believe it gets rewritten into a GET request by the Rack middlewar

[2020-11-25 16:44] essenciary commented on #296
Thanks yes, I did some research into Rails just after my previous reply. Indeed, HEAD requests are handled by GET routes. However, i found quite a few issues with this (reported by users). But overall yes, it makes sense to ensure that the same logic is used for HEAD and GET by default. I'm tempted to extend the logic to automatically handle HEAD requests with GET routes, while also allowing to op

[2020-11-25 17:06] derikk commented on #296
That sounds like the best approach.

[2020-11-26 13:04] essenciary commented on #299
You're welcome, thanks for bringing this up. Let me know how it works when you have a chance, not a big fan of the `Symbol("x[]")` approach... Maybe we can come up with something nicer/shorter.

[2020-11-30 09:50] shashankp commented on #272
Didn't face this again; worked fine in a newly activated env.

[2020-11-30 09:50] #272 closed

[2020-12-01 05:57] mkschulze commented on #299
Btw, using a symbol would mean to use meta-programming to generate a variable that stores multiple values, instead of using collections right?
I didn't find yet, but maybe the [datastructures.jl](https://github.com/JuliaCollections/DataStructures.jl) provides a good way already?

How about the collection approach mentioned above?
`get!(dict, key, empty_collection)`

Wouldn't that be cleaner compar

[2020-12-02 13:08] essenciary commented on #299
I'm not sure what you have in mind. `Router.@params` is a collection (it's a `Dict{Symbol,Any}`). So the keys are symbols and we can do `@params(:foo)` to access a query value like `someurl?foo=2&bar=3`. When you have a query variable like `foo[]`, you need to look it up as `@params(:foo[])`, but that is invalid Julia syntax (can't use that for a Symbol literal). So instead of the Symbol literal w

[2020-12-02 13:10] essenciary commented on #299
You can use `get!(@params, Symbol("foo[]"), some_value)` but the `Genie.Requests` module has friendlier methods for accessing request payloads over GET, POST, etc.

[2020-12-05 18:51] DhruvaSambrani opened #313 "Rewrite the repl.bat script to be run from anywhere"
**Is your feature request related to a problem? Please describe.**
The repl.bat script can only be run from the bin folder as the cwd. This makes it weird to use in other scripts and such

**Describe the solution you'd like**
By using %1-9 variables in batch scripting, the bat script should get the relative files.

**Describe alternatives you've considered**
Atleast make it similar to the linux ve

[2020-12-05 19:47] essenciary commented on #313
@DhruvaSambrani Thanks.
* can you please detail how that "makes it weird to use in other scripts and such"?
* "By using %1-9 variables in batch scripting, the bat script should get the relative files" I'm not much of a windows script expert so please make a PR.
* "Atleast make it similar to the linux version" - that was actually recently introduced (I think for apps generated starting with Genie 1

[2020-12-05 19:54] DhruvaSambrani commented on #313
Basically if I need to start the server from another script/exec/whatever, then I need to first cd into bin and then run the bat file, then cd back, OR i need to pass a working directory argument. But the repl.bat should JustWork(TM) from any cwd

My bad, its %0 and some extensions. What files do I need to change?

[2020-12-05 19:57] DhruvaSambrani commented on #313
See https://ss64.com/nt/syntax-args.html for info on args and extensions

[2020-12-05 20:01] DhruvaSambrani commented on #313
I think I need to change all the `write` functions in  https://github.com/GenieFramework/Genie.jl/blob/52c796cd66282db762fb425f7709929a2d17cf79/src/Generator.jl#L127
from `... -- ../$(Genie.BOOTSTRAP_FILE_NAME) ...` to `... -- %~dp0/../$(Genie.BOOTSTRAP_FILE_NAME) ...`

The `~dp` will expand the drive and parent directory as mentioned in the link in the previous message

[2020-12-05 20:07] DhruvaSambrani commented on #313
If I call the repl.bat file as `programming\Julia\MyGenieApp\bin\repl.bat` from **anywhere**, even another drive, it will expand to `C:\Users\user\programming\Julia\MyGenieApp\bin\..\bootstrap.jl`

[2020-12-07 08:44] essenciary commented on #313
@DhruvaSambrani Thank you!

[2020-12-08 08:51] #313 closed

[2020-12-10 08:13] poldavezac opened #316 "HTML renderer removes script nodes"
**Describe the bug**

Script nodes are removed from the html output. This is evident in the temporary module files created by Genie.

**To reproduce**
Steps to reproduce the behavior and/or Julia code executed.
1. create a view with an html template containing a script node
2. call the page: no script node

**Expected behavior**
One would expect the script node to be there.

**Additional context**

[2020-12-11 07:47] poldavezac commented on #316
I think I found the bug:
[code]

[2020-12-14 07:24] essenciary commented on #316
@poldavezac Thanks for reporting this - sorry I didn't have the chance to reply sooner. I'll run some tests, I'm not sure why it breaks, even in the above snippet :-/

[2020-12-14 20:17] kdheepak opened #317 "Documentation for using PackageCompiler with Genie"
I'm experimenting with using Genie for a hobby project and I wanted to use [PackageCompiler.jl](https://github.com/JuliaLang/PackageCompiler.jl) to precompile the app. I'm deploying the app on heroku, and it is set up as part of a build image. Thanks to @Optomatica and @mbauman for the first version of the buildpack and the buildpack using PackageCompiler respectively.

These are the lines of code

[2020-12-14 21:19] essenciary commented on #317
@kdheepak Thanks

In the latest version this should just work: Genie apps now have a `uuid`. Try creating a new app in `.julia/dev` and then `pkg> dev` it.

[2020-12-15 07:37] poldavezac commented on #316
@essenciary  The patch works on my machine.  I don't think it's a bug per say, meaning no traceback expected. Its just that the `if` conditions are too wide and discard my specific use case: a js script node which should be treated not a julia one but as a generic html one.

[2020-12-15 09:40] DhruvaSambrani opened #318 "2 issues in unix startup scripts"
**Is your feature request related to a problem? Please describe.**
1. Unix scripts should be independent of `cwd`
2. If unix scripts are deleted, https://github.com/GenieFramework/Genie.jl/blob/5a1fe65758dda8b7464548536971e2b9719bfc46/src/Generator.jl#L153
should write new files, like `setup_windows_bin_files`

**Describe the solution you'd like**
Follow #313 and fix 1
Copy `setup_windows_bin_file

[2020-12-15 09:43] DhruvaSambrani commented on #318
Use ```(dirname "$0")/../bootstrap.jl``` to make it cwd agnostic

[2020-12-15 15:22] BenediktAllendorf opened #320 "Make Windows executables more robust"
**Is your feature request related to a problem? Please describe.**
After updating Julia on Windows, the bin/bat-files might not work anymore.

**Describe the solution you'd like**
I'd suggest to not use the (generated) full path to Julia but just "julia" as the command. I think it's reasonable to expect users to handle this. Maybe add an additional message like:

[code]

**Additional context**
As

[2020-12-16 07:18] DhruvaSambrani commented on #320
- I concur on not using the exact path, as if I share with others for dev, then julia may not be installed to the same place
- For windows, as of #314, the scripts can be run from anywhere. Not sure if the feature has been released though. #318 was to do the same for *nix
- Generation is still necessary if, like me, you delete the scripts thinking they were unnecessary :joy:

[2020-12-16 15:25] BenediktAllendorf commented on #320
Oh, I missed #313. But, I thought about it again and it should be `"%~dp0../$(Genie.BOOTSTRAP_FILE_NAME)"` (with quotes). 😁

And about the generation, there is nothing to generate anymore, is it? So the scripts are static and if you delete them, you can just restore them by copying them. So I'd argue to include the *.bat files in here https://github.com/GenieFramework/Genie.jl/tree/master/files/ne

[2020-12-17 10:08] DhruvaSambrani commented on #320
Yup, it should be quoted because of spaces in the text.

But the generators can now be rewritten to simply copy the files. There should still be the generators I feel, but there's nothing lost if we remove it either

[2020-12-18 12:48] essenciary opened #321 "Use macros for @html @json etc to pass context automatically"
In renderer

[2020-12-23 08:19] #318 closed

[2020-12-23 08:33] essenciary commented on #320
@BenediktAllendorf @DhruvaSambrani Thanks for the input! Let's see if we can come up with a strategy for these.

1. In my opinion, it's better if upon creating a new app, the scripts just work. That implies using the exact path to Julia. Adding Julia to PATH on Windows is not that straightforward and it's not done automatically by the Julia installer, so we should not make any assumptions that Jul

[2020-12-23 08:38] essenciary commented on #316
@poldavezac Thanks for the details! Can you please pass the actual HTML code? Is it because you have the `script` tag with a `type` attribute?

[2020-12-23 08:43] DhruvaSambrani commented on #320
Hi @essenciary,

1. Cool.

2. @BenediktAllendorf just preferred not having the functions and just use default files, as

3. I don't remember clearly what I did to the chmod thing in my PR, but I think I left it as is. Please do check if it's ok once more

4. Please note that the paths need to be escaped and then you can test. I'll send in a PR in about an hour or 2, unless someone else does it fir

[2020-12-24 13:07] poldavezac commented on #316
sure: the following `<script>` node will not appear in the browser unless the patch is applied.

[code]

used with

[code]

[2020-12-25 20:48] essenciary commented on #296
New tests passing per the above, closing. Please reopen if anything is still off.

[2020-12-28 15:30] BenediktAllendorf commented on #320
1) I can see why having the scripts just work is nice in the beginning. But as soon as you update your Julia version or share it with other developers, it breaks. So it's working nicely for some time, and then suddenly it does not anymore.
And I'd argue that if you are using Julia, you are dev enough to fix your PATH (which is quite easy nowadays). Also, I would say you are not supposed to change

[2020-12-28 19:23] essenciary commented on #320
1. > And I'd argue that if you are using Julia, you are dev enough to fix your PATH
That has not been my experience with many Julia and Genie users. The usability and support cost of having a new app breaking upon creation is much higher. I'm open to making the logic more robust though, eg trying to see if Julia is in path and using it if it is, or using the full path if it's not.
2. I don't think

[2020-12-28 21:31] DhruvaSambrani commented on #320
The bin files are extremely development environment specific. Why not gitignore bin, and create the bin folder on first run?

[2020-12-29 14:35] BenediktAllendorf commented on #320
Yeah, maybe I'm biased regarding the PATH, you know the user base better than I.

So when keeping it, I'm in favor of @DhruvaSambrani's suggestion to make sure the bin-files are not "part of the app" but "part of your local setup".

And I see that you have removed the `new_app/bin`-directory. But I guess now you have to update the `microstack_app`-function because generating a new app fails in htt

[2020-12-29 16:51] essenciary commented on #320
@DhruvaSambrani What do you have in mind with "first run"? How would that work without the `bin`?
@BenediktAllendorf Debugging that, not sure why it successfully creates apps for me on Windows but fails on Linux :-/

[2020-12-29 16:54] essenciary commented on #320
Oh yes, because locally on win I still have the `bin/` folder.

[2020-12-29 17:18] DhruvaSambrani commented on #320
Also, when a dev wants to develop, they need to run some setup commands anyway, like adding the secrets file, among others.

I ended up writing a script called setup.jl or some equivalent. This could be formalized, and the setup file be generated instead of the bin. The setup.jl can call the bin creation, according to the OS and other stuff.

[2020-12-29 17:21] DhruvaSambrani commented on #320
I assume because for Linux it tries to copy the bin folder, and in windows it generates the files from the functions?

[2020-12-29 18:13] essenciary commented on #320
@DhruvaSambrani You mean copying the secrets file upon deployment? Yes, that makes sense: generating the secrets file plus the bins. All of these have generators so we could just bundle them into a `Generator.appsetup` method?

Both *nix and win generate the bin files now. It was because the `bin/` file was removed by git being empty. I have addressed this and everything seems to work perfectly!

[2020-12-29 18:24] DhruvaSambrani commented on #320
I'd prefer having a file instead of a generator here, because any non Trivial app will have other setup steps. If a file was made, then I can add these steps. If a generator is to be used, then I again need to make the file and call the generator.

[2020-12-29 19:09] #320 closed

[2020-12-29 21:36] p-gw opened #325 "CORS error when making DELETE and PUT requests from browser"
**Description**
As described on [Gitter](https://gitter.im/essenciary/Genie.jl?at=5fd8d4a9c614d23c2e0d68f2) I am getting CORS errors when making `DELETE` and `PUT` requests from my javascript frontend to my Genie.jl API. @essenciary suggested this might be a bug so I am making a bug report here.

**To reproduce**
This issue can be reproduced by first creating a minimal API,

[code]

Then, the beha

[2020-12-30 20:46] essenciary commented on #316
@poldavezac I am not able to reproduce the issue in my tests. Would it be possible to share a minimum functioning example app that I can run in order to reproduce the problem? Thank you.

[2020-12-30 20:55] essenciary commented on #325
@p-gw Thank you for reporting this. I think you're right, CORS seems to be explicitly limited to OPTIONS, GET and POST methods. I'm not sure why, reading on it now my understanding is that it should be available for DELETE as well. Maybe we should just remove the the `if` and check CORS for every request?

[2020-12-30 22:15] essenciary commented on #281
The unit testable app features have now been merged into master and are about to be tagged. Thank you for the contribution! Closing this.

[2020-12-30 22:15] #281 closed

[2020-12-30 22:16] #307 closed

[2020-12-31 09:46] p-gw commented on #325
I just tried it and getting rid of the `if` clause in `set_headers!` results in the correct behaviour:

[code]

[2020-12-31 10:47] essenciary commented on #325
Thanks @p-gw I pushed an update to master. If all good, I'll tag a new release. Thanks!

[2020-12-31 11:29] essenciary commented on #203
This should be addressed in the next release.

[2020-12-31 11:29] #203 closed

[2020-12-31 11:30] #325 closed

[2021-01-03 17:54] crstnbr commented on #151
Note that there seems to be a confusion here. The command `julia - p4` doesn't start Julia with 4 **threads** but with 4 worker **processes**. That you need to load code with `@everywhere` is because the workers are different **processes**. For multi-threading (`julia -t4`) `@everywhere` is completely unnecessary. Also, note that `nworkers()` gives you the number of worker processes whereas it is

[2021-01-04 10:54] poldavezac commented on #316
Note that I could not reproduce the bug either unless the I was using a separate  view/xxx.jl.html file instead. Directly using a string in the routes.jl file works like a charm.

The minimal example app is:

1. in  `routes.jl`:
[code]
2. in `app/resources/xxx/views/xxx.jl.html`:
[code]

tested on *Genie v1.1*, the `alert` message will not appear.

[2021-01-07 11:35] hhaensel opened #329 "Allow for non-string attributes"
Currently, `Genie.Renderer.Html.attributes()` always prints all attribute values with double quotes.

In some situations, however, vue components require numbers or boolean values or objects to be supplied. Hence I propose to modify the routine to something like:
[code]
which only surrounds string types with double quotes. Furthermore, it accepts JSONText to suppress the quotes.
Alternatively, we

[2021-01-07 11:47] hhaensel commented on #329
BTW, concerning [StippleUI PR5](https://github.com/GenieFramework/StippleUI.jl/pull/5):
I just realised, that here we have `parseattr` which does a "__"=>"-" replacement...

Maybe, we then don't need any addtional replacement rule in order not to confuse people?

[2021-01-07 13:32] hhaensel commented on #329
Examples:
[code]

[2021-01-10 20:50] derikk commented on #296
Hmm, this still doesn't work for me, as of Genie 1.10. I ran `Pkg.test()`, which passed. But when I tried running the "HEAD requests should be by default handled by GET" test manually, it failed like before. It appears that it only succeeds in [tests_HEAD_requests.jl](https://github.com/GenieFramework/Genie.jl/blob/4dec16ed7d/test/tests_HEAD_requests.jl) because the previous test case defines a HE

[2021-01-11 00:25] MrBlenny opened #330 "Issues with "Using Genie With Docker""
I've followed the ["Using Genie with Docker"](https://genieframework.github.io/Genie.jl/dev/tutorials/16--Using_Genie_With_Docker.html) guide and ran into a couple of issues.

## Issue 1 - Dockerfile
The generated dockerfile containts `RUN chmod +x bin/serverinteractive` but the generated `bin` folder does not. This causes the following error when building the docker container: `cannot access 'bin

[2021-01-11 08:55] essenciary commented on #296
Oops sorry about that - I couldn't remember if it was fixed but as the test passed, I assumed it was. I guess it wasn't. Thanks for the update!

[2021-01-11 08:59] essenciary opened #331 "App can not be accessed in docker container"
Per feedback in Gitter

[2021-01-11 09:01] essenciary commented on #330
@MrBlenny Thanks I fixed Issue 1 and merged a PR which addressed Issue 2
On #master now, will tag a patch release (1.11.1)

[2021-01-11 10:30] MrBlenny commented on #330
Fantastic, thanks!

[2021-01-11 10:30] #330 closed

[2021-01-12 19:47] WileyRoemer opened #332 "Support Julia docstrings with Genie.route()"
Julia docstrings don't work properly when applied to the `Genie.route()` function.

To reproduce:
[code]

Stacktrace:
[code]

Julia version 1.3.1

[2021-01-12 19:53] essenciary commented on #332
Not sure it's supposed to work. Do you have an example where Julia code like that works?

A route is a function invocation (eg `route(...)`) with a lambda as an argument, not a function definition.

In order to doc comment the route handler, you can abstract it into a separate function and pass the reference in the route, eg `route("/*", thefunction)`.

[2021-01-19 20:43] tuxiqae commented on #153
Any news regarding the benchmarks?
v1.0 was released quite a while ago, I'd love to see how it compares to other web frameworks.

[2021-01-21 09:54] Cyvadra opened #333 "QPS difference with HTTP.jl"
[code]

[code]

it seems we have more memory allocations than golang and thus slower

then how to maximize the advantage of WebChannels……

[2021-01-21 10:16] Cyvadra commented on #333
benchmarking tool: [wrk](https://github.com/wg/wrk)

[2021-01-22 16:41] heliosdrm opened #335 "Fail to precompile Stipple if Genie is not precompiled before"
In a new clear environment (Julia v1.5, Windows 10):

[code]
The precompilation of Stipple fails, seemingly because there is a problem in precompiling Genie as well. However, the problem vanishes if Genie is also added and precompiled before, independently of Stipple.

This is the full output:

<details>
<summary>Installation in clean environment:</summary>

[code]
</details>

<details>
<summary>F

[2021-01-22 18:05] essenciary commented on #333
1. There is room for performance optimizations in both Genie and HTTP.
2. What does "some_404" do/output?
3. For Genie it's expected as it does a lot more work compared to HTTP to server a request (Genie runs off HTTP and adds features/computations) - though like I said, I'm sure more performance can be squeezed out.
4. How can Genie transfer 2x more than HTTP while handling1/3 req/s? That looks w

[2021-01-22 18:06] essenciary commented on #335
Super weird, don't know what to say, I'll run some tests... Thanks for reporting this.

[2021-01-22 18:10] essenciary commented on #329
@hhaensel Thank you - makes sense! Is it breaking (seems not to be)?
Re "__"=>"-" agreed, to avoid duplication.

[2021-01-22 23:54] galexbh opened #336 "Error when running using Genie"
**Describe the bug**

Error when running using Genie, I did the installation as it appears in the documentation and then it appears with error when precompiling.

**Error stacktrace**

[code]

**To reproduce**

This error is replicated on two different computers, the first screenshot is from a colleague and the second one is mine.

![image](https://user-images.githubusercontent.com/37647434/105560

[2021-01-27 13:48] Cyvadra commented on #333
Maybe.. I've been trying these days to figure out
Then I established an http server directly on Sockets.jl:
[code]
[code]

It seems Sockets.jl itself is not optimized for http use..
Other frameworks might have some tricks to improve performance, which I'm not quite familiar with.

[2021-01-27 13:54] Cyvadra commented on #333
2. "some_404" output like usual. I later tried normal requests to gin and got roughly same results.
3. 3k has been enough for common use I think... I'm just confused about the difference
4. Genie transfer more than HTTP.jl when using headers, which doesn't affect the performance much.

[2021-01-28 13:15] hhaensel commented on #329
I don't think, it's breaking. If it is, in most cases JS will do the necessary conversion in the backend ...
So, I think you can merge 😉

[2021-01-29 07:01] Cyvadra commented on #336
reproduced in 1.3.0, upgrade to 1.5 may help

[2021-01-29 13:28] Cyvadra commented on #333
15000 qps is the maximum of libuv, which Sockets.jl used for handling requests. Well enough.

[2021-01-29 13:28] #333 closed

[2021-01-30 11:51] galexbh commented on #336
Yes, in 1.5 everything seems to be fine, all correct.

[2021-01-30 12:07] essenciary commented on #336
Thanks for the updates, I'll run some tests on 1.3!

[2021-02-01 12:43] SvenDuve opened #338 "Genie WebApp welcome.html not loading static files when deployed on google cloud service with nginx"
**Describe the bug**
I followed the description in the [docs](https://genieframework.github.io/Genie.jl/dev/tutorials/92--Deploying_Genie_Server_Apps_with_Nginx.html#Deploying-Genie-apps-with-Heroku-Buildpacks) to deploy a simple Genie app with an nginx server. I set up an ubuntu 20.04 LTS vm on the google cloud service. Installed Julia, the Genie Package. I cloned the small app from github, had i

[2021-02-02 10:41] #336 closed

[2021-02-02 14:48] essenciary commented on #338
@SvenDuve Thanks for the details.
For start I would look into the permission error:
[code]

[2021-02-02 14:49] essenciary commented on #332
Closing for lack of feedback - please feel free to reopen if you can provide more info.

[2021-02-02 14:49] #332 closed

[2021-02-02 15:55] SvenDuve commented on #338
I actually gave the user the necessary permissions but will check once more.

Outlook<https://aka.ms/qtex0l> für iOS herunterladen
________________________________
Von: Adrian Salceanu <notifications@github.com>
Gesendet: Tuesday, February 2, 2021 3:48:48 PM
An: GenieFramework/Genie.jl <Genie.jl@noreply.github.com>
Cc: Sven Duve <svenduve@gmail.com>; Mention <mention@noreply.github.com>
Betreff: R

[2021-02-02 22:56] #329 closed

[2021-02-04 17:15] SvenDuve commented on #338
@essenciary no luck so far, I have set permissions for the appfolder ( I mean many folders ) to

```drwxrwxrwx 6 svenduve svenduve  4096 Feb  4 16:17 public```

The following error does **NOT** come up anymore, but has nothing to do with the changes above in my opinion...:

```ERROR: IOError: mkdir: permission denied (EACCES)```

and I have started and stopped the app several time, as well as re-i

[2021-02-04 19:56] essenciary commented on #338
@SvenDuve Re Ctrl+C that's normal upon killing the task.
Re the 404, it's weird that the request has to slashes, eg `//bootstrap.min.css` - that's not OK.

[2021-02-09 01:20] schnetzlerjoe opened #339 "Genie on Repl.it"
I am trying to run Genie on repl.it (found here https://repl.it/@JoeSchnetzler/Genie#main.jl) and I can not get it to work for the death of me. I can get it to download but it refuses to compile. Any help? Truly appreciate it!

Best,
Joe

[2021-02-09 08:42] essenciary commented on #339
I tried it too a while ago - I think a REPL.it VM/container is just too tiny and precompilation times out. I've also been running some tests on the free Heroku instances and at 512MB RAM and tiny CPU resurces, precompilation was a nightmare. I had to do some precompilation tricks as part of the image setup (on Heroku) but I don't think this is an option on REPL. Maybe with Julia 1.6 things will im

[2021-02-09 08:46] SvenDuve commented on #338
So the issue was with the ```proxy_path``` changing the file in the ```/sites-available``` for ```my-genie-app``` solve the issue, I changed it to:

[code]

[2021-02-09 15:17] agatheLG123 opened #340 "Hot reload of genie as back server on docker"
Hi,
I have been starting to use genie as an app back end server (my front is in react) and I installed Genie in a docker container and same for react front et database. However I'm still in development phase and it is taking a huge amount of time to rebuild everything (docker-compose up --build) everytime I make a change to the app. By searching in the website I saw that there was a solution `Depl

[2021-02-09 16:45] #338 closed

[2021-02-09 18:35] essenciary commented on #340
Hey @agatheLG123 - you should not need to rebuild everything every time you change the app. The app should simply pick up the changes because it's using Revise.jl

[2021-02-09 18:41] essenciary commented on #338
This is great, thanks for the update @SvenDuve

[2021-02-10 08:53] agatheLG123 commented on #340
Right now it doesn't... Maybe that's because I'm modifying my local code on the computer not the code directly in the container...

[2021-02-10 12:53] essenciary commented on #340
Are you mounting your local folder into the container? Are the actual changes in the julia files visible in the container?

[2021-02-10 16:54] agatheLG123 commented on #340
To be honest I'm not sure what you mean by mounting.... I used COPY . . in my dockerfile to be able to access my files inside my container and then with CMD I launched a scrypt (that was copied via COPY) that started the App. The thing is, I only wanted to use the strict minimum of the Genie framework, so I did not use the command `Genie.newapp("MyGenieApp")` . Instead, I added bit by bit what I n

[2021-02-10 17:06] essenciary commented on #340
Mount: https://docs.docker.com/engine/reference/run/#volume-shared-filesystems

[2021-02-12 15:01] wadehenning commented on #253
@essenciary I had to put this project on the backburner last year and have not had a chance to test your fix until now.  My  React<=>Julia development stack template above works perfectly.    I can't believe I can call my local Julia server so easily from my create-react-app local development environment.  Thank you very much!  This is a really nice.

[2021-02-12 23:48] wadehenning opened #341 "POST params not found"
**Describe the bug**
I am calling a POST route from JavaScript but my Genie server does not see the parameters I am sending.

**Error stacktrace**
For  parameter named `dim`:, the JavaScript console returns:
`error: "500 Internal Error - KeyError: key :dim not found↵getindex at`

**To reproduce**
***Relevant JavaScript***
[code]
***Relevant Julia***
[code]

**Expected behavior**
Expect a JSON obje

[2021-02-15 09:12] vijilpatel opened #342 "How can i get User Requested IP Address from api Request?"

[2021-02-15 11:20] essenciary commented on #342
I also tried to figure it out a while ago, it stopped working in HTTP.jl (which is the server used by Genie). It looks like there were some commits around this feature, we should take a look: https://github.com/JuliaWeb/HTTP.jl/issues/254

[2021-02-15 11:21] essenciary commented on #341
@wadehenning Strange, I'll take a look, thanks for reporting this.

[2021-02-15 13:16] schneiderfelipe opened #343 "Genie v1.15.0 fails to precompile ("invalid keyword argument syntax 'options'")"
I just installed Genie.jl and got the following error when `using` it:

[code]

That's the first time I installed Genie.jl. Maybe #335 is related?

[code]

[2021-02-15 15:27] sdobber opened #344 "Weird interaction with VS Code"
**Describe the bug**
Since the update to the VSCode Julia extension v1.1.17, interaction of Genie with the VSCode REPL is buggy. Using `Genie.loadapp()` with Genie v1.15.0 immediately starts the Genie server, but without any interactivity. On an older Genie version 1.10.0, VSCode gets stuck when loading the initialization code. The “Julia: Evaluating…” wheel is spinning forever, and upon `Ctrl+C`

[2021-02-15 19:45] dms449 commented on #343
I saw the same issue when attempting to get someone else setup to work on my genie project,with fresh install of Julia and Genie. They, reinstalled on a different machine in a Linux VM and it worked. I can't remember if they were also using an older version of the package when they got it to work though.

[2021-02-15 21:27] essenciary commented on #343
I think I know what the problem was. I used the new keywords syntax which if I remember correctly was introduced in Julia 1.5 (where one can pas `f(args; options)` to stand for `f(args; options = options)`. Seeing as @schneiderfelipe is running Julia 1.4 that would explain it. Also why it works on other machines (because they are running Julia 1.5).

I tagged a patch version 1.15.1 - please try it

[2021-02-15 21:31] essenciary commented on #335
@heliosdrm Can you please try the latest v1.15.1 and Stipple v0.9? Please beware that StippleUI and StippleCharts still need to be upgraded to be compatible with latest Genie and Stipple, atm they will most likely downgrade Stipple (and Genie). I'll tag new releases for them too.

[2021-02-15 22:02] dms449 commented on #343
Ahh yes. So the latest version of Genie uses the new syntax ?

[2021-02-15 22:03] schneiderfelipe commented on #343
@essenciary It works perfectly! I think I can close this issue now, thanks!

[2021-02-15 22:03] #343 closed

[2021-02-16 08:33] heliosdrm commented on #335
This time it did not fail, but still got the warning about the unknown Genie version:

[code]

[2021-02-17 07:25] essenciary commented on #335
@heliosdrm Great, it seems to have fixed it then. The warning is fine, it's from Genie, I'll probably remove it.

[2021-02-17 20:24] #335 closed

[2021-02-18 13:43] yakir12 commented on #285
This is still an issue, as in, there is no content in that link, so remove it or add said content.

[2021-02-19 15:21] wadehenning commented on #255
@3210jr  Would you be willing to share how you set up your `route` and how you are calling it?  I am having trouble reading my params.  #341

[2021-02-21 10:21] essenciary commented on #344
@sdobber Thanks for reporting this - I tried to have a look but I switched to Julia 1.6 and had some problems building some packages. Overall I had no issues with VSCode but I'll run some tests.

[2021-02-22 08:30] Cyvadra commented on #341
try jsonpayload() with post method

[2021-02-22 13:58] wadehenning commented on #341
@Cyvadra  I am using `jsonpayload`.  Am I misusing it?

[2021-02-22 15:20] essenciary commented on #341
@wadehenning What @Cyvadra means is the `jsonpayload()` method in `Genie.Requests`.

![image](https://user-images.githubusercontent.com/11292378/108728268-b4a8c380-7529-11eb-8823-3765534a4f8c.png)

That seems to work ok although I see your point, potentially `postpayload()` should also return the raw string value or something like that, as now it seems like there is no POST payload at all...

[2021-02-22 15:22] essenciary opened #346 "jsonpayload() should also populate postpayload()"
Now postpayload() does not return anything for json payloads which is misleading (it is, after all, a POST request)

[2021-02-22 15:22] agatheLG123 opened #347 "Confusion in Genie architecture : How should I integrate Searchlight in Genie files ?"
Hi,
I want to work with SearchLight in my Genie app, howevere I'm not sure how to integrate it as all the examples shown in https://juliahub.com/docs/Genie/8eazC/0.31.5/guides/Working_With_Genie_Apps.html are only code executed from the command line and not directly written in files...
In my Genie App, I added a file searchlight.jl in my initializers with the code as shown in the doc.
[code]
And t

[2021-02-22 16:15] #341 closed

[2021-02-22 16:31] essenciary commented on #341
@wadehenning Ah sorry, I missed your comment - yes, that looks good.

[2021-02-24 03:01] NLaws commented on #331
is this fixable by adding an ingress layer (such as Nginx)? I have been trying to use the [basic json example](https://genieframework.github.io/Genie.jl/dev/tutorials/7--Using_JSON_Payloads.html#Example) in a container but have not been able to access the Genie port from the host.

From the `docker-compose.yml`:
[code]
and `api.jl`:
[code]

[2021-02-24 11:57] fvh-P opened #349 "How to specify "unix_socket" in connection.yml when connecting to MySQL"
I'm using SearchLight with Genie.
In Genie, the database connection settings are written in the connection.yml file, but is there any way to explicitly specify unix_socket when connecting to MySQL?

First, I tried to run my Genie app with the following setting (partial and masked for security).
[code]

Then, I got this error.
[code]

Next, I specified unix_socket like following.
[code]

However, I

[2021-02-24 12:56] essenciary commented on #349
@fvh-P Try passing `unix_socket` under `config`:

[code]

[2021-02-24 15:32] fvh-P commented on #349
@essenciary

Thank you for quick reply!
I tried passing the setting you mentioned, I got this error.

[code]

[2021-02-25 19:55] ndgnuh commented on #331
I'm having the same problem. I don't know why but it will works when your host is `0.0.0.0`, but not `127.0.0.1`. Try
[code]

[2021-02-25 23:20] NLaws commented on #331
@ndgnuh I think that is the correct solution and it has to do with Docker networks (though it didn't work for me so I went with HTTP.jl instead - but it might not have worked for me because of unrelated problems).

[2021-02-26 04:05] ndgnuh commented on #331
Ah, I didn't read the docs thoroughly. You can change the environment using the `GENIE_ENV` variable, the host and port will be configured by the `config/env/$GENIE_ENV.jl` file. Change the host to `0.0.0.0` in the `dev` environment (default) or use the `prod` environment and everything will work.

[2021-02-28 19:58] essenciary commented on #349
@fvh-P I'm sorry, it's not `config` it's `options`.

[2021-03-01 04:19] fvh-P commented on #349
@essenciary

okay. I passed the setting,

[code]

then I got this error.

[code]

[2021-03-01 11:18] essenciary commented on #349
Can you try updating to latest SearchLight & plugins (eg current version is 0.22 you're at 0.19)

[2021-03-01 11:37] fvh-P commented on #349
@essenciary

I updated SearchLight and SearchLightMySQL, but I still get the same error.

[code]

[2021-03-01 12:13] fvh-P commented on #349
@essenciary

I tried to find out the cause of the error.
Is here the cause of the error?

https://github.com/GenieFramework/SearchLightMySQL.jl/blob/3d5a7011cefa748b0f8109314ecd6f7ac27ca909/src/SearchLightMySQL.jl#L63

The settings under `options:` are used here. `Dict(getfield(MySQL.API, Symbol(k))=>v for (k,v) in conn_data["options"]))`
But, `MySQL.API` seems not to have a field named `unix_sock

[2021-03-01 12:19] essenciary commented on #349
Should be there:
https://juliadatabases.org/MySQL.jl/stable/#DBInterface.connect

[2021-03-01 12:21] essenciary commented on #349
Ah yes, I think you're right, it's not part of `opts`, it's a keyword argument outside opts.

[2021-03-02 10:05] essenciary commented on #347
I've added a new tutorial on building MVC apps with Genie: https://genieframework.github.io/Genie.jl/dev/tutorials/4-1--Developing_MVC_Web_Apps.html
Hopefully this will clarify the workflow.

Some parts are just meant to be executed at the REPL. Of course, it's not a bad idea to put them in a script so you can rerun that code when for example deploying on the server (like for example the seeding s

[2021-03-02 10:05] #347 closed

[2021-03-03 10:47] agatheLG123 commented on #347
Hi, I'm really sorry to insist I have rade this new tutorial, but I still have an error, so I'm going to try to be more precise. I was already using a script and I have tried directly from the REPL but the same error pops up as before. There is 2 things I am doing differently ( so the errors might come from there but I don't understand why). First I do not use `Genie.newresource(" ") ` to create a

[2021-03-03 12:45] essenciary commented on #347
Sorry, there's just too much going on and it's impossible to debug based on this description. If you can provide a minimum working example which isolates the problem and that I can reproduce, then I could help debugging (so really, we're talking about 4-5 one-liner steps that I can run to reproduce the issue).

[2021-03-03 13:41] agatheLG123 commented on #347
All right thank you for your response I will try and do that

[2021-03-04 10:25] agatheLG123 commented on #347
Hi, I am working on the minimum working example, however I went throught your code locally (I was looking at it on github until now) and realise that the code isn't exactly the same... My error seems to come from from the _query()_ function, line 162 of the file _SearchLightMySQL_ because insertid is not defined when executing the code `MySQL.insertid(conn)`. I went and check in the MYSQL package

[2021-03-04 10:39] essenciary commented on #347
@agatheLG123 You're probably running an older version of the package(s). What's the output of `pkg> st`?

[2021-03-04 10:48] agatheLG123 commented on #347
[137488db] Bcrypt v0.1.0
  [a93c6f00] DataFrames v0.20.2
  [c43c736e] Genie v1.1.0
  [d850fbd6] JWTs v0.1.2
  [e6f89c97] LoggingExtras v0.4.2
  [739be429] MbedTLS v1.0.2
  [295af30f] Revise v2.7.6
  [340e8cb6] SearchLight v0.19.1
  [1297d576] SearchLightMySQL v0.3.2

[2021-03-04 10:49] agatheLG123 commented on #347
which is weird is that I have just done` pkg> update Genie ` and same for SearchLight and SearchLightMySQL

[2021-03-04 11:00] essenciary commented on #347
These are older versions of Genie (now at 1.16) and SearchLight (now at 0.22). Something's holding back the packages, potentially your version of DataFrames.

[2021-03-04 11:37] agatheLG123 commented on #347
Oh my god I have been blocked on this for weeks but it finally works ! Can't believe it was just a version issue ... And just for information I have a warning _config/secrets.jl is using a deprecated syntax to set the secret token Call Genie.Generator.migrate_secrets_files() to resolve this warning_. However when I do I get an error _UndefVarError : migrate_secrets_file not defined_ . I don't if y

[2021-03-04 12:14] essenciary commented on #347
@agatheLG123 That's the reason why upon opening a new issue on Genie a few things are required, including the output of `pkg> st`. If I took the time to set that that up, it's generally the case case it's worth taking the time to provide the info.

Re issue on `migrate_secrets_files`, please only open if you can provide a minimum working example using the latest versions of the packages.

[2021-03-23 14:13] sdobber opened #352 "Warning "App does not have Controller in its dependencies" when loading app"
**Describe the bug**
When using `Genie.loadapp()`, loading the `routes.jl` file triggers a warning that the Genie app is missing the controller modules from it's dependencies.

**Error stacktrace**
The example below produces the following output:
[code]

**To reproduce**
Start the Julia REPL and make sure to have `Genie` in the current environment. Type the following
[code]

Edit the `TestControll

[2021-03-25 14:26] essenciary commented on #352
@sdobber Thanks for opening this. Should not cause any problems but it's worth having it here so we don't forget to look into it.

[2021-03-25 18:19] essenciary opened #353 "HTMX / _hyperscript support/plugin"
https://hyperscript.org/

[2021-03-25 18:21] essenciary opened #354 "Plugin for embedding editor (VSCode) in admin route behind login"
Make available a plugin which exposes a VSCode route that allows one to edit the app (behind authentication)

[2021-03-27 18:23] essenciary commented on #352
I've asked around on discord, I'm not really sure why Julia complains about it, given that obviously it finds and uses the file... Maybe something changed in how modules are loaded in Julia...

[2021-04-07 05:37] essenciary opened #355 "Recepies for common tasks / Genie UI"
1. Integration with Plots.jl

[code]

2. Integration with DataFrames

[2021-04-09 12:55] diegozea commented on #301
Hello @essenciary ! Can the error message point to `Html.register_svg_slements()` when an `svg` tag is found instead of returning the `UndefVarError: svg not defined`? Best,

[2021-04-09 13:02] diegozea commented on #301
Also, where should it be placed? I added it to the controller, and I get the following error message breaking the app:

[code]

[2021-04-09 13:46] essenciary commented on #301
@diegozea how do you get the precompilation error, it works for me.

Also, there are passing tests:
https://github.com/GenieFramework/Genie.jl/blob/master/test/tests_SVG_API.jl

[2021-04-09 14:42] diegozea commented on #301
Is it a version problem? I am on Julia 1.6.0 with Genie 1.17.1:

[code]

[2021-04-09 14:56] diegozea commented on #301
The problem only happens when I include the line in the [controller](https://github.com/PhyloSofS-Team/ThorAxeSupplementaryWebsite/blob/38f1edd512a435257b9a874fe83d5060f0a872e8/app/resources/thoraxeresults/ThorAxeResultsController.jl#L9), but it works fine in the REPL:

![image](https://user-images.githubusercontent.com/2822757/114199272-6e31eb80-9954-11eb-82a3-fe0c0a69b2a8.png)

[2021-04-09 14:57] essenciary commented on #301
What's in ThorAxeResultsController.jl?

[2021-04-09 16:17] diegozea commented on #301
You can find the code here: https://github.com/PhyloSofS-Team/ThorAxeSupplementaryWebsite/blob/38f1edd512a435257b9a874fe83d5060f0a872e8/app/resources/thoraxeresults/ThorAxeResultsController.jl

[2021-04-09 18:56] essenciary commented on #301
Thanks... no clue... where do you call `Html.register_svg_slements()`?

[2021-04-09 19:29] diegozea commented on #301
I added it on line 9, just after `using Glob`.

[2021-04-09 19:31] essenciary commented on #301
Ah ok but it's not here. Did you delete it?
![image](https://user-images.githubusercontent.com/11292378/114231643-fb883680-997a-11eb-82af-52e51089a219.png)

[2021-04-09 19:50] diegozea commented on #301
I haven't committed that; I have only tested that locally.  For the moment, I am adding the `svg` tag using jQuery.

[2021-04-12 01:55] Krastanov opened #357 "`get` parameters that have spaces encoded as `+` do not seem to be parsed correctly."
For `localhost:8000?c=a+b` I am expecting to get `@params(:c) == "a b"`, but I am getting "a+b".

As an example where this happens: the form parameter encodes whitespaces as "+" in some `textarea` tags in forms with `method=get`. I can not simply use `replace(..., "+"=>" ")` manually to fix that, because `@params` does not give you the raw `get` parameters.

Python seems to solve that by having bo

[2021-04-12 09:47] essenciary commented on #357
Thanks. How do you get/generate the `localhost:8000?c=a+b` link? Is it the value of an input field "a b" submitted through a form? How is the form encoded?

[2021-04-12 10:04] essenciary commented on #301
@diegozea Interesting - we need a simple working example to see how it fails in a script. Not sure about the working in REPL part since the test passes.

Can you try calling 'Genie.Renderer.Html.register_svg_slements()` before `using Genie.Renderer.Html`? Curious what happens...

[2021-04-12 15:36] Krastanov commented on #357
Here is a code example
[code]

And here is what it does (I do not think the pluses should be there):

![image](https://user-images.githubusercontent.com/705248/114421370-3c529c00-9b83-11eb-9f9f-da429ef41812.png)

[2021-04-12 15:38] Krastanov commented on #357
To answer the questions: the default encoding for the form (my understanding is that I do not need to explicitly specify an encoding, but I am not very knowledgeable on this topic and might be wrong), a `get` method, and submission through the form by clicking the submit button (i.e., not some programmatic submission done from CLI or JS).

[2021-04-13 09:02] diegozea commented on #301
It looks to me that the problem only appears when this is used inside the code of a package, breaking precompilation: ```ERROR: LoadError: Evaluation into the closed module `Html` breaks incremental compilation because the side effects will not be permanent. This is likely due to some other module mutating `Html` with `eval` during precompilation - don't do this.```

[2021-04-14 22:34] ProvocaTeach commented on #357
Hi, I am new to Genie, but I am also having this problem while just going through the tutorial:
![image](https://user-images.githubusercontent.com/68936059/114788652-b8411580-9d36-11eb-9b85-57475b325ca8.png)

[2021-04-15 05:43] essenciary commented on #357
Thanks @Krastanov @ProvocaTeach - I did some research into form encoding, it's pretty messy. I'll look into a fix today.

[2021-04-15 05:46] Krastanov commented on #357
This is only partially related, but I was wondering whether there is a way to get the parameters as raw byte arrays? I am used to that from some other frameworks, and it has been helpful when dealing with forms containing weird unicode.

[2021-04-15 05:59] essenciary commented on #357
Take a look at the Input module - maybe there is anything useful there or we can extend the API.

[2021-04-18 10:47] Kalokola commented on #56
if you are using vscode enter into the app's main directory type bin/server.bat press enter this will run your server. Then press the add icon to add a new terminal and type bin/repl.bat press enter and a julia  command line  specific to your project  will open. Go your favorite browser and see through your urls.

[2021-04-20 13:07] tcarion opened #358 "Sibling elements not rendered inside @foreach in HTML templates"
**Describe the bug**
When several sibling elements are to be rendered inside a `@foreach` loop, only the last sibling is actually rendered.

*Example :*
[code]
Here only the second `div` will be rendered.

**Expected behavior**
All the sibling elements should be rendered.

**Additional context**
Julia version:
[code]

Packages:
[code]

[2021-04-21 08:23] yakir12 opened #359 "Avoid code repetition across tiers in full-stack app"
When building a full-stack app, I find it frustrating to define basically 3 nearly identical types:
1. What I consider the main struct: defining the logic of the type disregarding any GUI/DB needs. This is the struct you'd define normally. This struct would contain only the most basic fields needed to define it "in real life" (e.g. a `User` will have `name`, `email`, and `password`). Methods assoc

[2021-04-21 08:29] essenciary commented on #359
@yakir12 Maybe you need to explain your use case I can't understand the pain point. Basically you want to invent a whole new architecture because you don't want to put one `id` field into your business model?

[2021-04-21 08:39] yakir12 commented on #359
That is more or less correct correct :laughing:

I'm trying to build a fairly complicated app, thankfully with someone much smarter and more experienced than me (a webdev that is new to Julia). Instead of building the front-end and have it directly affect the back-end, we're trying to build a middle tier that is free of the constraints and needs of the back- and front-ends.

I must have misunderst

[2021-04-21 09:13] yakir12 commented on #359
Here is an example of what I mean.

Business side of things:
[code]
back-end:
[code]
front-end:
[code]

It is true that I could solve most of the back-end duplication by just adding a `id` field to the business type and removing `UserDB`, but how would I avoid the duplication in the front-end?

[2021-04-21 09:23] yakir12 commented on #359
My much wiser friend has explained to me that the `UserUI` *looks* a lot like the `User` struct -- a duplication of code -- but that that is just a coincidence: we could have a had a form that allowed for changing the password, or updating the email, and that the form built by `UserUI` just happens to include all of the fields in `User`. `User` could have a ton of other fields that wouldn't be nee

[2021-04-21 09:35] yakir12 commented on #359
Also, to avoid adding the `id` field to the business struct, we can do this:
[code]
and then this works:
[code]

[2021-04-21 10:14] essenciary commented on #359
OK, I understand now: you want to use Genie with Stipple combined with SearchLight.

There are lots of things and it's hard to comment as I don't know the details of what you're building. But here are some things.

1. There are various architectures: Genie are SearchLight are designed for MVC (multi page, server rendered web pages) while Stipple is MVVM (single page applications with data exchange

[2021-04-21 10:21] yakir12 commented on #359
No, this is gold, thank you so much!!!

[2021-04-21 10:27] essenciary commented on #359
Awesome, you're welcome!

Basically an API like:

`abstract type PureModel`
`mutable struct User <: PureModel`
`convert(::PureModel, ::AbstractModel)`
`convert(::AbstractModel, ::PureModel)`
`convert(::PureModel, ::ReactiveModel)`
`convert(::ReactiveModel, ::PureModel)`

I think that's the core. Let me know how it works if you try it 😁

[2021-04-26 19:23] jtrakk opened #360 "Template quote escaping"
[code]
generates

[code]
I guess there's an escaping issue?

[2021-04-26 19:28] jtrakk opened #361 "Lower response latency"
I'm trying to evaluate some options where response latency is relevant. In a "hello world" example, I'm getting about 16ms from Genie server on localhost. A [hello world example with Python's Werkzeug](https://www.palletsprojects.com/p/werkzeug/) takes ~5ms on my machine and others are faster in [TechEmpower latency benchmarks](https://www.techempower.com/benchmarks/#section=data-r20&hw=ph&test=pl

[2021-04-26 19:35] essenciary commented on #361
Thanks - how did you run the benchmarks and what is the Genie bench-marked code?

[2021-04-26 22:19] jtrakk commented on #361
Code is

[code]

Benchmarked with [hyperfine](https://github.com/sharkdp/hyperfine).

[code]

[2021-04-27 07:51] essenciary commented on #361
@jtrakk Thanks for the details, I'll run some tests myself and do some profiling.

What I can say for sure is that unlike say HTTP.jl (which is the app server that Genie is also using internally) Genie runs in 2 modes: dev (which is the default) and is optimized for developer productivity (eg hot code reload, automatic Revise of files, logging etc) and prod, which is streamlined to run in producti

[2021-04-27 07:56] essenciary commented on #361
Also, can you please share the output of `julia> versioninfo()`

[2021-04-27 07:59] essenciary commented on #360
Thank you for reporting this!

[2021-04-27 08:25] jtrakk commented on #361
[code]

[2021-04-27 08:29] jtrakk commented on #361
I got similar result with `GENIE_ENV=prod`.

[2021-04-27 08:53] jtrakk commented on #355
Maybe [WGLMakie](http://juliaplots.org/WGLMakie.jl/stable/)

[2021-04-27 09:34] foldfelis commented on #355
This might work.

[2021-05-02 10:44] MLackner opened #362 "`count(MyModel)` errors with PostgreSQL"
**Describe the bug**
Following the tutorial "Developing MVC Web Apps" the command `count(MyModel)` returns an error. Instead of SQLite in the tutorial, I am connected to a PostgreSQL database.

**Error stacktrace**
[code]

**To reproduce**
Follow the tutorial but use PostgreSQL adapter instead of SQLite.

**Additional context**
[code]
[code]

[2021-05-03 03:56] jtrakk opened #363 "Document security considerations"
Django has a nice list of [security considerations](https://docs.djangoproject.com/en/3.2/topics/security/). It would be helpful to know how Genie handles each of these issues and what I need to know as a user.

[2021-05-03 05:22] jtrakk opened #364 "Don't notify me about github actions for issues"
Whenever I open an issue on this repo, it triggers a workflow in GitHub Actions and I get an email about it.

For example https://github.com/GenieFramework/Genie.jl/actions/runs/805679770

[2021-05-03 19:10] gkappler opened #365 "Franklin markdown sites"
very cool and promising.
thanks for your great work!

would it be possible to deliver dynamic [Franklin](https://github.com/tlienart/Franklin.jl) projects?

[2021-05-03 21:31] markopetrovic-neurotech opened #366 "Examples for web-socket architecture in Genie"
Hello all,

So I have started a project in which I would like to process data from hardware devices in Julia, and then stream this data over web-socket to a React JS webpage. I am fairly new to web-sockets in general so I may be heading down the wrong path here, but is Genie capable of setting up channels for this? Or would I need my web app to be running the Genie framework as well?

Any assistan

[2021-05-04 07:25] essenciary commented on #366
Genie's webchannels set up web sockets communication between server and client. On the server you can define channels (routes for websockets traffic) and handle the requests and the WebChannels module provides the API to register clients and push data. On the client you can manage the server pushed data and the data pushes yourself - but if you include Genie's client JS files it will be easier to

[2021-05-04 07:28] essenciary commented on #364
No idea why that is - please feel free to review the setup and send a PR for the actions on Genie's repo.

[2021-05-04 13:04] essenciary commented on #361
Bummer - I'll run some tests but it would be awesome is somebody passionate about performance tweaking would take this, not my strength.

[2021-05-04 19:23] jtrakk commented on #361
I'm not that familiar with the profiling tools but I gave it a shot. I edited `setup_http_handler` to use `@profile handle_request(req, res)` instead of `handle_request(req, res)` and made a flamegraph that showed a lot of time being spent in `route_request` and especially in the line

[code]
which it said used "runtime dispatch". But honestly I may be reading it completely wrong, especially with

[2021-05-05 07:44] essenciary commented on #364
Merged, thanks for the PR!

[2021-05-05 07:45] essenciary commented on #363
@jtrakk Thanks for surfacing these, I'll take a look. Worth adding a section in the docs about these.

[2021-05-06 08:32] SimonCoste opened #368 "`KeyError: key :__vars not found' when using `@vars'"
Hi, in the Genie doc there's a little example on how to use the [Genie.Renderer.Html.html](https://genieframework.github.io/Genie.jl/dev/API/renderer_html.html#Genie.Renderer.Html.html) function :

[code]

However from this command I get back a

[code]
I guess this has to be a problem with the `@vars` macro ?

https://github.com/GenieFramework/Genie.jl/blob/28506eed85aca99521ff1943ebd1dd67ece36cc0

[2021-05-10 19:37] jtrakk opened #370 "Better error than 404 for routes.jl"
When there is an error at the top level of routes.jl, for example referring to a variable that isn't defined, going to a page gives 404. I would like a better error message.

[2021-05-10 20:07] #364 closed

[2021-05-10 20:11] jtrakk opened #371 "Bouncing icon is distracting"
I find the animated bouncing to be distracting. Is it ok to remove?

[2021-05-10 21:19] essenciary commented on #370
OK, I see it. Yes, good point. Because the routes file is loaded async and this throws an error, it doesn't get to the point of loading the actual routes definitions so it's 404. We should throw some exception into the main thread.

[2021-05-10 21:29] essenciary commented on #368
Thanks for reporting this - yes, something is off.

You can call `Genie.Renderer.init_task_local_storage()` manually to initialize it until I release a fix.

[2021-05-10 21:55] jtrakk commented on #361
How can I manually call the function that Genie calls when a request is received?

[2021-05-12 13:53] jiachengzhang1 commented on #135
I was looking for Swagger documentation page as well but no luck, so I created [SwaggerUI](https://github.com/jiachengzhang1/SwaggerUI) and [SwaggerMarkdown](https://github.com/jiachengzhang1/SwaggerMarkdown) which are similar to [swagger-ui-express](https://github.com/scottie1984/swagger-ui-express) and [swagger-jsdoc](https://github.com/Surnet/swagger-jsdoc).

The idea is that SwaggerMarkdown bu

[2021-05-12 14:13] essenciary commented on #135
Wow, this looks amazing, thanks for the update! 🚀 I'll give it a try!

[2021-05-23 12:25] Pipsy100 opened #372 "running Genie on Ubuntu with Apache2"
I want to run Genie on Apache2 as a webservice and I am looking for documentation to create the .conf file in sites-available. Is there documentation about this implementation

[2021-05-23 12:49] essenciary commented on #372
@Pipsy100 given that Apache does not work with Julia in the same way it does with say PHP or Ruby, the only approach is to run Apache as a web proxy for Genie apps. That is, set up your Apache host as you'd normally do and proxy all the traffic for the host to the Genie app (usually running on port 0.0.0.0:8000). The Genie app itself should be demonized so that it's automatically restarted in case

[2021-05-23 20:00] Pipsy100 commented on #372
Adrian,

I am trying to  get in running on Nginx in 《domainname》/genie.

I cannot get it working with the instructions from the website. Maybe you can help me out.

Thx a lot.

23 May 2021 14:49:38 Adrian Salceanu ***@***.***>:

[2021-05-24 06:13] essenciary commented on #372
@Pipsy100 Yes, the default setup expects for the app to run as `genie.domainname/`. But there is support to run it in a folder as well, though it's not documented yet (I used it to run Genie apps on JuliaHub). For far did you get with the setup? What is the current situation (what works and what not)?

[2021-05-24 09:59] Pipsy100 commented on #372
Hello Adrian, thx for helping me out in the first place. I am new to Nginx and Genie.

I have a Nginx server running on an Ubuntu VPS with https://kentekenkaartuitlezen.nl/

See here below my default configuration in sites-enabled.

I am able to start Genie locally:  Web Server starting at http://0.0.0.0:8000 -

the application directory on the VPS is /var/www/kentekenkaartuitlezen/genie

Now I wo

[2021-05-25 10:05] victorgarcia98 opened #373 "Genie app not working in docker"
Hello!!

I'm going through the genie [tutorial](https://genieframework.github.io/Genie.jl/dev/tutorials/16--Using_Genie_With_Docker.html) to set up a web api inside docker but it's not starting. In my local computer it worked just fined but when I launched it with docker it didn't seem to work. I attach you the error stackstrace below:

---

ERROR: LoadError: ArgumentError: invalid base 10 digit '

[2021-05-25 13:47] essenciary commented on #373
@victorgarcia98 Looks like a boolean ("true") is passed instead of the port number. What's in the Dockerfile ?

[2021-05-25 16:27] victorgarcia98 commented on #373
FROM julia:latest

# user
RUN useradd --create-home --shell /bin/bash genie

# app
RUN mkdir /home/genie/app
COPY . /home/genie/app
WORKDIR /home/genie/app

RUN chown genie:genie -R *

RUN chmod +x bin/repl
RUN chmod +x bin/server
RUN chmod +x bin/runtask

USER genie

RUN julia -e "using Pkg; Pkg.activate(\".\"); Pkg.instantiate(); Pkg.precompile(); "

# ports
EXPOSE 8000
EXPOSE 80

# websockets p

[2021-05-25 18:14] essenciary commented on #373
The ENV PORT "true" part should not be there - how was this generated?

[2021-05-25 19:16] victorgarcia98 commented on #373
I checked the [docker file generation](https://github.com/GenieFramework/Genie.jl/blob/master/src/FileTemplates.jl) and it does not seem right (bold):
---
function dockerfile(; user::String = "genie", supervisor::Bool = false, nginx::Bool = false, env::String = "dev",
                      filename::String = "Dockerfile", port::Int = 8000, dockerport::Int = 80, host::String = "0.0.0.0",

[2021-05-26 06:40] essenciary commented on #373
Thank you - now I need to fix the generator :) Please don't close the issue until I fix that, I'll close it myself.

[2021-05-31 11:36] essenciary opened #374 "Retrieve remote IP"
Available in latest HTTP.jl

[2021-06-12 08:21] essenciary opened #377 "Move Inflector.jl into a distinct package"
So it can be reused across various packages

[2021-06-15 19:05] essenciary commented on #362
Closing as should be fix - please reopen if that's no the case.

[2021-06-15 19:05] #362 closed

[2021-06-15 22:48] essenciary commented on #349
This is now available on #master and will soon be released as v1

[2021-06-15 22:48] #349 closed

[2021-06-15 22:48] #377 closed

[2021-06-17 14:48] essenciary opened #379 "Remove before and after hooks"
As we can not guarantee that they will be called.

[2021-06-18 08:43] essenciary opened #380 "View vars are leaky"
Define a const in routes
Pass a named keyword to html() in a route with the same name.
const will be overwritten

[2021-06-18 13:22] yakir12 opened #381 "Errors with JS files in Router when using Quasar form"
I tried to include the Quasar form @hhaensel built in my Genie app. I got a myriad errors, all relating to JS files and all within the Router sub-module in Genie. Any idea what's about?

This happens when I navigate to the route pointing at the form's UI function...

[code]

[code]

[2021-06-18 13:34] hhaensel commented on #381
Do you have different models for the form and for the standard page? Well, you should, and you need ti assign a different channel to each page.

[2021-06-18 13:38] yakir12 commented on #381
Yes.

I do.

I also tried to add
[code]
in the main (top, app) module. Didn't help. Hmmm..

[2021-06-18 13:40] essenciary commented on #381
What is the output of
[code]

[2021-06-18 13:41] yakir12 commented on #381
[code]

[2021-06-18 13:46] essenciary commented on #381
OK - so it looks like the routes that return 404 are not registered.

[2021-06-18 13:47] essenciary commented on #381
What is the UI/julia code of the page that throws the errors?

[2021-06-18 13:49] yakir12 commented on #381
[code]

[2021-06-18 13:51] essenciary commented on #381
OK, I'll run it on my side, thanks.

[2021-06-18 14:19] essenciary commented on #381
@yakir12 this works fine for me (notice I stripped the wrapping module and the Users/SearchLight lines). Does it work for you?

[code]

[2021-06-18 14:20] essenciary commented on #381
With the above code I get the routes and the page:

![image](https://user-images.githubusercontent.com/11292378/122575408-03d2b100-d051-11eb-8058-6d984ac871aa.png)
![image](https://user-images.githubusercontent.com/11292378/122575443-0df4af80-d051-11eb-956b-64cf345457aa.png)

It looks beautiful! ❤

[2021-06-18 14:28] yakir12 commented on #381
I agree, it looks amazing. And yes it works for me as well, but only outside the Genie app. So as a standalone thing it works, but as the endpoint of one of the routes in the app it does not...

[2021-06-18 14:29] essenciary commented on #381
This also works (within a module):

[code]

[2021-06-18 14:30] essenciary commented on #381
OK, let me put it in an app

[2021-06-18 14:31] essenciary commented on #381
What is the structure of the app? Where is this module placed? How do you load it from `routes.jl`?

[2021-06-18 16:15] yakir12 commented on #381
Apologizes, had to go do some things. I'll try to prepare a MWE tonight.

[2021-06-18 16:46] essenciary commented on #381
No problem, I managed to reproduce it locally

![image](https://user-images.githubusercontent.com/11292378/122593091-73eb3200-d065-11eb-8860-bee8e4d0b464.png)

[2021-06-18 16:56] yakir12 commented on #381
"Great"!

[2021-06-18 16:56] essenciary commented on #381
Yeeee

![image](https://user-images.githubusercontent.com/11292378/122594150-ed375480-d066-11eb-819c-ba5ef8d41202.png)

[2021-06-18 17:02] essenciary commented on #381
It's a scoping issue that might need more digging to understand better. Basically when you run it in a Genie app the code (in the routes) is executed in the context of the Genie app (which is a module). While the Stipple app is a different module. Somehow this trips Stipple and sees the `ReactiveModel` as not initialized (because initialization is done in a module but is then executed in a differe

[2021-06-18 17:03] essenciary commented on #381
I commented the `on` part to see how we do it next. In general it's a bad idea to have this global `module` var floating around.

[2021-06-18 17:11] essenciary commented on #381
Does this work as expected?

[code]

[code]

[2021-06-18 17:20] essenciary commented on #381
This version seems to work great:

[code]

[code]

[2021-06-19 21:49] #380 closed

[2021-06-19 21:49] #379 closed

[2021-06-19 21:52] essenciary commented on #374
https://stackoverflow.com/questions/67029388/how-to-get-the-client-ip-adress-using-http-jl

[2021-06-19 22:05] #373 closed

[2021-06-19 22:19] essenciary commented on #370
I can't reproduce this - please provide a MWP that I can run.

[2021-06-19 22:19] #371 closed

[2021-06-19 22:24] essenciary commented on #368
Actually I got it wrong. `@vars` (or just `vars` in v2) is meant to be used inside the view files (in the view templates). If you pass it like this, as a string, it gets evaluated eagerly by Julia - while the code is meant to be evaluated at runtime (when a request is made and the HTML is returned).

To make that work you need:
1 - to add `using Renderer`
2 - to convert the view to a raw string: `

[2021-06-19 22:24] #368 closed

[2021-06-19 22:46] essenciary commented on #360
Fixed on #master

[2021-06-19 22:46] #360 closed

[2021-06-19 23:00] essenciary commented on #358
Thanks for raising this issue. Unfortunately this is a complex issue which I haven't been able to solve in a long time. The solution atm is to use a view partial for anything more complex.

Ex:
[code]

The _list_item view partial has:
[code]

And the output:
![image](https://user-images.githubusercontent.com/11292378/122657331-eee64280-d162-11eb-806c-380d3e2a81b9.png)

[2021-06-19 23:14] essenciary commented on #316
@poldavezac Thank you, I was able to reproduce it and fix it (on #master)

[2021-06-19 23:14] #316 closed

[2021-06-19 23:17] essenciary commented on #301
On the latest master SVG support is enabled by default - seems to work great now.

[2021-06-19 23:17] #301 closed

[2021-06-21 08:02] yakir12 commented on #381
Sorry for the lag -- weekend came crashing in -- but I really appreciate the speed and incredible responsiveness! And it all works!!!

This is really great because it allows us to have snappy and cheap JS validations on the client-side, all within the pretty Quasar framework, as well as robust backend Julia validations, all within the Genie framework. Huge win. I'm closing this now.

Thanks again!

[2021-06-21 08:02] #381 closed

[2021-06-22 08:09] mdsa3d opened #383 "Export HTTP status code"
I would like to know, is there any way to export the `HTTP` status code (i.e 200, 404 etc)?

[2021-06-22 08:35] essenciary commented on #383
@mdsa3d Can you please be more specific? Export it where / use it how?

[2021-06-22 08:45] mdsa3d commented on #383
@essenciary  thanks for the response! I want to collect the response status as a variable.

For example:
[code]
For the above response, I could collect `resp_status=500` for analyzing the response data later.

[2021-06-22 19:31] essenciary commented on #383
@mdsa3d Sorry, I'm afraid I still don't understand. Collect it from where? Aren't you constructing and sending the response?

[2021-06-24 08:54] essenciary opened #384 "Moar pretty printing!!!1!"
* pretty printing of routes (upon loading)
* pretty printing of response status

[2021-06-25 07:18] mdsa3d commented on #383
@essenciary sorry for late response! The user cannot see the response from the call, hence i would like to export the response to the user as a string variable, to inform the user about the status. For example, if the response is successful then I want to push a string saying `200` and likewise for different status different variable. And this `200` or `500` is the HTTP response status. I would li

[2021-06-25 07:25] essenciary commented on #383
Something like this?

[code]

[2021-06-25 08:05] mdsa3d commented on #383
@essenciary Thanks, this works perfectly. Highly, appreciate your patience and help on this matter!

[2021-06-25 08:39] essenciary commented on #383
@mdsa3d Great! No problem! Did you mean to reopen it?

[2021-06-25 09:26] #383 closed

[2021-06-25 09:54] essenciary commented on #374
`Router.peer()` now returns the client's IP if available.

[2021-06-25 09:54] #374 closed

[2021-06-25 10:00] essenciary commented on #370
I will close due to being unable to reproduce - please reopen if you can provide a MWE.

[2021-06-25 10:00] #370 closed

[2021-06-25 11:43] essenciary commented on #357
Should be fixed on the latest master (Genie v2)

[2021-06-25 11:43] #357 closed

[2021-06-25 12:20] essenciary commented on #344
@sdobber I haven't encountered these issues. Are you still having these problems?

[2021-06-25 12:38] #331 closed

[2021-06-25 12:40] #354 closed

[2021-06-25 16:01] sdobber commented on #344
I tried again on Julia 1.6.1 and Genie 1.18.1, and it seems to be fixed there. Thank you for the awesome Genie framework! 👍

[2021-06-25 16:01] #344 closed

[2021-06-25 16:06] sdobber commented on #344
I tried with my old setup, and even this works now with a newer VS Code Extension. So the issue seems to have been there after all :-)

[2021-06-26 03:24] schnetzlerjoe commented on #339
I got it compiled finally with the new version! Great work. Excited to start using this with repl.it. it's my go to ide with my team!

[2021-06-26 09:50] essenciary commented on #296
Looking good on upcoming v2:

![image](https://user-images.githubusercontent.com/11292378/123509256-a0f6a080-d674-11eb-9e29-f6029209aaf8.png)

[2021-06-26 09:50] #296 closed

[2021-06-26 20:31] #384 closed

[2021-06-26 20:33] essenciary commented on #304
Done in v2

[2021-06-26 20:33] #304 closed

[2021-06-26 20:35] #43 closed

[2021-06-26 20:36] #254 closed

[2021-06-26 20:37] essenciary commented on #339
@schnetzlerjoe Yeee, thanks for letting me know!

[2021-06-26 22:02] derikk commented on #296
Thank you, and congratulations on the upcoming release!

[2021-06-27 07:51] essenciary commented on #296
Thank you! ❤

[2021-06-27 21:28] #346 closed

[2021-07-01 05:36] mach512 opened #385 "Unable to use @foreach inside dynamic html tag"
Hi,

I have been trying to learn Genie and with dynamic HTML tags I ran into an error.

<h1>Bill Gates' top $(length(books)) recommended books</h1>
<ul>
  <% @foreach(books) do book %>
    <li>$(book.title) by $(book.author)</li>
  <% end %>
</ul>

I have used the above code but it doesn't display the items inside foreach loop. It returns like this "Welcome to top books
Bill Gates' top 5 recommend

[2021-07-01 07:22] essenciary commented on #385
Can you please pass me the output of `pkg> status` and `julia> versioninfo()`?

[2021-07-02 17:38] mach512 commented on #385
I have tried installing Julia 1.6 but  still the same error. It says "500 Internal Server Error
LoadError: LoadError: UndefVarError: @foreach not defined"

[2021-07-02 19:36] essenciary commented on #385
@foreach has been removed in v2 (v2 is a new major version which is breaking and this is one of the changes). Please use `for_each` (function not macro). The docs have been updated but I'll add a v1 to v2 migration guide asap.

[2021-07-03 03:03] mach512 commented on #385
Hi, Thank you. It worked.

[2021-07-06 13:37] UniqueTokens opened #386 "Loading and starting via bin/server script fails"
**Describe the bug**
Loading and starting MyGenieApp fails via `> bin/server`. Start via `> bin/repl` and `julia> up()` works.

**Error stacktrace**
[code]

**To reproduce**
[code]

**Additional context**
[code]

[code]

**Full output**
[code]

[2021-07-10 15:22] UniqueTokens opened #387 "Add MIME subtype vnd.api+json"
First, thanks for the Genie Framework! It feels very familiar and comfortable, especially for a experienced Ruby on Rails developer like me.

I'm considering developing a [JSON:API](https://jsonapi.org/format/) compatible API using the Genie Framework. The endpoint should accept and send the [MIME subtype](https://www.iana.org/assignments/media-types/application/vnd.api+json) **application/vnd.api

[2021-07-12 08:36] #339 closed

[2021-07-12 10:11] essenciary commented on #387
@UniqueTokens Thanks for reporting this.

What would be the best way to handle this? Should we treat anything that has `+json` as a JSON request?

[2021-07-12 15:17] UniqueTokens commented on #387
First guess, add the subtype to `minetypes.jl`? Today `file_headers(f)` defaults to application/octet-stream:
https://github.com/GenieFramework/Genie.jl/blob/54e595767ca7bf6684dbc2d2ba7ca05ddc179ea7/src/Router.jl#L1151

But, in [MIME subtype](https://www.iana.org/assignments/media-types/application/vnd.api+json) the `File extension(s) : .json` is `json` too because is a registered subtype and ther

[2021-07-12 15:41] essenciary commented on #387
@UniqueTokens Thanks - can you please provide a MWE/failing test that I can work off?

[2021-07-12 15:58] essenciary commented on #387
A very simple test is to replace
[code]
and run the request through your app.

But I'm not convinced the issue is there so I'd need a failing test please, to make sure I'm looking at the right problem.

[2021-07-12 17:15] UniqueTokens commented on #387
My approach was to just go through the Genie Tutorial [Using JSON payloads](https://genieframework.github.io/Genie.jl/dev/tutorials/7--Using_JSON_Payloads.html) and replace `application/json` with `application/vnd.api+json` for the HTTP.request. jsonpayload() should get the same Dict in both cases.

The RoR way in https://github.com/GenieFramework/Genie.jl/issues/387#issuecomment-878366127 seems i

[2021-07-14 14:56] essenciary commented on #135
@jiachengzhang1 I want to allocate a bit of time to look into this issue. How can I help? What is missing to tag a v1?

[2021-07-15 05:30] jiachengzhang1 commented on #135
@essenciary Both UI and Markdown can be tagged as v1 at this point, I was distracted by other stuff, so I didn't have chance to release them. I will release a v1 hopefully this week.

One concern is that the way swagger ui's javascript code is handled is kinda ugly. They are copied from [swagger-ui](https://github.com/swagger-api/swagger-ui/tree/master/dist) manually, I'm trying to find a better a

[2021-07-15 18:58] jacobxk commented on #283
I am also expecting the guide. Is there anything I can help?

[2021-07-17 10:17] essenciary commented on #283
I'm not sure there is need or value for tighter Genie and Mongo integration. Any Mongo package should just work by simply adding it to any Genie app. Where do you see the value? What have you tried and what issues have you encountered?

[2021-07-17 15:57] JulioBarros opened #388 "newresource creates lowercase models file."
**Describe the bug**
When running `Genie.newresource("Movie")` on a Mac a models file is created with a lowercase name: `resources/movies/movies.jl`. I believe it should be uppercase `Movies.jl`. I'm not sure about moviesValidator.jl also.

**To reproduce**

Run through the MVC tutorial as written and observe the filenames created.

**Additional context**

Commit 1b93d53fc4 (2021-07-14 15:36 UTC)

[2021-07-17 16:13] essenciary commented on #388
Looks good for me (Windows):
![image](https://user-images.githubusercontent.com/11292378/126043125-eda82ae9-efed-41e3-9895-2407cb152796.png)

Is your file system case sensitive?

[2021-07-17 16:14] JulioBarros commented on #388
Yes. I believe Mac filesystems  are case sensitive (by default) or at least there are some issues around matching case.

[2021-07-17 16:16] JulioBarros opened #389 "Movie doesn't have a defined `StructTypes.StructType` error in building the REST API part of tutorial"
**Describe the bug**
While following the MVC tutorial, at the Building the REST API section https://genieframework.github.io/Genie.jl/dev/tutorials/4-1--Developing_MVC_Web_Apps.html#Building-the-REST-API the Movies model is not converted to Json.

**Error stacktrace**
######################### ERROR STACKTRACE #########################
ArgumentError: Movie doesn't have a defined `StructTypes.Struc

[2021-07-17 16:42] JulioBarros opened #391 "Admin section of tutorial does not work for me."
While attempting to finish the MVC tutorial I was not able to get the Auth section working for me.

The last bit of text is:
[code]

I was able to view the page without signing in.

Perhaps I did something wrong or left out a step or some code. Is there a completed version of the tutorial that is known to work that one could clone and check and use to compare ones own work?

[2021-07-17 17:01] JulioBarros opened #392 "Handling query params do not work for me: MethodError: no method matching haskey(::typeof(params), ::Symbol)"
I added the code from the documentation to get query parameters and got an exception when accessing the page.

MethodError: no method matching haskey(::typeof(params), ::Symbol)

Though the code from the 'The Requests module` does work:  "Hello $(getpayload(:name, "Anon"))"

I cut an pasted the code from the docs into my current project.  The routes table looks like:

using Genie, Genie.Router, Ge

[2021-07-17 20:44] essenciary commented on #392
Looks like the guide has some compatibility issues with Genie v2. In this case it should be `params()` not `params`.

[2021-07-17 20:48] essenciary commented on #392
The recommended approach in v2 for that code is:

[code]

I have updated the docs and will be live at the next release.

[2021-07-17 20:49] #392 closed

[2021-07-17 20:49] essenciary commented on #392
Closing - please reopen is the proposed code still does not work.

[2021-07-17 20:50] essenciary commented on #391
The Authentication plugin has also been updated to a breaking version so most likely the guide needs updating. Can you please pass me a link to the section of the guide?

[2021-07-17 20:51] essenciary commented on #389
Thanks for reporting this - looks like it's another breaking change in Genie v2. I'll look into it.

[2021-07-17 21:11] essenciary commented on #388
All good on linux as well - tomorrow I'll test on Mac.

![image](https://user-images.githubusercontent.com/11292378/126049468-761b68c9-7f28-4da7-bc53-df05b3752bc8.png)

[2021-07-17 21:16] essenciary commented on #386
@UniqueTokens Great catch, thanks for reporting this. Should be fixed now in v2.0.2

[2021-07-17 21:16] #386 closed

[2021-07-17 21:16] essenciary commented on #385
@mach512 Thank you. I have updated the docs.

[2021-07-17 21:16] #385 closed

[2021-07-17 22:28] JulioBarros commented on #391
Its at the bottom of Developing MVC web applications in a section called Bonus. https://genieframework.github.io/Genie.jl/dev/tutorials/4-1--Developing_MVC_Web_Apps.html

[2021-07-17 22:33] JulioBarros commented on #388
Sorry, just realized your response was about MoviesController.  My issue is with movies.jl

[ Info: 2021-07-17 15:32:45 New MoviesController.jl created at /Users/julio/projects/Julia/footest/app/resources/movies/MoviesController.jl
[ Info: 2021-07-17 15:32:45 New model created at /Users/julio/projects/Julia/footest/app/resources/movies/movies.jl
[ Info: 2021-07-17 15:32:46 New table migration crea

[2021-07-19 13:13] essenciary commented on #391
@JulioBarros I have updated that section of the guides to be compatible with the newest GenieAuthentication. Please check - also, you can take a look at the documentation for GenieAuthentication (https://github.com/GenieFramework/GenieAuthentication.jl). Feel free to suggest documentation edits / submit PRs if things need improving.

[2021-07-19 13:13] essenciary commented on #391
Closing the issue - please reopen if the documentation is still broken/incomplete.

[2021-07-19 13:58] essenciary commented on #389
I pushed a fix and new Genie apps will work correctly. For existing apps `config/initializers/searchlight.jl` needs to be updated with the following content:

[code]

Please try it and lmk if you still encounter any issues (after restarting the app).

[2021-07-19 13:58] #389 closed

[2021-07-19 14:09] essenciary commented on #389
Optionally you can delete `config/initializers/searchlight.jl` and then run

[code]

and the file will be recreated.

[2021-07-19 15:25] essenciary commented on #388
@JulioBarros Ah, great catch! I fixed it - please make sure you're on the latest SearchLight (1.0.2).

[2021-07-19 15:25] #388 closed

[2021-07-20 17:20] jeremiedb opened #393 "Usage of @invokelatest only compatible with Julia 1.6+"
Launching an app from Julia 1.5.3 results in an error, which can be sum up to the following example:

in Julia 1.5.3:
[code]

Macro `@invokelatest` seems to be introduced in Julia 1.6 AFAIK.
I think the issue only concerns two lines:
https://github.com/GenieFramework/Genie.jl/blob/0e210e3dc3c19d03b8a550a2a2df11efa1ea6625/src/Commands.jl#L26
https://github.com/GenieFramework/Genie.jl/blob/0e210e3dc

[2021-07-21 08:23] essenciary commented on #393
Great catch @jeremiedb, thanks! I didn't realize the macro is a new addition to the language.
I think it's more valuable to maintain lower compat for the Julia version - it's easy to convert the macro to the function.

[2021-07-24 06:15] UniqueTokens commented on #352
To suppress loading warnings for Testapp, add top of `routes.jl`:

`push!(Base.modules_warned_for, Base.PkgId(Testapp))`

Caveat: All future warnings for Testapp are suppressed! Use pop! to undo.

Related: [How to get the source of code loading warnings?](https://discourse.julialang.org/t/how-to-get-the-source-of-code-loading-warnings/23884)

[2021-07-24 16:49] JulioBarros commented on #391
Thanks for all the fixes! I'm getting a lot closer now.

I get further now but it still does not completely work. When trying to access /admin/movies I now see "Redirecting you to" ... I don't think it is calculating the new location (/login) correctly.  The route exists and I can go there manually but am not redirected.

julia> Genie.Router.named_routes()
OrderedCollections.OrderedDict{Symbol, Ge

[2021-07-29 17:07] essenciary commented on #391
No idea without seeing the actual code attempting to do the redirect

[2021-07-29 17:09] JulioBarros commented on #391
It is not code I wrote. It is code in the auth framework. When trying to access a secured page without being logged in I thought/expected the framework to redirect to /login. It did not for me.  Though I was able to go there by typing it in the address bar and then auth worked and I could access the page.

[2021-07-29 17:18] essenciary commented on #391
I see. What browser and what version of Genie and GenieAuthentication please? And how did you implement the authentication (please show me the code that implements the authentication part).

[2021-07-30 03:39] stonepreston opened #395 "Using module from /lib in initializer"
It looks like its not possible to use a module defined in /lib in an initializer. Does the LOAD_PATH get modifed after the intitializers are run? after the call to bin/repl finishes and before I run up() I can call using MyModule and it works fine, but the intializers get run before that.

Ive got some code I need to run once and only once on server startup, but its in a module defined in /lib. I

[2021-07-30 07:42] essenciary commented on #395
@stonepreston It's a chicken and egg type of situation and has to do with the load order. Something needs to be loaded before the other, and in this case, initializers are loaded before /lib. Which I think it makes sense as /lib contains user defined logic and modules, while initializers contain lower level configuration and resources (db connections, app wide settings, etc) to be used in user cod

[2021-08-01 16:31] stonepreston commented on #395
alright I got it working just including the file in the initializer. Thank you!

[2021-08-01 16:31] #395 closed

[2021-08-02 09:53] essenciary commented on #352
@UniqueTokens Thanks for sharing this, I didn't know it, it's a great tip!

Keeping this open though as best address the cause/source of the warning, especially as it only comes up in a couple of apps. There's something that's triggering this behavior in some cases...

[2021-08-04 12:34] essenciary opened #396 "VSCode plugin/support for Genie ecosystem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-05 13:45] guimarqu commented on #331
Hi,

We deployed a Genie web API in a kubernetes cluster. After configuring the deployment, service and ingress, we could not reach the web API from outside. We had 404 or 502 errors.
The problem was that we were running Genie jl using the host `127.0.0.1` instead of `0.0.0.0`. So make sure you use `0.0.0.0`.

[2021-08-06 09:56] essenciary commented on #331
@guimarqu Thanks for the contribution. But it sounds like maybe you're not running the app in production mode (environment), as that, by default, will use `0.0.0.0`

I strongly suggest you run it in production mode as that has a considerable and noticeable performance boost (it's optimized for performance, whereas the dev mode is optimized for building and debugging).

![image](https://user-images

[2021-08-06 10:14] guimarqu commented on #331
Thanks very much for your tips.

We tried to run it in prod but the host was 127.0.0.1 despite what's written in the prod configuration file. We are going look more carefully for what we did wrong.

Thanks again !

[2021-08-06 10:27] essenciary commented on #331
You're welcome!

Weird... maybe you're passing the host explicitly? If you can reproduce, please open an issue. Thanks!

[2021-08-06 13:04] tcarion opened #397 "Genie.WebChannels.ChannelMessage doesn't have a defined StructTypes.StructType"
**Describe the bug**
I'm getting an `ArgumentError("Genie.WebChannels.ChannelMessage doesn't have a defined StructTypes.StructType")` when using `Genie.WebChannels.broadcast`

**Error stacktrace**
[code]
**To reproduce**
I could reproduce the error like this:
[code]

I would say the issue comes from the migration to JSON3. It worked after I did
[code]

but I admit I don't exactly know what I'm doi

[2021-08-06 13:07] essenciary commented on #397
@tcarion Thanks for this! It's definitely related to JSON3 and your solution is most likely the fix :)) I'll take a closer look though.

[2021-08-07 03:49] ChenZhao44 opened #398 "Loading custom module in jl.html"
**Is your feature request related to a problem? Please describe.**
In the jl.html, I want to display
[code]
Here `bar` is a object of type `Bar` defined in `resources/foo/Foo.jl`.
And `baz` is function also defined in `resources/foo/Foo.jl`.

The file `resources/foo/Foo.jl` is like
[code]

It seems that the html.jl file will not load this module.

[2021-08-07 07:25] essenciary commented on #398
How do you render the `html.jl` view file?

Most likely you need to pass `Foo` as the `context` variable/module.

Something like:
`html(:foo, "html.jl"; context = Foo)`

If you call the above in `Foo` you can just pass `context = @__MODULE__`

[2021-08-08 05:24] ChenZhao44 commented on #398
@essenciary Thanks for your help.
I'm using `html(:foo, "...")` in `FooController.jl`.
If I use `context = Foo`, there will be the following error
[code]

But if I use `context = @__MODULE__`, and add `using Foo` in the `FooController`,  I can access `Foo.baz` in the `jl.html` file.

[2021-08-08 09:34] #398 closed

[2021-08-08 10:29] essenciary commented on #398
Perfect yes, that's the way to go

[2021-08-09 04:50] ChenZhao44 opened #399 "Genie.Renderer.Html.partial will remove tags in tables"
**Describe the bug**
`partial` function will remove tags in tables.

**Error stacktrace**
If any error is thrown, please copy from the REPL and paste it here

**To reproduce**
When applying `partial` on a `jl.html` file with table element like
[code]
`<tr></tr>`, `<td></td>` will be removed.
[code]

**Expected behavior**
The expected result is
[code]

**Additional context**
[code]
and
[code]

[2021-08-15 12:41] essenciary commented on #399
This was a nasty one. It required switching the HTML parser from Gumbo to EzXML which required a potentially breaking release. It's now fixed in Genie v3.

[2021-08-15 12:41] #399 closed

[2021-08-15 12:45] essenciary commented on #397
Added in v3

[2021-08-15 13:48] essenciary commented on #352
@sdobber @UniqueTokens For now I've added the code to suppress the loading warning, can't quite figure out what's causing the warning yet. New apps will include this.

[2021-08-15 13:50] #321 closed

[2021-08-15 13:56] #361 closed

[2021-08-16 06:28] UniqueTokens opened #400 "Allow body payload for GET requests"
Currently Genie allows body payload for POST, PUT, or PATCH requests only.

[code]
According [RfC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.1) other requests (especially GET) can carry a body payload too. This is particularly useful if the payload contains sensitive data or, because of its (variable) length, cannot be Base64-encoded as a parameter in the URL, or because it sh

[2021-08-16 09:02] tcarion commented on #397
Hi @essenciary!

I tried with Genie v3, and although I'm not running on error anymore, I still need to do
´StructTypes.StructType(::Type{Genie.WebChannels.ChannelMessage}) = StructTypes.Struct()´ for the message to be passed correctly to the socket.

To be noted that I'm not using the script provided by `channels_support`, I'm handling the messages clientside with the `rxjs/webSocket` utility of A

[2021-08-16 10:04] essenciary commented on #397
Thanks. I used the MVE you provided above and worked well. What do you mean by "for the message to be passed correctly to the socket"? What do you do, what do you expect to happen, and what happens?

[2021-08-17 10:10] tcarion commented on #397
Sorry I was not precise enough.

For example, if I do `Genie.WebChannels.broadcast("channel", "foo")`, `"foo"` is received by the client as expected (I can see the message in the navigator developper tool).

However, as soon as I add a payload, e.g `Genie.WebChannels.broadcast("channel", "foo", Dict(:payload => "bar"))`, nothing is received clientside anymore.

After I do `StructTypes.StructType(:

[2021-08-17 11:21] essenciary commented on #397
Got it, thanks, I'll check it out.

[2021-08-17 11:54] essenciary commented on #397
Got it, thanks, I'll check it out.

[2021-08-19 11:50] jarlela opened #401 "Genie.Toolbox.tasks fails due to undefined ROOT_PATH"
I am unable to run `Genie.Toolbox.tasks` to list registered tasks. It fail with an error complaining about undefined variable `ROOT_PATH`. This can be traced back to `src/Toolbox.jl:33` which is `f = readdir(joinpath(Main.UserApp.ROOT_PATH, Genie.config.path_tasks))`. The `ROOT_PATH` variable is not present in the `UserApp` module.

The source files were generated by calling: `Genie.newapp_mvc` an

[2021-08-22 14:05] logankilpatrick opened #402 "ERROR: UndefVarError: LibGit2 not defined"
Using Julia 1.4.2  with a clean ENV, I get the following:

[code]

First observed here: https://stackoverflow.com/questions/68863298/how-to-create-new-genie-application and I re-produced it.

[2021-08-22 14:11] logankilpatrick commented on #402
This error does not occur on Julia 1.6.x when I tried there

[2021-08-25 05:04] RoyCCWang opened #403 "running local module code within route"
I'm modifying the file upload Genie tutorial [here](https://genieframework.github.io/Genie.jl/dev/tutorials/8--Handling_File_Uploads.html). I ran into an issue that ```route``` does not recognise a local submodule that was loaded.

**Setup:** I have a project called ```MyModule```, i.e., the ```MyModule``` module is defined in ```./src/MyModule.jl```. For convinence of testing without formally pac

[2021-08-31 18:48] Shum88 opened #404 "font-awesome-4.7.0 Character symbol not be shown as expected once using stipple, stippleUI ?"
**Describe the bug**
A clear and concise description of what the bug is.

**Error stacktrace**
If any error is thrown, please copy from the REPL and paste it here

**To reproduce**
Steps to reproduce the behavior and/or Julia code executed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Please include the output of
`julia> versioninfo

[2021-08-31 19:22] essenciary opened #405 "Router should prioritize exact matches before routes with params"
"/projects/new" matches "/projects/:id" instead of "/projects/new"

[2021-08-31 19:27] Shum88 commented on #404
# following is app.jl.html: ----------------------------------------------------------------------

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Genie :: The Highly Productive Julia Web Framework</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%
      @yield
    %>
  </body>
</html>

# following

[2021-08-31 19:33] Shum88 commented on #404
# layouts app.jl.html: --------------------------

`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Genie :: The Highly Productive Julia Web Framework</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%
      @yield
    %>
  </body>
</html>`

# Controller TestsController: ------------------------

`m

[2021-08-31 19:38] Shum88 commented on #404
julia> versioninfo()
Julia Version 1.6.2
Commit 1b93d53fc4 (2021-07-14 15:36 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-11.0.1 (ORCJIT, skylake)

(@v1.6) pkg> st
      Status `C:\Users\wcshu\.julia\environments\v1.6\Project.toml`
  [336ed68f] CSV v0.8.5
  [aaaa29a8] Clustering v0.14.2

[2021-08-31 19:40] Shum88 commented on #404
font-awesome-4.7.0 is downloaded and pu into public of the MVC Genie app framework

[2021-08-31 19:53] Shum88 commented on #404
If page() function change to dashboard()  also not working ---

`module TestsController
using Genie, Genie.Renderer.Html, Stipple, StippleUI
sPage = ""

Base.@kwdef mutable struct Name <: ReactiveModel
name::R{String} = "World!"
end

function ui()
model = Stipple.init(Name())
dashboard(
vm(model), class="container", [
h1([
"Hello "
span("", @text(:name))
])

  p([ """ <span ><i class="fa fa-user f

[2021-08-31 19:55] Shum88 commented on #404
some coding cannot not be display normally due to html code ??

[2021-08-31 20:06] essenciary commented on #404
Thanks - I don't fully understand.

Can you please include a screenshot of what you're getting - and what would you expect to get?

[2021-09-01 04:33] Shum88 commented on #404
Hi Adrain,

Since I donot know upload image to github,
I attached the Zip Genie sample to you this mail ...
with current screen dump and expected one ...

Shum

________________________________
寄件者: Adrian Salceanu ***@***.***>
寄件日期: 2021年9月1日 4:06
收件者: GenieFramework/Genie.jl ***@***.***>
副本: Shum ***@***.***>; Author ***@***.***>
主旨: Re: [GenieFramework/Genie.jl] font-awesome-4.7.0 Character sym

[2021-09-01 05:12] essenciary commented on #404
Hey Shum,

Nothing got attached.

To add an image here you just need to drag and drop it over this comment field.

![Image from iOS](https://user-images.githubusercontent.com/11292378/131615533-6dd39fc6-a51f-40eb-a7cd-7820888cceb5.jpg)

[2021-09-01 20:00] essenciary opened #406 "partial should support the same arguments as html"

[2021-09-01 20:02] essenciary opened #407 "Source mapping between template source and template output"

[2021-09-01 20:02] essenciary opened #408 "Add option for pretty printing of outputted HTML"

[2021-09-01 20:03] essenciary opened #409 "Make built templates files names more readable"

[2021-09-01 20:05] essenciary opened #410 "Add custom exception catching for errors in templates"
* output the content in the source of the template
* make it easy to edit the source file and view the output file
* make it easy to purge all views

[2021-09-07 09:44] essenciary opened #411 "Refactor out some of the globals (eg Router.params()) for example by using dependency injection"
Could pass `params()` into the request handlers as kwd args `(; kwd...)`?

[2021-09-07 09:45] essenciary commented on #408
Implemented

[2021-09-07 09:45] #408 closed

[2021-09-07 09:49] essenciary commented on #402
@logankilpatrick Thanks - it looks like Pkg did not have LibGit2 in Julia 1.4. I'll see what I can do to keep compatibility with older Julia versions.

[2021-09-10 08:58] essenciary opened #412 "Ajax (axios?) support [GenieAjax]"
Plugin for ajax requests

[2021-09-14 01:46] jvo203 commented on #151
Me too, I would like to replace the bog-standard HTTP.jl + WebSockets.jl with Genie.jl. However, the lack of full support for Distributed.jl with #workers > 1 is a show-stopper. Have just tested Genie.jl. As of September 2021 running the test code with "julia -p 4" (anything greater than 1) produces "Error: GET / 404". End of the story...

[2021-09-14 07:14] essenciary commented on #151
@jvo203 Thanks for surfacing this - we might have a bit of bandwidth to tackle this soon. Contributions would be more than welcomed (and I'd be happy to support and join any efforts around this issue).

[2021-09-14 15:41] Shum88 opened #413 "Ask Genie.Router.params() support for nested array parameter"
Some js lib (ie.: DataTables.js) ...it will send nested array parameter to server side.

No, Genie can pick them up one by one ...for example: params(Symbol("columns[0][data]")) , params(Symbol("columns[0][name]")) ... etc

Hope Genie can handle nested array more comfortable way.

following diagram show an example:
![form_data_003](https://user-images.githubusercontent.com/3876605/133289374-94c46f